<div class="grid">
    <div class="col-12 md:col-6">
        <label class="block mb-2" for="fieldName">
            {{ 'NAME' | translate }}
        </label>
        <input type="text" id="fieldName" class="w-full mb-2" pInputText
               [(ngModel)]="model.name">
    </div>
    <div class="col-12 md:col-6">
        <label class="block mb-2" for="fieldPath">
            {{ 'PATH' | translate }}
        </label>
        <input type="text" id="fieldPath" class="w-full mb-2" pInputText
               [(ngModel)]="model.path"
               [readonly]="isPathReadOnly">
    </div>
</div>

<div class="grid mb-3">
    <div class="col-12 md:col-6">
        <div class="pt-2">
            <p-inputSwitch inputId="fieldClearCache" styleClass="mr-2 vertical-align-middle"
                           [(ngModel)]="model.clearCache"></p-inputSwitch>
            <label class="vertical-align-middle" for="fieldClearCache">
                {{ 'CLEAR_SYSTEM_CACHE' | translate }}
            </label>
        </div>
    </div>
</div>

<div class="mb-0">
    <label class="block mb-2">{{ 'CODE' | translate }}:</label>
    <div class="border" id="editor-{{ model.type }}-{{ model.id }}"></div>
</div>

<div role="separator" class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left">
    <div class="p-divider-content"></div>
</div>

<p-message styleClass="block w-full text-left mb-3" severity="error"
           [text]="errorMessage"
           *ngIf="errorMessage"></p-message>

<div class="text-center pt-2">
    <button pButton pRipple type="button" [label]="'SAVE_AND_CLOSE' | translate" icon="pi pi-check"
            class="p-button-success p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
            (click)="saveData(true, $event)"></button>
    <button pButton pRipple type="button" [label]="'SAVE' | translate" icon="pi pi-check"
            class="p-button-warning p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
            (click)="saveData(false, $event)"></button>
    <button pButton pRipple type="button" [label]="'CLOSE' | translate"
            class="p-button-secondary p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
            (click)="dismissModal($event)"></button>
</div>
