<div [ngClass]="{'no-events loading': loading}">
    
    <div class="modal-header d-block">
        <h4 class="modal-title text-success">
            <i class="icon-arrow-up-circle"></i>
            {{ 'SYSTEM_UPDATE' | translate }}
        </h4>
    </div>
    <div class="modal-body">
        
        <div>
            <div class="mb-3" [ngClass]="{'text-muted': stepNumber != 1}">
                <i class="icon-check-circle mr-2 text-success" *ngIf="stepNumber > 1; else iconCircleTemplate"></i>
                {{ 'SYSTEM_UPDATE_STEP1_DESCRIPTION' | translate }}
            </div>
            <div class="mb-3" [ngClass]="{'text-muted': stepNumber != 2}">
                <i class="icon-check-circle mr-2 text-success" *ngIf="stepNumber > 2; else iconCircleTemplate"></i>
                {{ 'SYSTEM_UPDATE_STEP2_DESCRIPTION' | translate }}
            </div>
            <div class="mb-3" [ngClass]="{'text-muted': stepNumber != 3}">
                <i class="icon-check-circle mr-2 text-success" *ngIf="stepNumber > 3; else iconCircleTemplate"></i>
                {{ 'SYSTEM_UPDATE_STEP3_DESCRIPTION' | translate }}
            </div>
            <ng-template #iconCircleTemplate>
                <i class="icon-circle mr-2"></i>
            </ng-template>
        </div>
        
        <div class="show-on-hover-parent" *ngIf="stepNumber == 1">
            <app-file-widget
                fieldName="file"
                [hasPreviewImage]="false"
                [allowMultiple]="false"
                [allowedExtensions]="'.zip'"
                #filesWidget></app-file-widget>
            <div class="pos-absolute-left-bottom10 show-on-hover">
                <button type="button" class="btn btn-sm btn-secondary" (click)="skipStepHandler($event)">
                    {{ 'SKIP' | translate }}
                </button>
            </div>
        </div>
        
        <div *ngIf="stepNumber == 3 && !isUpdateStarted">
            <div class="text-success mb-2">
                {{ 'CURRENT_VERSION' | translate }}: <span>{{ currentVersion }}</span><br>
                {{ 'NEW_VERSION' | translate }}: <b class="big">{{ version }}</b>
            </div>
            <ngb-accordion class="ngb-accordion">
                <ngb-panel id="accordion-settings-1" [title]="'CHANGELOG' | translate">
                    <ng-template ngbPanelContent>
                        <pre class="max-height400 mb-0">{{ changelogContent }}</pre>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        
        <div class="py-4" *ngIf="isUpdateStarted">
            <ngb-progressbar type="info" textType="white" [striped]="true" [animated]="true" [value]="updatePercent" [showValue]="true"></ngb-progressbar>
        </div>
    
        <div class="alert alert-danger mt-3 mb-0" *ngIf="errorMessage">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage = ''">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ errorMessage | translate }}
        </div>
    
    </div>
    <div class="modal-footer d-block pt-0">
        <button type="button" class="btn btn-primary btn-wide" (click)="nextStepHandler($event)" [disabled]="loading">
            {{ 'CONTINUE' | translate }}
            <i class="icon-arrow-right ms-2"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-wide" (click)="closeModal('close')" [disabled]="loading">
            {{ 'CLOSE' | translate }}
        </button>
    </div>

</div>
