<div class="card">
    <div class="card-body" [class.loading]="loading">

        <div class="float-md-start">
            <h3>
                <i class="icon-cog"></i>
                {{'SETTINGS' | translate}}
            </h3>
        </div>

        <div class="float-md-end">
            
            <div ngbDropdown class="d-block d-md-inline-block" placement="bottom-right">
                <button class="btn btn-info btn-sm d-block d-md-inline-block width-100 width-md-auto mb-2 mb-md-0" ngbDropdownToggle>
                    <i class="icon-repeat"></i>
                    &nbsp;
                    <span>{{'CLEAR_CACHE' | translate}}</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="runActionPost('clear_cache')">
                        <i class="icon-reload text-info"></i>
                        &nbsp;
                        {{'CLEAR_FILE_CACHE' | translate}}
                    </button>
                    <button class="dropdown-item" (click)="runActionPost('clear_system_cache')">
                        <i class="icon-repeat text-info"></i>
                        &nbsp;
                        {{'CLEAR_SYSTEM_CACHE' | translate}}
                    </button>
                    <button class="dropdown-item" (click)="runActionPost('update_internationalization')">
                        <i class="icon-globe text-info"></i>
                        &nbsp;
                        {{'UPDATE_DICTIONARIES' | translate}}
                    </button>
                    <button class="dropdown-item" (click)="runActionPost('update_filters')">
                        <i class="icon-tag text-info"></i>
                        &nbsp;
                        {{'UPDATE_FILTERS' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <hr>

        <div class="row">
            <div class="col-lg-6 mb-3">

                <!-- settings -->
                <p-table dataKey="name" editMode="row" [value]="settings.SETTINGS_MAIN.values"
                         responsiveLayout="fixed"
                         [scrollable]="true"
                         [scrollHeight]="scrollHeight + 'px'">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{'PARAMETER' | translate}}</th>
                            <th>{{'VALUE' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-setting let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="setting">
                            <td style="width: 50%;">
                                <div class="show-on-hover-parent w-100">
                                    <div class="show-on-hover-child position-relative">
                                        <div class="pos-absolute-right">
                                            <span class="badge bg-secondary">{{ setting.name }}</span>
                                        </div>
                                    </div>
                                    <div class="text-overflow" [title]="setting.name | translate">
                                        {{ setting.name | translate }}
                                    </div>
                                </div>
                            </td>
                            <td style="width: 50%;">
                                <div class="show-on-hover-parent min-height20 w-100">
                                    <div class="show-on-hover-child position-absolute pos-right" [class.pos-top]="editing" [class.pos-top-5]="!editing">
                                        <button *ngIf="!editing" pButton type="button"
                                                pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(setting)"
                                                [pTooltip]="'EDIT' | translate"
                                                tooltipPosition="bottom"
                                                class="p-button-raised p-button-rounded"></button>
                                        <button *ngIf="editing" pButton type="button"
                                                pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(setting)"
                                                [pTooltip]="'SAVE' | translate"
                                                tooltipPosition="bottom"
                                                class="p-button-raised p-button-rounded p-button-success ms-2"></button>
                                        <button *ngIf="editing" pButton type="button"
                                                pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(setting, ri)"
                                                [pTooltip]="'CANCEL' | translate"
                                                tooltipPosition="bottom"
                                                class="p-button-raised p-button-rounded p-button-danger ms-2"></button>
                                    </div>
                                    <p-cellEditor style="display: block; width: 100%;">
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" class="p-inputtext-sm w-100" [(ngModel)]="setting.value">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <div class="text-overflow" [title]="setting.value" [ngClass]="{'text-password': getFieldTypeByName(setting) == 'password'}">
                                                {{ setting.value }}
                                            </div>
                                        </ng-template>
                                    </p-cellEditor>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <!-- /settings -->

            </div>
            <div class="col-lg-6 mb-3">

                <ngb-accordion [closeOthers]="true" activeIds="accordion-settings-1" class="ngb-accordion">

                    <!-- statuses -->
                    <ngb-panel id="accordion-settings-1" [title]="'SETTINGS_ORDER_STATUSES' | translate">
                        <ng-template ngbPanelContent>
                            <div [class.loading]="settings.SETTINGS_DELIVERY.loading">
                                <div class="text-muted pb-2">
                                    {{'SETTINGS_STATUSES_DESCRIPTION' | translate}}
                                </div>
                                <div class="table-responsive">
                                    <p-table styleClass="p-datatable-sm" [value]="settings.SETTINGS_ORDER_STATUSES.values">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th width="40%">{{'NAME' | translate}}</th>
                                                <th width="40%">{{'MAIL_TEMPLATE' | translate}}</th>
                                                <th width="10%">{{'COLOR' | translate}}</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.name"
                                                           (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.options.template.value"
                                                           (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')">
                                                </td>
                                                <td>
                                                    <p-colorPicker
                                                        [appendTo]="'body'"
                                                        [(ngModel)]="setting.options.color.value"
                                                        (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')"></p-colorPicker>
                                                </td>
                                                <td>
                                                    <button pButton type="button" icon="pi pi-times"
                                                            class="p-button-raised p-button-rounded p-button-secondary ms-2"
                                                            (click)="deleteSetting('SETTINGS_ORDER_STATUSES', index)"
                                                            [pTooltip]="'DELETE' | translate"
                                                            tooltipPosition="bottom"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="text-center pt-2">
                                        <div class="relative">
                                            <div class="pos-absolute-right" *ngIf="settings.SETTINGS_ORDER_STATUSES.changed">
                                                <button type="button" class="btn btn-info btn-sm"
                                                        (click)="saveSettings('SETTINGS_ORDER_STATUSES')">
                                                    <i class="icon-check"></i>
                                                    &nbsp;
                                                    <span>{{'SAVE' | translate}}</span>
                                                </button>
                                                &nbsp;
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        (click)="resetSettingsForm('SETTINGS_ORDER_STATUSES')"
                                                        pTooltip="{{'FORM_RESET' | translate}}" tooltipPosition="bottom">
                                                    <i class="icon-reload"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm" (click)="addSetting('SETTINGS_ORDER_STATUSES')">
                                            <i class="icon-plus"></i>
                                            &nbsp;
                                            <span>{{'ADD' | translate}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <!-- /statuses -->

                    <!-- delivery -->
                    <ngb-panel id="accordion-settings-2" [title]="'SETTINGS_DELIVERY' | translate">
                        <ng-template ngbPanelContent>
                            <div [class.loading]="settings.SETTINGS_DELIVERY.loading">
                                <div class="text-muted pb-2">
                                    {{'SETTINGS_DELIVERY_DESCRIPTION' | translate}}
                                </div>
                                <div class="table-responsive">
                                    <p-table styleClass="p-datatable-sm" [value]="settings.SETTINGS_DELIVERY.values">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th width="40%">{{'NAME' | translate}}</th>
                                                <th width="25%">{{'PRICE' | translate}}</th>
                                                <th width="25%">{{'MAX_PRICE' | translate}}</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.name"
                                                           (ngModelChange)="onValueChanged('SETTINGS_DELIVERY')">
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control form-control-sm" step="1" min="0"
                                                           [(ngModel)]="setting.options.price.value"
                                                           (ngModelChange)="onValueChanged('SETTINGS_DELIVERY')">
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control form-control-sm" step="1" min="0"
                                                           [(ngModel)]="setting.options.priceLimit.value"
                                                           (ngModelChange)="onValueChanged('SETTINGS_DELIVERY')">
                                                </td>
                                                <td>
                                                    <button pButton type="button" icon="pi pi-times"
                                                            class="p-button-raised p-button-rounded p-button-secondary ms-2"
                                                            (click)="deleteSetting('SETTINGS_DELIVERY', index)"
                                                            [pTooltip]="'DELETE' | translate"
                                                            tooltipPosition="bottom"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="text-center pt-2">
                                        <div class="relative">
                                            <div class="pos-absolute-right" *ngIf="settings.SETTINGS_DELIVERY.changed">

                                                <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_DELIVERY')">
                                                    <i class="icon-check"></i>
                                                    &nbsp;
                                                    <span>{{'SAVE' | translate}}</span>
                                                </button>
                                                &nbsp;
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        (click)="resetSettingsForm('SETTINGS_DELIVERY')"
                                                        pTooltip="{{'FORM_RESET' | translate}}" tooltipPosition="bottom">
                                                    <i class="icon-reload"></i>
                                                </button>

                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm" (click)="addSetting('SETTINGS_DELIVERY')">
                                            <i class="icon-plus"></i>
                                            &nbsp;
                                            <span>{{'ADD' | translate}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <!-- /delivery -->

                    <!-- payments -->
                    <ngb-panel id="accordion-settings-3" [title]="'SETTINGS_PAYMENT' | translate">
                        <ng-template ngbPanelContent>
                            <div [class.loading]="settings.SETTINGS_PAYMENT.loading">
                                <div class="text-muted pb-2">
                                    {{'SETTINGS_PAYMENT_DESCRIPTION' | translate}}
                                </div>
                                <div class="table-responsive">
                                    <p-table styleClass="p-datatable-sm" [value]="settings.SETTINGS_PAYMENT.values">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th width="45%">{{'NAME' | translate}}</th>
                                                <th width="45%">{{'VALUE' | translate}}</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.name"
                                                           (ngModelChange)="onValueChanged('SETTINGS_PAYMENT')">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.options.value.value"
                                                           (ngModelChange)="onValueChanged('SETTINGS_PAYMENT')">
                                                </td>
                                                <td>
                                                    <button pButton type="button" icon="pi pi-times"
                                                            class="p-button-raised p-button-rounded p-button-secondary ms-2"
                                                            (click)="deleteSetting('SETTINGS_PAYMENT', index)"
                                                            [pTooltip]="'DELETE' | translate"
                                                            tooltipPosition="bottom"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="text-center pt-2">
                                        <div class="relative">
                                            <div class="pos-absolute-right" *ngIf="settings.SETTINGS_PAYMENT.changed">

                                                <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_PAYMENT')">
                                                    <i class="icon-check"></i>
                                                    &nbsp;
                                                    <span>{{'SAVE' | translate}}</span>
                                                </button>
                                                &nbsp;
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        (click)="resetSettingsForm('SETTINGS_PAYMENT')"
                                                        pTooltip="{{'FORM_RESET' | translate}}" tooltipPosition="bottom">
                                                    <i class="icon-reload"></i>
                                                </button>

                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm" (click)="addSetting('SETTINGS_PAYMENT')">
                                            <i class="icon-plus"></i>
                                            &nbsp;
                                            <span>{{'ADD' | translate}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <!-- /payments -->

                    <!-- currencies -->
                    <ngb-panel id="accordion-settings-4" [title]="'SETTINGS_CURRENCY' | translate">
                        <ng-template ngbPanelContent>
                            <div [class.loading]="settings.SETTINGS_CURRENCY.loading">
                                <div class="text-muted pb-2">
                                    {{'SETTINGS_CURRENCY_RATE_DESCRIPTION' | translate}}
                                </div>
                                <div class="table-responsive">
                                    <p-table styleClass="p-datatable-sm" [value]="settings.SETTINGS_CURRENCY.values">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th width="45%">{{'CURRENCY' | translate}}</th>
                                                <th width="45%">{{'VALUE' | translate}}</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.name"
                                                           (ngModelChange)="onValueChanged('SETTINGS_CURRENCY')">
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control form-control-sm" step="1" min="0"
                                                           [(ngModel)]="setting.options.value.value"
                                                           (ngModelChange)="onValueChanged('SETTINGS_CURRENCY')">
                                                </td>
                                                <td>
                                                    <button pButton type="button" icon="pi pi-times"
                                                            class="p-button-raised p-button-rounded p-button-secondary ms-2"
                                                            (click)="deleteSetting('SETTINGS_CURRENCY', index)"
                                                            [pTooltip]="'DELETE' | translate"
                                                            tooltipPosition="bottom"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="text-center pt-2">
                                        <div class="relative">
                                            <div class="pos-absolute-right" *ngIf="settings.SETTINGS_CURRENCY.changed">

                                                <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_CURRENCY')">
                                                    <i class="icon-check"></i>
                                                    &nbsp;
                                                    <span>{{'SAVE' | translate}}</span>
                                                </button>
                                                &nbsp;
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        (click)="resetSettingsForm('SETTINGS_CURRENCY')"
                                                        pTooltip="{{'FORM_RESET' | translate}}" tooltipPosition="bottom">
                                                    <i class="icon-reload"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm" (click)="addSetting('SETTINGS_CURRENCY')">
                                            <i class="icon-plus"></i>
                                            &nbsp;
                                            <span>{{'ADD' | translate}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <!-- /currencies -->

                    <!-- promo_codes -->
                    <ngb-panel id="accordion-settings-7" [title]="'SETTINGS_PROMOCODES' | translate">
                        <ng-template ngbPanelContent>
                            <div [class.loading]="settings.SETTINGS_PROMOCODES.loading">
                                <div class="text-muted pb-2">
                                    {{'SETTINGS_PROMOCODES_DESCRIPTION' | translate}}
                                </div>
                                <div class="table-responsive">
                                    <p-table styleClass="p-datatable-sm" [value]="settings.SETTINGS_PROMOCODES.values">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th width="30%">{{'PROMO_CODE' | translate}}</th>
                                                <th width="30%">{{'VALUE' | translate}}</th>
                                                <th width="30%">{{'QUANTITY' | translate}}</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.name"
                                                           (ngModelChange)="onValueChanged('SETTINGS_PROMOCODES')">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.options.value.value"
                                                           (ngModelChange)="onValueChanged('SETTINGS_PROMOCODES')">
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.options.quantity.value"
                                                           (ngModelChange)="onValueChanged('SETTINGS_PROMOCODES')">
                                                </td>
                                                <td>
                                                    <button pButton type="button" icon="pi pi-times"
                                                            class="p-button-raised p-button-rounded p-button-secondary ms-2"
                                                            (click)="deleteSetting('SETTINGS_PROMOCODES', index)"
                                                            [pTooltip]="'DELETE' | translate"
                                                            tooltipPosition="bottom"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="text-center pt-2">
                                        <div class="relative">
                                            <div class="pos-absolute-right" *ngIf="settings.SETTINGS_PROMOCODES.changed">
                                                <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_PROMOCODES')">
                                                    <i class="icon-check"></i>
                                                    &nbsp;
                                                    <span>{{'SAVE' | translate}}</span>
                                                </button>
                                                &nbsp;
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        (click)="resetSettingsForm('SETTINGS_PROMOCODES')"
                                                        pTooltip="{{'FORM_RESET' | translate}}" tooltipPosition="bottom">
                                                    <i class="icon-reload"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm" (click)="addSetting('SETTINGS_PROMOCODES')">
                                            <i class="icon-plus"></i>
                                            &nbsp;
                                            <span>{{'ADD' | translate}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <!-- /promo_codes -->

                    <!-- languages -->
                    <ngb-panel id="accordion-settings-5" [title]="'SETTINGS_LANGUAGES' | translate">
                        <ng-template ngbPanelContent>
                            <div [class.loading]="settings.SETTINGS_LANGUAGES.loading">
                                <div class="text-muted pb-2">
                                    {{'SETTINGS_LANGUAGES_DESCRIPTION' | translate}}
                                </div>
                                <div class="table-responsive">
                                    <p-table styleClass="p-datatable-sm" [value]="settings.SETTINGS_LANGUAGES.values">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th width="45%">{{'LANGUAGE' | translate}}</th>
                                                <th width="45%">{{'LOCALE' | translate}}</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.name"
                                                           (ngModelChange)="onValueChanged('SETTINGS_LANGUAGES')">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm"
                                                           [(ngModel)]="setting.options.value.value"
                                                           (ngModelChange)="onValueChanged('SETTINGS_LANGUAGES')">
                                                </td>
                                                <td>
                                                    <button pButton type="button" icon="pi pi-times"
                                                            class="p-button-raised p-button-rounded p-button-secondary ms-2"
                                                            (click)="deleteSetting('SETTINGS_LANGUAGES', index)"
                                                            [pTooltip]="'DELETE' | translate"
                                                            tooltipPosition="bottom"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="text-center pt-2">
                                        <div class="relative">
                                            <div class="pos-absolute-right" *ngIf="settings.SETTINGS_LANGUAGES.changed">
                                                <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_LANGUAGES')">
                                                    <i class="icon-check"></i>
                                                    &nbsp;
                                                    <span>{{'SAVE' | translate}}</span>
                                                </button>
                                                &nbsp;
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        (click)="resetSettingsForm('SETTINGS_LANGUAGES')"
                                                        pTooltip="{{'FORM_RESET' | translate}}" tooltipPosition="bottom">
                                                    <i class="icon-reload"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-secondary btn-sm" (click)="addSetting('SETTINGS_LANGUAGES')">
                                            <i class="icon-plus"></i>
                                            &nbsp;
                                            <span>{{'ADD' | translate}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <!-- /languages -->

                    <!-- composerPackages -->
                    <ngb-panel id="accordion-settings-6" [title]="'SETTINGS_COMPOSER_PACKAGES' | translate">
                        <ng-template ngbPanelContent>

                            <div [ngClass]="{'loading': settings.SETTINGS_COMPOSER_PACKAGES.loading}">
                                
                                <div class="float-end">
                                    <button type="button" class="btn btn-sm btn-success" (click)="modalSystemUpdate($event)">
                                        <i class="icon-arrow-up-circle"></i>
                                        {{ 'SYSTEM_UPDATE' | translate }}
                                    </button>
                                </div>
                                
                                <div class="pb-3 text-muted mb-2">
                                    {{ 'SETTINGS_COMPOSER_PACKAGES_DESCRIPTION' | translate }}
                                </div>

                                <div class="form-control-search mb-3" [ngClass]="{'form-control-search-clear': !!composerPackageNameFilter}">
                                    <input type="text" class="form-control form-control-sm" placeholder="{{ 'SEARCH' | translate }}..." [(ngModel)]="composerPackageNameFilter">
                                    <span (click)="composerPackageNameFilter = ''"></span>
                                </div>

                                <div class="alert alert-info py-1 px-3" *ngIf="(composerPackages | filter: {name: composerPackageNameFilter}).length === 0; else composerPackagesTable">
                                    {{ 'NOTHING_FOUND' | translate }}.
                                </div>

                                <ng-template #composerPackagesTable>
                                    <div>
                                        <div class="table-responsive">
                                            <p-table [value]="composerPackages | filter: {name: composerPackageNameFilter}"
                                                     [scrollable]="true"
                                                     scrollHeight="400px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th width="60%">{{'NAME' | translate}}</th>
                                                        <th width="40%">{{'VERSION' | translate}}</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-package let-index="rowIndex">
                                                    <tr>
                                                        <td>
                                                            {{ package.name }}
                                                        </td>
                                                        <td>
                                                            {{ package.version }}
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </ng-template>

                                <div class="card card-body p-2 mt-3" style="display:none;">
                                    <div class="row no-gutters">
                                        <div class="col-5 pe-1">
                                            <input type="text" class="form-control form-control-sm"
                                                   placeholder="package / class name"
                                                   [(ngModel)]="composerPackageName">
                                        </div>
                                        <div class="col-4 ps-1 pe-1">
                                            <input type="text" class="form-control form-control-sm"
                                                   placeholder="version / class path"
                                                   [(ngModel)]="composerPackageVersion">
                                        </div>
                                        <div class="col-3 ps-1">
                                            <button type="button" class="btn btn-success btn-sm d-block w-100" (click)="requirePackage($event)">
                                                {{'INSTALL' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </ng-template>
                    </ngb-panel>
                    <!-- /composerPackages -->

                </ngb-accordion>

            </div>
        </div>

    </div>
</div>

<p-toast key="message" position="bottom-right"></p-toast>
