{% extends 'profile/profile.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">

            <h4>{{ 'Contact details' | trans }}</h4>



        </div>
    </div>
{% endblock %}
