###> symfony/framework-bundle ###
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
###< symfony/phpunit-bridge ###
/frontend/node_modules/
/public/node_modules/
/.idea
/.env
/.phpunit.result.cache
/phpunit.xml

/public/media/cache/
/public/admin/bundle-dev/
/config/settings.yaml

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
/docs/wiki/
/frontend/projects/

