/.idea/
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/node_modules/
/web/lib/
/web/shk-app/node_modules/
/web/shk-app/bundle-dev/
/web/uploads/
/web/media/
/app/config/parameters.yml
/src/AppBundle/Document/**/*.php~
/app/config/settings.yml
/docs/wiki/
