<div>
    <form [formGroup]="form" #formEl>

        <div class="grid" *ngIf="!isRoot">
            <div class="col-12 md:col-6 mb-2">
                <label class="block mb-2" for="fieldParent">
                    {{ 'PARENT_FOLDER' | translate }}
                </label>
                <app-select-parent-dropdown formControlName="parentId"
                                            [filterId]="filterParentId"></app-select-parent-dropdown>
            </div>
        </div>
        
        <div class="grid">
            <div class="col-12 md:col-6">
                <div class="mb-3">
                    <label class="block mb-2" for="fieldTitle">
                        {{ 'TITLE' | translate }}
                    </label>
                    <input type="text" id="fieldTitle" class="w-full" pInputText
                           formControlName="title">
                </div>
                <div>
                    <label class="block mb-2" for="fieldSystemName">
                        {{ 'SYSTEM_NAME' | translate }}
                    </label>
                    <div class="p-inputgroup">
                        <input type="text" id="fieldSystemName" class="w-full" pInputText
                               formControlName="name">
                        <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-info"
                                [pTooltip]="'GENERATE' | translate"
                                tooltipPosition="bottom"
                                (click)="generateName(model, $event)"></button>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2" for="fieldDescription">
                    {{ 'DESCRIPTION' | translate }}
                </label>
                <textarea id="fieldDescription" class="w-full mb-2" rows="6" pInputTextarea
                          formControlName="description"></textarea>
            </div>
        </div>

        <div class="grid">
            <div class="col-12 md:col-6 mb-2">
                <div class="mb-3">
                    <label class="block mb-2" for="fieldContentType">
                        {{ 'CONTENT_TYPE' | translate }}
                    </label>
                    <p-dropdown formControlName="contentTypeName"
                                [options]="contentTypes"
                                styleClass="w-full"
                                inputId="fieldContentType"
                                optionLabel="title"
                                optionValue="name"
                                name="contentTypeName"></p-dropdown>
                </div>
                <div class="mb-2">
                    <label class="block mb-2" for="fieldMenuIndex">
                        {{ 'MENU_INDEX' | translate }}
                    </label>
                    <input type="number" id="fieldMenuIndex" class="w-full" pInputText
                           formControlName="menuIndex">
                </div>
            </div>
            <div class="col-12 md:col-6 mb-2">
                <label class="block mb-2" for="fieldImage">
                    {{ 'IMAGE' | translate }}
                </label>
                <app-file-widget
                    formControlName="image"
                    [hasPreviewImage]="true"
                    [allowedExtensions]="'image/*'"
                    [(files)]="files"></app-file-widget>
            </div>
        </div>

        <div class="grid">
            <div class="col-12 md:col-6">
                <p-inputSwitch inputId="fieldActive" styleClass="mr-2 vertical-align-middle"
                               formControlName="isActive"></p-inputSwitch>
                <label class="vertical-align-middle" for="fieldActive">
                    {{ 'ACTIVE' | translate }}
                </label>
            </div>
            <div class="col-12 md:col-6">
                <p-inputSwitch inputId="fieldClearCache" styleClass="mr-2 vertical-align-middle"
                               formControlName="clearCache"></p-inputSwitch>
                <label class="vertical-align-middle" for="fieldClearCache">
                    {{ 'CLEAR_FILE_CACHE' | translate }}
                </label>
            </div>
        </div>
            

        <div role="separator" class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left">
            <div class="p-divider-content"></div>
        </div>

        <p-message styleClass="block w-full text-left mb-3" severity="error"
                   [text]="errorMessage"
                   *ngIf="errorMessage"></p-message>

        <div class="text-center pt-2">
            <button pButton pRipple type="button" [label]="'SAVE_AND_CLOSE' | translate" icon="pi pi-check"
                    class="p-button-success p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="saveData(true, $event)"></button>
            <button pButton pRipple type="button" [label]="'SAVE' | translate" icon="pi pi-check"
                    class="p-button-warning p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="saveData(false, $event)"></button>
            <button pButton pRipple type="button" [label]="'CLOSE' | translate"
                    class="p-button-secondary p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="closeModal($event)"></button>
        </div>
    </form>
</div>
<div class="loading-overlay" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
