<div>
    <form [formGroup]="form" #formEl>

        <div class="grid">
            <div class="col-12 md:col-6">
                <div class="mb-2">
                    <label class="block mb-2" for="fieldTitle">
                        {{ 'TITLE' | translate }}
                    </label>
                    <input type="text" id="fieldTitle" class="w-full" pInputText
                           formControlName="title">
                </div>
                <div>
                    <label class="block mb-2" for="fieldSystemName">
                        {{ 'SYSTEM_NAME' | translate }}
                    </label>
                    <input type="text" id="fieldSystemName" class="w-full" pInputText
                           formControlName="name">
                </div>
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2" for="fieldDescription">
                    {{ 'DESCRIPTION' | translate }}
                </label>
                <textarea id="fieldDescription" class="w-full mb-2" rows="5" pInputTextarea
                          formControlName="description"></textarea>
            </div>
        </div>

        <div class="grid">
            <div class="col-12 md:col-6 mb-3">
                <label class="block mb-2" for="fieldCollection">
                    {{ 'COLLECTION' | translate }}
                </label>
                <div class="p-inputgroup">
                    <button type="button" pButton pRipple icon="pi pi-plus" styleClass="p-button-info"
                            [pTooltip]="'ADD_COLLECTION' | translate"
                            tooltipPosition="bottom"
                            (click)="openBlock(panelAddCollection, newCollectionField, $event)"></button>
                    <p-dropdown styleClass="w-full border-noround" inputId="fieldCollection"
                                [options]="collections"
                                formControlName="collection"></p-dropdown>
                    <button type="button" pButton pRipple icon="pi pi-times" styleClass="p-button-info"
                            [pTooltip]="'DELETE' | translate"
                            tooltipPosition="bottom"
                            (click)="deleteCollection()"></button>
                </div>
                <div class="pt-3 hidden" #panelAddCollection>
                    <p-panel [header]="'ADD_COLLECTION' | translate" styleClass="p-panel-sm">
                        <input type="text" id="fieldNewCollection" class="w-full mb-3" pInputText #newCollectionField>
                        <div class="text-right">
                            <button type="button" pButton pRipple
                                    class="p-button-secondary p-button-sm ml-2"
                                    [label]="'ADD' | translate"
                                    (click)="addCollection(newCollectionField, $event)"></button>
                            <button type="button" pButton pRipple
                                    class="p-button-secondary p-button-sm ml-2"
                                    [label]="'CANCEL' | translate"
                                    (click)="closeBlock(panelAddCollection, $event)"></button>
                        </div>
                    </p-panel>
                </div>
            </div>
            <div class="col-12 md:col-6 mb-3">
                
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-12 md:col-6">
                <p-inputSwitch inputId="fieldActive" styleClass="mr-2 vertical-align-middle"
                               formControlName="isActive"></p-inputSwitch>
                <label class="vertical-align-middle" for="fieldActive">
                    {{ 'ACTIVE' | translate }}
                </label>
            </div>
            <div class="col-12 md:col-6">
                <p-inputSwitch inputId="fieldCreateByUsersAllowed" styleClass="mr-2 vertical-align-middle"
                               formControlName="isCreateByUsersAllowed"></p-inputSwitch>
                <label class="vertical-align-middle" for="fieldCreateByUsersAllowed">
                    {{ 'CREATE_BY_USERS_ALLOWED' | translate }}
                </label>
            </div>
        </div>

        <p-message styleClass="block w-full text-left mb-3" severity="error"
                   [text]="errorMessageTop"
                   *ngIf="errorMessageTop"></p-message>

        <div class="mb-3">
            <p-table [value]="model.fields"
                     [loading]="loading"
                     [(contextMenuSelection)]="itemSelected"
                     [contextMenu]="contextMenu"
                     dataKey="name"
                     editMode="row">
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{ 'TITLE' | translate }}</th>
                        <th>{{ 'INPUT_TYPE' | translate }}</th>
                        <th>{{ 'GROUP' | translate }}</th>
                        <th>{{ 'REQUIRED' | translate }}</th>
                        <th>{{ 'SHOW_IN_TABLE' | translate }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-field let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="field" class="show-on-hover-parent" [pContextMenuRow]="field">
                        <td>{{ field.title }} <span class="text-500">({{ field.name }})</span></td>
                        <td>{{ field.inputType }}</td>
                        <td>{{ field.group }}</td>
                        <td>
                            <app-render-output [value]="field.required" outputType="boolean"></app-render-output>
                        </td>
                        <td>
                            <app-render-output [value]="field.showInTable" outputType="boolean"></app-render-output>
                            <div class="absolute show-on-hover pos-top10 pos-right10">
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button p-button-sm p-button-rounded p-button-info"
                                        [pTooltip]="'EDIT' | translate"
                                        tooltipPosition="bottom" (click)="editField(field, $event)"></button>
                                <button pButton pRipple icon="pi pi-clone"
                                        class="p-button p-button-sm p-button-rounded p-button-info ml-2"
                                        [pTooltip]="'CLONE' | translate"
                                        tooltipPosition="bottom" (click)="copyField(field, $event)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                        class="p-button p-button-sm p-button-rounded p-button-danger ml-2"
                                        [pTooltip]="'DELETE' | translate"
                                        tooltipPosition="bottom" (click)="deleteField(field, $event)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="text-center">
                        <button type="button" pButton pRipple
                                class="p-button-secondary p-button-sm"
                                icon="pi pi-plus"
                                iconPos="left"
                                [label]="'ADD' | translate" (click)="addField($event)"></button>
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-message styleClass="block w-full text-left mb-3" severity="error"
                   [text]="errorMessage"
                   *ngIf="errorMessage"></p-message>

        <div class="text-right pt-2">
            <button pButton pRipple type="button" [label]="'SAVE_AND_CLOSE' | translate" icon="pi pi-check"
                    class="p-button-success p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="saveData(true, $event)"></button>
            <button pButton pRipple type="button" [label]="'SAVE' | translate" icon="pi pi-check"
                    class="p-button-warning p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="saveData(false, $event)"></button>
            <button pButton pRipple type="button" [label]="'CLOSE' | translate"
                    class="p-button-secondary p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="dismissModal($event)"></button>
        </div>
    </form>

</div>
<div class="loading-overlay" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>

<p-contextMenu #contextMenu [model]="contextMenuItems" appendTo="body"></p-contextMenu>
