<div>
    <form [formGroup]="form" #formEl>
        
        <div class="min-height200">
            <ng-container *ngIf="dataLoaded">

                <div class="grid mb-3">
                    <div class="col-12 md:col-6">
                        <label class="block mb-2" for="fieldParent">
                            {{ 'PARENT_FOLDER' | translate }}
                        </label>
                        <app-select-parent-dropdown formControlName="parentId"
                                                    [filterId]="filterParentId"></app-select-parent-dropdown>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="mb-3">
                            <p-inputSwitch inputId="fieldActive" styleClass="mr-2 vertical-align-middle"
                                           formControlName="isActive"></p-inputSwitch>
                            <label class="vertical-align-middle" for="fieldActive">
                                {{ 'ACTIVE' | translate }}
                            </label>
                        </div>
                        <div>
                            <p-inputSwitch inputId="fieldClearCache" styleClass="mr-2 vertical-align-middle"
                                           formControlName="clearCache"></p-inputSwitch>
                            <label class="vertical-align-middle" for="fieldClearCache">
                                {{ 'CLEAR_FILE_CACHE' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
                
                <app-render-input
                    [fields]="currentContentType.fields"
                    [groups]="currentContentType.groups"
                    [arrayFields]="arrayFields"
                    [model]="model"
                    [form]="form"
                    [files]="files"
                    [localeFieldsAllowed]="localeFieldsAllowed"
                    [isLocalizationActive]="localeCurrent !== localeDefault"
                    (onFieldAdd)="fieldAdd($event)"
                    (onParametersAdd)="arrayFieldAdd($event)"
                    (onParametersDelete)="onParametersDelete($event)"></app-render-input>
            </ng-container>
        </div>

        <div role="separator" class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left">
            <div class="p-divider-content"></div>
        </div>

        <p-message styleClass="block w-full text-left mb-3" severity="error"
                   [text]="errorMessage"
                   *ngIf="errorMessage"></p-message>

        <div class="grid mt-2">
            <div class="col-12 md:col-6">
                <button pButton pRipple type="button" [label]="'SAVE_AND_CLOSE' | translate" icon="pi pi-check"
                        class="p-button-success p-button-raised w-full"
                        (click)="saveData(true, $event)"></button>
            </div>
            <div class="col-12 md:col-3">
                <button pButton pRipple type="button" [label]="'SAVE' | translate" icon="pi pi-check"
                        class="p-button-warning p-button-raised w-full"
                        (click)="saveData(false, $event)"></button>
            </div>
            <div class="col-12 md:col-3">
                <button pButton pRipple type="button" [label]="'CLOSE' | translate"
                        class="p-button-secondary p-button-raised w-full"
                        (click)="dismissModal($event)"></button>
            </div>
        </div>
    </form>

</div>
<div class="loading-overlay" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
