<div>
    <div class="mb-3">
        <p-dropdown [options]="sortOptions"
                    [(ngModel)]="sortType"
                    (ngModelChange)="sortingInit()"
                    optionValue="name"
                    optionLabel="title"></p-dropdown>
    </div>
    <div class="min-height300 mb-3">
        <app-sorting-dnd [(items)]="sortData"></app-sorting-dnd>
    </div>

    <div class="grid mt-2">
        <div class="col-12 md:col-6">
            <button pButton pRipple type="button" [label]="'SAVE' | translate" icon="pi pi-check"
                    class="p-button-success p-button-raised w-full"
                    (click)="saveData($event)"></button>
        </div>
        <div class="col-12 md:col-6">
            <button pButton pRipple type="button" [label]="'CLOSE' | translate"
                    class="p-button-secondary p-button-raised w-full"
                    (click)="dismissModal($event)"></button>
        </div>
    </div>
</div>
