<div class="card">
    <div class="card-body">

        <h3>
            <i class="icon-bag"></i>
            {{'ORDERS' | translate}}
        </h3>
        <hr>

        <div class="mb-3">
            <div class="float-right">

                <div ngbDropdown class="d-inline-block mr-1">
                    <button class="btn btn-info" ngbDropdownToggle>
                        <span>{{'BATCH_ACTIONS' | translate}}</span>
                    </button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item" (click)="deleteSelected()">{{'DELETE' | translate}}</button>
                    </div>
                </div>

                <button type="button" class="btn btn-secondary" ngbTooltip="{{'REFRESH' | translate}}" (click)="getList()">
                    <i class="icon-reload"></i>
                </button>

            </div>
            <div class="float-left">



            </div>
            <div class="clearfix"></div>
        </div>

        <app-table [items]="items"
                   [(selectedIds)]="selectedIds"
                   [collectionSize]="collectionSize"
                   [queryOptions]="queryOptions"
                   [tableFields]="tableFields"
                   [(loading)]="loading"
                   [isCloneAllowed]="false"
                   (actionRequest)="actionRequest($event)"
                   (changeRequest)="changeRequest($event)" #table></app-table>

    </div>
</div>