<div class="layout-wrapper p-component">

    <router-outlet></router-outlet>

    <app-navbar (fileManagerActive)="fileManagerToggle($event)"></app-navbar>
    
</div>

<p-sidebar [(visible)]="isFileManagerActive"
           appendTo="body"
           styleClass="p-component box-shadow1"
           [modal]="false"
           (onHide)="fileManagerToggle(false)">
    <app-file-manager [(isActive)]="isFileManagerActive"></app-file-manager>
</p-sidebar>

<p-toast position="bottom-right" key="message"></p-toast>

<p-confirmDialog [header]="'CONFIRM' | translate" icon="pi pi-exclamation-triangle"></p-confirmDialog>
