
/* common */
.relative { position: relative; }
.w-auto { width: auto; }
.width170 { width: 170px; }
.min-width150 { min-width: 150px; }
.big { font-size: 120%; }
.min-height400 { min-height: 400px; }
.image-wrapper img { max-width: 100%; }

/** Bredcrumbs **/
.btn-breadcrumb .btn:not(:last-child):after { content: " "; display: block; width: 0; height: 0; border-top: 17px solid transparent; border-bottom: 17px solid transparent; border-left: 10px solid white; position: absolute; top: 50%; margin-top: -17px; left: 100%; z-index: 3; }
.btn-breadcrumb .btn:not(:last-child):before { content: " "; display: block; width: 0; height: 0; border-top: 17px solid transparent; border-bottom: 17px solid transparent; border-left: 10px solid #727b84; position: absolute; top: 50%; margin-top: -17px; margin-left: 1px; left: 100%; z-index: 3; }

.btn-breadcrumb .btn { padding:6px 12px 6px 24px; transition: none; line-height: 1.2; }
.btn-breadcrumb .btn:first-child { padding:6px 6px 6px 10px; }
.btn-breadcrumb .btn:last-child { padding:6px 18px 6px 24px; }

.btn-breadcrumb .btn.btn-secondary:not(:last-child):after { border-left: 10px solid #6c757d; }
.btn-breadcrumb .btn.btn-secondary:not(:last-child):before { border-left: 10px solid #ccc; }
.btn-breadcrumb .btn.btn-secondary:hover:not(:last-child):after { border-left: 10px solid #5a6268; }
.btn-breadcrumb .btn.btn-secondary:hover:not(:last-child):before { border-left: 10px solid #ccc; }

/* pagination */
.pagination-rounded > li > a,
.pagination-rounded > li > span { border-radius: 0.5rem !important; margin: 0 5px; }

.catalog-list-item { position: relative; }
.catalog-list-item-inner { float: left; margin-left: 150px; min-height: 115px; }
.catalog-list-item .image-wrapper { width: 130px; position: absolute; left: 0; top: 0; }
.catalog-list-item h3 { font-size: 18px; }

/* catalog-filters */
.catalog-filters form > hr:last-child { display: none; }
@media (max-width: 767.98px) {
    .catalog-filters { width: 300px; height: 100%; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); padding: 1rem; position: fixed; left: 0; top: 0; z-index: 111; background-color: #fff; overflow: hidden; overflow-y: auto; }
}
@media (min-width: 768px) {
    .catalog-filters { display: block !important; }
}

.catalog-filters .filter-block label { cursor: pointer; }
.shk-filter-color-label {  }
.shk-filter-color-label:before { background-color: inherit !important; border: 1px solid rgba(0,0,0,0.5); }
.shk-filter-color-label:after { background-color: rgba(0,0,0,0.2) !important; }

/* slider */
.shk-slider-range input { display: none; }
.noUi-tooltip { font-size: 11px; background-color: rgba(0,0,0,0.1); padding-top: 3px; padding-bottom: 3px; }
