<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <base href="/">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/shk-app/css/icomoon/style.css" rel="stylesheet">
    <link href="/shk-app/css/styles.css" rel="stylesheet">

</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="shk-app/bundle/inline.bundle.js"></script>
<script type="text/javascript" src="shk-app/bundle/polyfills.bundle.js"></script>
<script type="text/javascript" src="shk-app/bundle/styles.bundle.js"></script>
<script type="text/javascript" src="shk-app/bundle/vendor.bundle.js"></script>
<script type="text/javascript" src="shk-app/bundle/main.bundle.js"></script>
{% endblock %}
</body>
</html>
