{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <main role="main" class="container">

        {% include 'breadcrumbs.html.twig' %}

        <h1>{{ currentPage.title }}</h1>

        {% include 'child-categories-menu.html.twig' %}

        {% include 'siblings-menu.html.twig' %}

        <div class="row">

            {% for item in items %}
            <div class="col-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        {% for field in fields %}
                            {{ item[field.name] }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        {% if items | length == 0 and categoriesMenu | length == 0 %}
            <div class="alert alert-info">
                {{ 'This category is empty' | trans }}.
            </div>
        {% endif %}
    </main>
{% endblock %}
