{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
<main role="main" class="container">

    {% include 'breadcrumbs.html.twig' %}

    {% include 'child-categories-menu.html.twig' %}

    <h1>
        {{ currentPage.title }}
    </h1>



</main>
{% endblock %}
