{% extends 'base.html.twig' %}

{% block body %}

    <script>
        document.locale = 'ru';
    </script>

    <div class="p-3">
        <app-root><div id="page-preloader" class="loading"></div></app-root>
    </div>

{% endblock %}
