{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <main role="main" class="container">
        <div class="min-height400">

            <h1>
                Корзина товаров
            </h1>

            {% autoescape false %}
                {{ shopCart('shop_cart_edit', 'shop_cart_edit_empty') }}
            {% endautoescape %}

        </div>
    </main>
{% endblock %}