{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <main role="main" class="container min-height400">

        {{ renderOutputTypeChunk(currentPage, fields, 'header', 'page_') }}
        {{ renderOutputTypeChunk(currentPage, fields, 'description') }}

    </main>
{% endblock %}
