{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <main role="main" class="container min-height400">

        {% autoescape false %}
            {{ renderOutputTypeChunk(currentPage, fields, 'header', 'page_') }}
            {{ renderOutputTypeChunk(currentPage, fields, 'description') }}
        {% endautoescape %}

    </main>
{% endblock %}
