<div class="modal-header d-block">
    <h4 class="modal-title text-overflow">{{modalTitle}}</h4>
</div>
<div class="modal-body" #modalBody>

    <div class="float-right">
        <button type="button" class="btn btn-secondary btn-sm"
                [title]="'COPY_TO_CLIPBOARD' | translate"
                (click)="copyToClipboard(filePath, $event)">
                    <i class="icon-clipboard1"></i>
        </button>
    </div>
    <div style="margin-right: 45px;">
        <div class="text-overflow">
            <b>{{ 'PATH' | translate }}</b>: <a href="{{ filePath }}" target="_blank">{{ filePath }}</a>
        </div>
    </div>
    <div>
        <b>{{ 'FILE_SIZE' | translate }}</b>: {{ file.size }}
    </div>
    <div class="mb-3">
        <b>{{ 'MODIFIED_DATE' | translate }}</b>: {{ file.modifiedDate }}
    </div>

    <div class="alert alert-success" *ngIf="messageText">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="messageText = ''">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ messageText | translate }}
    </div>

    <div class="card mb-0" *ngIf="actionName == 'rename'">
        <div class="card-body p-2">
            <div class="mb-1">
                <label class="mb-1" for="fieldRename">{{ 'RENAME' | translate }}</label>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="fieldRename" [(ngModel)]="file.title">
                <div class="input-group-append">
                <span class="input-group-text">
                    .{{ file.extension }}
                </span>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-info btn-wide btn-sm mx-1" (click)="renameHandler($event)">
                    {{ 'ACCEPT' | translate }}
                </button>
                <button type="button" class="btn btn-secondary btn-sm mx-1" (click)="switchAction('', $event)">
                    {{ 'CANCEL' | translate }}
                </button>
            </div>
        </div>
    </div>

    <div class="card mb-0" *ngIf="actionName == 'delete'">
        <div class="card-body p-2">
            <div class="text-center mb-1">
                {{ 'YOU_SURE_YOU_WANT_DELETE_FILE' | translate }}
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-info btn-wide btn-sm mx-1" (click)="deleteFileHandler($event)">
                    {{ 'YES' | translate }}
                </button>
                <button type="button" class="btn btn-secondary btn-sm mx-1" (click)="switchAction('', $event)">
                    {{ 'CANCEL' | translate }}
                </button>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer d-block">
    <div class="float-right">
        <button type="button" class="btn btn-secondary btn-sm ml-2" [title]="'RENAME' | translate" (click)="switchAction('rename', $event)">
            <i class="icon-pencil"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-sm ml-2" [title]="'DELETE' | translate" (click)="switchAction('delete', $event)">
            <i class="icon-cross"></i>
        </button>
    </div>
    <button type="button" class="btn btn-secondary btn-wide" (click)="activeModal.close()">
        {{ 'CLOSE' | translate }}
    </button>
</div>