<div class="modal-header d-block">
    <h4 class="modal-title">{{ 'UPLOAD_FILES' | translate }}</h4>
</div>
<div class="modal-body" #modalBody>

    <div>
        <app-file-widget
                fieldName="files"
                [hasPreviewImage]="false"
                [allowMultiple]="true"
                [allowedExtensions]="'.jpg,.jpeg,.png,.gif'"
                #filesWidget></app-file-widget>
    </div>

    <div class="alert alert-info mt-3 mb-0" *ngIf="messageText">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="messageText = ''">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ messageText | translate }}
    </div>

</div>
<div class="modal-footer d-block">
    <button type="button" class="btn btn-primary btn-wide" (click)="submitHandler($event)">
        {{ 'UPLOAD' | translate }}
    </button>
    <button type="button" class="btn btn-secondary btn-wide" (click)="activeModal.close()">
        {{ 'CLOSE' | translate }}
    </button>
</div>