
.shopping-cart-loading {
    position: relative;
}
.shopping-cart-loading:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 1;
}
.shopping-cart-loading:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    z-index: 510;
    opacity: 0.7;
    border: 5px solid #576375;
    border-radius: 50%;
    border-top-color: #f3f3f3;
    -webkit-animation: spin 1000ms linear infinite;
    animation: spin 1000ms linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
