parameters:
    locale: en
    mongodb_server: ''
    mongodb_user: root
    mongodb_password: ''
    mongodb_database: ''
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: 25
    mailer_user: ''
    mailer_password: ''
