parameters:
    app_name: Shopkeeper
    locale: en
    mongodb_server: ''
    mongodb_user: root
    mongodb_password: ''
    mongodb_database: ''
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: 25
    mailer_encryption: 'ssl'
    mailer_auth_mode: 'login'
    mailer_user: ''
    mailer_password: ''
    payment_status_number: 1
    payment_status_after_number: 2
