<div>
    <div class="pos-absolute-right" style="top: 1rem; right: 1rem;">
        <a class="btn btn-secondary btn-sm" placement="bottom" [ngbTooltip]="'PREVIEW_SITE' | translate" href="{{baseUrl}}" target="_blank">
            <i class="icon-home"></i>
        </a>
        <a class="btn btn-secondary btn-sm ml-1" href="{{baseUrl}}logout">
            {{'LOGOUT' | translate}}
            <i class="icon-power"></i>
        </a>
    </div>

    <div class="card-navbar">
        <div class="btn-group" role="group" aria-label="First group">
            <a class="btn btn-outline-primary" [routerLink]="['/orders']" routerLinkActive="active">
                <i class="icon-bag"></i>
                <span class="d-none d-md-inline-block">{{'ORDERS' | translate}}</span>
            </a>
            <!--<a class="btn btn-outline-primary" [routerLink]="['/statistics']" routerLinkActive="active">-->
                <!--<i class="icon-bar-graph-2"></i>-->
                <!--<span class="d-none d-md-inline-block">{{'STATISTICS' | translate}}</span>-->
            <!--</a>-->
            <a class="btn btn-outline-primary" [routerLink]="['/catalog']" routerLinkActive="active">
                <i class="icon-layers"></i>
                <span class="d-none d-md-inline-block">{{'CATALOG' | translate}}</span>
            </a>
            <a class="btn btn-outline-primary" [routerLink]="['/users']" routerLinkActive="active">
                <i class="icon-head"></i>
                <span class="d-none d-md-inline-block">{{'USERS' | translate}}</span>
            </a>
            <a class="btn btn-outline-primary" [routerLink]="['/settings']" routerLinkActive="active">
                <i class="icon-cog"></i>
                <span class="d-none d-md-inline-block">{{'SETTINGS' | translate}}</span>
            </a>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>