<div class="mb-3">
    <div class="float-right">

        <div ngbDropdown class="d-inline-block mr-1">
            <button class="btn btn-info" ngbDropdownToggle>
                Массовые дейсвия
            </button>
            <div ngbDropdownMenu>
                <button class="dropdown-item" (click)="blockSelected()">Отключить / включить</button>
                <button class="dropdown-item" (click)="deleteSelected()">Удалить</button>
            </div>
        </div>

        <button type="button" class="btn btn-success d-inline-block btn-wide" (click)="modalOpen()">
            <i class="icon-plus"></i>
            Add
        </button>

    </div>

    <div class="float-left">
        <a class="btn btn-outline-secondary" [routerLink]="['/catalog']">
            <i class="icon-arrow-left"></i>
            Каталог
        </a>
    </div>
    <div class="clearfix"></div>
</div>

<cmp-table [items]="items" [(selectedIds)]="selectedIds" [collectionSize]="collectionSize" [queryOptions]="queryOptions" [tableFields]="tableFields" [(loading)]="loading" (actionRequest)="actionRequest($event)"></cmp-table>
