<div class="row form-group" [class.form-group-message]="formErrors[field.name]" [formGroup]="form" *ngFor="let field of fields | filterFieldByGroup: filterGroupName">
    <div class="col-md-5">
        <label for="field_{{field.name}}">
            {{field.title}}
            <span class="text-danger" *ngIf="field.required">*</span>
        </label>
    </div>
    <div class="col-md-7" [ngSwitch]="field.input_type">

        <input *ngSwitchCase="'system_name'" type="text" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]" class="form-control">

        <input *ngSwitchCase="'text'" type="text" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]" class="form-control">

        <input *ngSwitchCase="'name'" type="text" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]" class="form-control">

        <input *ngSwitchCase="'number'" type="number" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]" min="0" class="form-control">

        <textarea *ngSwitchCase="'textarea'" rows="6" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]" class="form-control"></textarea>

        <input *ngSwitchCase="'image'" type="file" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]" class="form-control">

        <div *ngIf="formErrors[field.name]" class="alert alert-danger">
            {{formErrors[field.name]}}
        </div>
    </div>
</div>