<div class="modal-header d-block">
    <div class="d-block float-right">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
            Close
        </button>
    </div>
    <h4 class="modal-title">{{modalTitle}}</h4>
</div>
<div class="modal-body">

    <form (ngSubmit)="onSubmit()" [class.loading]="loading">

        <div>

            <div class="row form-group">
                <div class="col-md-5">
                    <label for="fieldName">Системное имя</label>
                </div>
                <div class="col-md-7">
                    <input type="text" id="fieldName" class="form-control">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-5">
                    <label for="fieldTitle">Название</label>
                </div>
                <div class="col-md-7">
                    <input type="text" id="fieldTitle" class="form-control">
                </div>
            </div>

        </div>

    </form>

</div>
<div class="modal-footer d-block">
    <button type="submit" class="btn btn-success btn-wide">
        Save
    </button>
    <button type="submit" class="btn btn-secondary btn-wide" (click)="activeModal.dismiss()">
        Cancel
    </button>
</div>