<div class="modal-header d-block">
    <div class="d-block float-right">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
            Close
        </button>
    </div>
    <h4 class="modal-title">{{modalTitle}}</h4>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="form" [class.loading]="loading">

    <div class="modal-body">
        <div>

            <div class="row form-group" [class.form-group-message]="formErrors.parent_id">
                <div class="col-md-5">
                    <label for="fieldContentType">Родительская папка</label>
                </div>
                <div class="col-md-7">
                    <select id="fieldParent" class="form-control" name="parent_id" formControlName="parent_id" [(ngModel)]="model.parent_id">
                        <option value="0">Корневая категория</option>
                    </select>
                    <div *ngIf="formErrors.parent_id" class="alert alert-danger">
                        {{formErrors.parent_id}}
                    </div>
                </div>
            </div>

            <div class="row form-group" [class.form-group-message]="formErrors.name">
                <div class="col-md-5">
                    <label for="fieldName">Системное имя</label>
                </div>
                <div class="col-md-7">
                    <input type="text" id="fieldName" class="form-control" name="name" formControlName="name" [(ngModel)]="model.name">
                    <div *ngIf="formErrors.name" class="alert alert-danger">
                        {{formErrors.name}}
                    </div>
                </div>
            </div>

            <div class="row form-group" [class.form-group-message]="formErrors.title">
                <div class="col-md-5">
                    <label for="fieldTitle">Название</label>
                </div>
                <div class="col-md-7">
                    <input type="text" id="fieldTitle" class="form-control" formControlName="title" name="title" [(ngModel)]="model.title">
                    <div *ngIf="formErrors.title" class="alert alert-danger">
                        {{formErrors.title}}
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-5">
                    <label for="fieldDescription">Описание</label>
                </div>
                <div class="col-md-7">
                    <textarea type="text" id="fieldDescription" rows="4" class="form-control" name="description" formControlName="description" [(ngModel)]="model.description"></textarea>
                </div>
            </div>

            <div class="row form-group" [class.form-group-message]="formErrors.content_type">
                <div class="col-md-5">
                    <label for="fieldContentType">Тип контента</label>
                </div>
                <div class="col-md-7">
                    <select id="fieldContentType" class="form-control" name="content_type" formControlName="content_type" [(ngModel)]="model.content_type">
                        <option value="1" *ngFor="let contentType of contentTypes" [value]="contentType.name">{{contentType.title}}</option>
                    </select>
                    <div *ngIf="formErrors.content_type" class="alert alert-danger">
                        {{formErrors.content_type}}
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer d-block">
        <button type="submit" class="btn btn-success btn-wide">
            Save
        </button>
        <button type="submit" class="btn btn-secondary btn-wide" (click)="activeModal.dismiss()">
            Cancel
        </button>
    </div>

</form>
