<div class="modal-header d-block">
    <div class="d-block float-right">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
            Close
        </button>
    </div>
    <h4 class="modal-title">{{modalTitle}}</h4>
</div>

<ng-template #confirmPopover let-confirm="confirm" let-p="p" let-msg="message">
    <p class="text-center">Delete this item?</p>
    <div class="alert alert-danger p-2" *ngIf="msg">{{msg}}</div>
    <div class="text-center">
        <button type="button" class="btn btn-success btn-sm" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="p.close()">No</button>
    </div>
</ng-template>

<form [class.loading]="loading">

    <div class="modal-body">

        <div class="row">

            <!-- ContentType form -->
            <div class="col-lg-4" [formGroup]="form">

                <div class="form-group" [class.form-group-message]="formErrors.title">
                    <label class="label-filled">
                        Название
                    </label>
                    <input type="text" class="form-control" name="title" formControlName="title" [(ngModel)]="model.title">
                    <div *ngIf="formErrors.title" class="alert alert-danger">
                        {{formErrors.title}}
                    </div>
                </div>

                <div class="form-group" [class.form-group-message]="formErrors.name">
                    <label for="fieldName" class="label-filled">Системное имя</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" formControlName="name" id="fieldName" [(ngModel)]="model.name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-secondary" ngbTooltip="Generate" (click)="generateName(model)">
                                <i class="icon-reload"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="formErrors.name" class="alert alert-danger">
                        {{formErrors.name}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="label-filled">
                        Описание
                    </label>
                    <textarea type="text" class="form-control" rows="3" name="description" formControlName="description" [(ngModel)]="model.description"></textarea>
                </div>

                <div class="form-group row" [class.form-group-message]="formErrors.collection">
                    <div class="col-12">

                        <div class="form-group mb-0">
                            <label class="label-filled">Коллекция</label>

                            <div class="input-group">
                                <select class="form-control form-control-sm" name="collection" formControlName="collection" [(ngModel)]="model.collection">
                                    <option value="{{collection}}" *ngFor="let collection of collections">{{collection}}</option>
                                </select>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Add collection" (click)="displayToggle(addCollectionBlock); addCollectionField.value = ''; onValueChanged(); addCollectionField.focus()">
                                        <i class="icon-plus"></i>
                                    </button>
                                </div>
                                <div class="input-group-btn" [ngbPopover]="confirmPopover" #buttonDeleteCollection="ngbPopover" triggers="manual">
                                    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Delete" (click)="deleteCollection(buttonDeleteCollection)">
                                        <i class="icon-cross"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card p-1 mt-2" #addCollectionBlock style="display: none;" [class.form-group-message]="formErrors.new_collection">
                                <input type="text" class="form-control form-control-sm" formControlName="new_collection" #addCollectionField>
                                <div *ngIf="formErrors.new_collection" class="alert alert-danger mb-1">
                                    {{formErrors.new_collection}}
                                </div>

                                <div class="text-right mt-1">
                                    <button type="button" class="btn btn-secondary btn-sm" (click)="addCollection()">
                                        Add
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm" (click)="addCollectionBlock.style.display = 'none'; formErrors.new_collection = ''">
                                        Cancel
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">

                        <div class="card card-body p-2 pl-3">

                            <label class="custom-control custom-checkbox m-0">
                                <input type="checkbox" class="custom-control-input" value="1" name="is_active" formControlName="is_active" [(ngModel)]="model.is_active">
                                <span class="custom-control-indicator"></span>
                                <span>Активный</span>
                            </label>

                        </div>

                    </div>
                </div>

            </div>
            <!-- /ContentType form -->

            <!-- Field form -->
            <div class="col-lg-8" [formGroup]="fieldForm">

                <label class="label-filled" [hidden]="action != 'add_field'">
                    Добавить поле
                </label>
                <label class="label-filled" [hidden]="action != 'edit_field'">
                    Редактировать поле
                </label>

                <div class="card">
                    <div class="card-body">

                        <div class="form-group row" [class.form-group-message]="formErrors.fld_title">
                            <div class="col-md-5">
                                <label>Название</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control form-control-sm" name="field_title" formControlName="title" [(ngModel)]="fieldModel.title">
                                <div *ngIf="formErrors.fld_title" class="alert alert-danger">
                                    {{formErrors.fld_title}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" [class.form-group-message]="formErrors.fld_name">
                            <div class="col-md-5">
                                <label>Системное имя</label>
                            </div>
                            <div class="col-md-7">

                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" name="field_name" formControlName="name" [(ngModel)]="fieldModel.name">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Generate" (click)="generateName(fieldModel)">
                                            <i class="icon-reload"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="formErrors.fld_name" class="alert alert-danger">
                                    {{formErrors.fld_name}}
                                </div>

                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                <label>Описание</label>
                            </div>
                            <div class="col-md-7">
                                <textarea type="text" class="form-control form-control-sm" rows="3" name="field_description" formControlName="description" [(ngModel)]="fieldModel.description"></textarea>
                            </div>
                        </div>

                        <div class="form-group row" [class.form-group-message]="formErrors.fld_input_type">
                            <div class="col-md-5">
                                <label>Тип ввода</label>
                            </div>
                            <div class="col-md-7">

                                <div class="input-group">
                                    <select class="form-control form-control-sm" name="field_input_type" formControlName="input_type" [(ngModel)]="fieldModel.input_type" (ngModelChange)="selectFieldTypeProperties('input')">
                                        <option value=""></option>
                                        <option value="{{fieldType.name}}" *ngFor="let fieldType of fieldTypes">{{fieldType.title}}</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Options" (click)="displayToggle(inputTypeOptionsBlock)">
                                            <i class="icon-cog"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="formErrors.fld_input_type" class="alert alert-danger">
                                    {{formErrors.fld_input_type}}
                                </div>

                            </div>
                        </div>

                        <div class="card card-body bg-light mb-3" #inputTypeOptionsBlock style="display: none;">
                            <div>
                                <div class="alert alert-secondary small" [hidden]="fieldTypeProperties.input.length > 0">
                                    There are no parameters.
                                </div>
                                <div class="row form-group" *ngFor="let property of fieldTypeProperties.input">
                                    <div class="col-md-5">
                                        {{property.title}}
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="fieldModel.input_properties[property.name]" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                            <div class="text-right mt-1">
                                <button type="button" class="btn btn-secondary btn-sm" (click)="inputTypeOptionsBlock.style.display = 'none';">
                                    Close
                                </button>
                            </div>
                        </div>

                        <div class="form-group row" [class.form-group-message]="formErrors.fld_output_type">
                            <div class="col-md-5">
                                <label>Тип вывода</label>
                            </div>
                            <div class="col-md-7">

                                <div class="input-group">
                                    <select class="form-control form-control-sm" name="field_output_type" formControlName="output_type" [(ngModel)]="fieldModel.output_type" (ngModelChange)="selectFieldTypeProperties('output')">
                                        <option value=""></option>
                                        <option value="{{fieldType.name}}" *ngFor="let fieldType of fieldTypes">{{fieldType.title}}</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Options" (click)="displayToggle(outputTypeOptionsBlock)">
                                            <i class="icon-cog"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="formErrors.fld_output_type" class="alert alert-danger">
                                    {{formErrors.fld_output_type}}
                                </div>

                            </div>
                        </div>

                        <div class="card card-body bg-light mb-3" #outputTypeOptionsBlock style="display: none;">
                            <div class="alert alert-secondary small" [hidden]="fieldTypeProperties.output.length > 0">
                                There are no parameters.
                            </div>
                            <div class="row form-group" *ngFor="let property of fieldTypeProperties.output">
                                <div class="col-md-5">
                                    {{property.title}}
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="fieldModel.output_properties[property.name]" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="text-right mt-1">
                                <button type="button" class="btn btn-secondary btn-sm" (click)="outputTypeOptionsBlock.style.display = 'none'">
                                    Close
                                </button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                <label>Группа</label>
                            </div>
                            <div class="col-md-7">

                                <div [class.form-group-message]="formErrors.fld_group">
                                    <div class="input-group input-group-sm">
                                        <select class="form-control" name="field_group" formControlName="group" [(ngModel)]="fieldModel.group">
                                            <option value=""></option>
                                            <option [value]="groupName" *ngFor="let groupName of model.groups">{{groupName}}</option>
                                        </select>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Add group" (click)="displayToggle(addGroupBlock); addGroupField.value = ''; addGroupField.focus()">
                                                <i class="icon-plus"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Delete group" (click)="deleteGroup()">
                                                <i class="icon-cross"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div *ngIf="formErrors.fld_group" class="alert alert-danger">
                                        {{formErrors.fld_group}}
                                    </div>

                                    <div class="card p-1 mt-2" #addGroupBlock style="display: none;" [class.form-group-message]="formErrors.fld_new_group">
                                        <input type="text" class="form-control form-control-sm" #addGroupField formControlName="new_group">
                                        <div *ngIf="formErrors.fld_new_group" class="alert alert-danger mb-1">
                                            {{formErrors.fld_new_group}}
                                        </div>
                                        <div class="text-right mt-1">
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="addGroup();">
                                                Add
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="addGroupBlock.style.display = 'none'; formErrors.fld_new_group = ''">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-7 offset-md-5">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="1" name="required" formControlName="required" [(ngModel)]="fieldModel.required">
                                    <span class="custom-control-indicator"></span>
                                    <span>Обязательное</span>
                                </label>

                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-7 offset-md-5">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="1" name="show_in_table" formControlName="show_in_table" [(ngModel)]="fieldModel.show_in_table">
                                    <span class="custom-control-indicator"></span>
                                    <span>Показывать в таблице</span>
                                </label>

                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-7 offset-md-5">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="1" name="is_filter" formControlName="is_filter" [(ngModel)]="fieldModel.is_filter">
                                    <span class="custom-control-indicator"></span>
                                    <span>Показывать в фильтре</span>
                                </label>

                            </div>
                        </div>

                        <div class="alert alert-danger mt-3 mb-3" [hidden]="!errorFieldMessage">
                            <button type="button" class="close" (click)="errorFieldMessage = ''">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{errorFieldMessage}}
                        </div>

                        <div class="mt-3">
                            <button type="button" class="btn btn-sm btn-info btn-wide" (click)="submitField()" [hidden]="action != 'add_field'">
                                <i class="icon-plus"></i>
                                Add field
                            </button>
                            <button type="button" class="btn btn-sm btn-success btn-wide" (click)="displayToggle(fieldsBlock, true); submitField()" [hidden]="action != 'edit_field'">
                                <i class="icon-check"></i>
                                Save field
                            </button>
                            <button type="button" class="btn btn-sm btn-secondary btn-wide" (click)="displayToggle(fieldsBlock, true); editFieldCancel()">
                                Cancel
                            </button>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /Field form -->

        </div>

        <div class="form-group row mt-3">
            <div class="col-12">

                <label class="label-filled">
                    Поля
                </label>

                <hr class="mt-0 mb-0">
                <div class="text-center mb-2" style="margin-top: -0.8rem;">
                    <button type="button" class="btn btn-outline-secondary bg-white text-secondary btn-xs" [ngSwitch]="fieldsBlock.style.display" (click)="displayToggle(fieldsBlock)">
                        <span *ngSwitchCase="'none'">
                            <i class="icon-plus"></i>
                            <span i18n>Expand</span>
                        </span>
                                    <span *ngSwitchCase="'block'">
                            <i class="icon-minus"></i>
                            <span i18n>Collapse</span>
                        </span>
                    </button>
                </div>

                <div #fieldsBlock style="display: block;">
                    <table class="table table-striped table-divided mb-0">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Тип ввода</th>
                                <th>Группа</th>
                                <th>Обязательное?</th>
                                <th>В таблице?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="show-on-hover-parent" *ngFor="let field of model.fields; let index=index">
                                <td>
                                    {{field.title}}
                                    <span class="text-muted">({{field.name}})</span>
                                </td>
                                <td>
                                    {{field.input_type}}
                                </td>
                                <td>
                                    {{field.group}}
                                </td>
                                <td>
                                    <output-field [value]="field.required" outputType="boolean"></output-field>
                                </td>
                                <td>
                                    <div class="relative">
                                        <div class="show-on-hover">
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="fieldMove(index, 'up')" ngbTooltip="Move up" *ngIf="index > 0">
                                                <i class="icon-arrow-up"></i>
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="fieldMove(index, 'down')" ngbTooltip="Move down" *ngIf="index < model.fields.length - 1">
                                                <i class="icon-arrow-down"></i>
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="displayToggle(fieldsBlock); editField(field)" [hidden]="field.name == currentFieldName" ngbTooltip="Edit">
                                                <i class="icon-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="displayToggle(fieldsBlock); copyField(field)" ngbTooltip="Copy">
                                                <i class="icon-stack"></i>
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="deleteField(field)" [hidden]="field.name == currentFieldName" ngbTooltip="Delete">
                                                <i class="icon-cross"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <output-field [value]="field.show_in_table" outputType="boolean"></output-field>
                                </td>
                            </tr>
                            <tr [hidden]="model.fields.length > 0" class="table-active">
                                <td colspan="4" class="text-center p-3">
                                    Empty
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="alert alert-danger mt-3 mb-0" [hidden]="!errorMessage">
                    <button type="button" class="close" (click)="errorMessage = ''">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{errorMessage}}
                </div>

            </div>
        </div>

    </div>

    <div class="modal-footer d-block">
        <button type="button" class="btn btn-success btn-wide" [disabled]="submitted && form.valid" (click)="save()">
            Save
        </button>
        <button type="button" class="btn btn-secondary btn-wide" (click)="activeModal.dismiss()">
            Cancel
        </button>
    </div>

</form>