<div class="modal-header d-block">
    <div class="d-block float-right">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
            Close
        </button>
    </div>
    <h4 class="modal-title">{{modalTitle}}</h4>
</div>

<div class="modal-body" [class.loading]="loading">

    <form #formElement="ngForm" [formGroup]="form">
        <div class="row">
            <div class="col-md-6">

                <div class="form-group form-group-message" [class.form-group-message]="formErrors.title">
                    <label for="fieldTitle" class="label-filled">Название</label>
                    <input type="text" class="form-control" name="title" formControlName="title" id="fieldTitle" [(ngModel)]="model.title">
                    <div *ngIf="formErrors.title" class="alert alert-danger">
                        {{formErrors.title}}
                    </div>
                </div>

                <div class="form-group" [class.form-group-message]="formErrors.name">
                    <label for="fieldName" class="label-filled">Системное имя</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" formControlName="name" id="fieldName" [(ngModel)]="model.name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-secondary" ngbTooltip="Generate" (click)="generateName(model)">
                                <i class="icon-reload"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="formErrors.name" class="alert alert-danger">
                        {{formErrors.name}}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">

                        <div class="card card-body p-2 pl-3">

                            <label class="custom-control custom-checkbox m-0">
                                <input type="checkbox" class="custom-control-input" value="1" name="isActive" formControlName="isActive" [(ngModel)]="model.isActive">
                                <span class="custom-control-indicator"></span>
                                <span>Активный</span>
                            </label>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fieldDescription" class="label-filled">Описание</label>
                    <textarea class="form-control" rows="5" name="description" formControlName="description" id="fieldDescription" [(ngModel)]="model.description"></textarea>
                </div>
            </div>
        </div>
    </form>

    <!-- Input -->
    <label class="label-filled">Параметры ввода</label>

    <hr class="mt-0 mb-0">
    <div class="text-center mb-2" style="margin-top: -0.8rem;">
        <button type="button" class="btn btn-outline-secondary bg-white text-secondary btn-xs" [ngSwitch]="collapseContainer1.style.display" (click)="displayToggle(collapseContainer1)">
            <span *ngSwitchCase="'none'">
                <i class="icon-plus"></i>
                <span i18n>Expand</span>
            </span>
            <span *ngSwitchCase="'block'">
                <i class="icon-minus"></i>
                <span i18n>Collapse</span>
            </span>
        </button>
    </div>

    <div #collapseContainer1 class="mb-3" style="display: block;">
        <table class="table table-bordered table-divided mb-0">
            <thead>
            <tr>
                <th>
                    Системное имя
                </th>
                <th>
                    Название
                </th>
                <th>
                    По умолчанию
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of model.inputProperties; let index=index">
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="item.name" name="name">
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control" [(ngModel)]="item.title" name="title">
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control" [(ngModel)]="item.default_value" name="default_value">
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-secondary" (click)="deleteRow(index, 'inputProperties')" ngbTooltip="Remove">
                            <i class="icon-cross"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr class="bg-faded">
                <td colspan="4" class="text-center">
                    <button type="button" class="btn btn-secondary" (click)="addRow('inputProperties')">
                        <i class="icon-plus"></i>
                        Добавить
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <!-- /Input -->

    <!-- Output -->
    <label class="label-filled">Параметры вывода</label>

    <hr class="mt-0 mb-0">
    <div class="text-center mb-2" style="margin-top: -0.8rem;">
        <button type="button" class="btn btn-outline-secondary bg-white text-secondary btn-xs" [ngSwitch]="collapseContainer2.style.display" (click)="displayToggle(collapseContainer2)">
            <span *ngSwitchCase="'none'">
                <i class="icon-plus"></i>
                <span i18n>Expand</span>
            </span>
            <span *ngSwitchCase="'block'">
                <i class="icon-minus"></i>
                <span i18n>Collapse</span>
            </span>
        </button>
    </div>

    <div #collapseContainer2 style="display: none;">
        <table class="table table-bordered table-divided mb-0">
            <thead>
                <tr>
                    <th>
                        Системное имя
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        По умолчанию
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of model.outputProperties; let index=index">
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="item.name" name="name">
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control" [(ngModel)]="item.title" name="title">
                    </td>
                    <td class="text-center">
                        <input type="text" class="form-control" [(ngModel)]="item.default_value" name="default_value">
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-secondary" (click)="deleteRow(index, 'outputProperties')" ngbTooltip="Remove">
                            <i class="icon-cross"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="bg-faded">
                    <td colspan="4" class="text-center">
                        <button type="button" class="btn btn-secondary" (click)="addRow('outputProperties')">
                            <i class="icon-plus"></i>
                            Добавить
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /Output -->

    <div class="alert alert-danger mt-3 mb-0" [hidden]="!errorMessage">
        <button type="button" class="close" (click)="errorMessage = ''">
            <span aria-hidden="true">&times;</span>
        </button>
        {{errorMessage}}
    </div>

</div>
<div class="modal-footer d-block">
    <button type="button" class="btn btn-success btn-wide" [disabled]="submitted" (click)="save()">
        Save
    </button>
    <button type="button" class="btn btn-secondary btn-wide" (click)="activeModal.dismiss()">
        Cancel
    </button>
</div>
