<div class="modal-header d-block">
    <div class="d-block float-right">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
            Close
        </button>
    </div>
    <h4 class="modal-title">{{modalTitle}}</h4>
</div>

<form (ngSubmit)="onSubmit()" [class.loading]="loading">

    <div class="modal-body">

        <div class="row">



        </div>

    </div>
    <div class="modal-footer d-block">
        <button type="submit" class="btn btn-success btn-wide">
            Save
        </button>
        <button type="submit" class="btn btn-secondary btn-wide" (click)="activeModal.dismiss()">
            Cancel
        </button>
    </div>

</form>
