<div class="modal-header d-block">
    <div class="d-block float-right">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
            Close
        </button>
    </div>
    <h4 class="modal-title">{{modalTitle}}</h4>
</div>

<form (ngSubmit)="onSubmit()" [class.loading]="loading">

    <div class="modal-body">

        <div class="row">

            <!-- ContentType form -->
            <div class="col-lg-4" [formGroup]="contentTypeForm">

                <div class="form-group" [class.form-group-message]="formErrors.contentType.title">
                    <label class="label-filled">
                        Название
                    </label>
                    <input type="text" class="form-control" name="title" formControlName="title" [(ngModel)]="model.title">
                    <div *ngIf="formErrors.contentType.title" class="alert alert-danger">
                        {{formErrors.contentType.title}}
                    </div>
                </div>

                <div class="form-group" [class.form-group-message]="formErrors.contentType.name">
                    <label class="label-filled">
                        Системное имя
                    </label>
                    <input type="text" class="form-control" name="name" formControlName="name" [(ngModel)]="model.name">
                    <div *ngIf="formErrors.contentType.name" class="alert alert-danger">
                        {{formErrors.contentType.name}}
                    </div>
                </div>

                <div class="form-group">
                    <label class="label-filled">
                        Описание
                    </label>
                    <textarea type="text" class="form-control" name="description" formControlName="description" [(ngModel)]="model.description"></textarea>
                </div>

                <div class="form-group row">
                    <div class="col-12">

                        <div class="form-group">
                            <label class="label-filled">Коллекция</label>
                            <div class="input-group">
                                <select class="form-control" name="collection" formControlName="collection" [(ngModel)]="model.collection">
                                    <option value="{{collection}}" *ngFor="let collection of collections">{{collection}}</option>
                                </select>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Add collection" (click)="displayToggle(addCollectionBlock); addCollectionField.value = ''; onValueChanged(); addCollectionField.focus()">
                                        <i class="icon-plus"></i>
                                    </button>
                                </div>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Delete collection" (click)="deleteCollection()">
                                        <i class="icon-cross"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="card p-1 mt-2" #addCollectionBlock style="display: none;" [class.form-group-message]="formErrors.contentType.new_collection">
                                <input type="text" class="form-control form-control-sm" formControlName="new_collection" #addCollectionField>
                                <div *ngIf="formErrors.contentType.new_collection" class="alert alert-danger mb-1">
                                    {{formErrors.contentType.new_collection}}
                                </div>

                                <div class="text-right mt-1">
                                    <button type="button" class="btn btn-secondary btn-sm" (click)="addCollection();">
                                        Add
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm" (click)="addCollectionBlock.style.display = 'none'; formErrors.contentType.new_collection = ''">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /ContentType form -->

            <!-- Field form -->
            <div class="col-lg-8" [formGroup]="fieldForm">

                <label class="label-filled" [hidden]="action != 'add_field'">
                    Добавить поле
                </label>
                <label class="label-filled" [hidden]="action != 'edit_field'">
                    Редактировать поле
                </label>

                <div class="card">
                    <div class="card-block">

                        <div class="form-group row" [class.form-group-message]="formErrors.field.title">
                            <div class="col-md-5">
                                <label class="small">Название</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control form-control-sm" name="field_title" formControlName="title">
                                <div *ngIf="formErrors.field.title" class="alert alert-danger">
                                    {{formErrors.field.title}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" [class.form-group-message]="formErrors.field.name">
                            <div class="col-md-5">
                                <label class="small">Системное имя</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control form-control-sm" name="field_name" formControlName="name">
                                <div *ngIf="formErrors.field.name" class="alert alert-danger">
                                    {{formErrors.field.name}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                <label class="small">Описание</label>
                            </div>
                            <div class="col-md-7">
                                <textarea type="text" class="form-control form-control-sm" name="field_description" formControlName="description"></textarea>
                            </div>
                        </div>

                        <div class="form-group row" [class.form-group-message]="formErrors.field.input_type">
                            <div class="col-md-5">
                                <label class="small">Тип ввода</label>
                            </div>
                            <div class="col-md-7">

                                <div class="input-group">
                                    <select class="form-control form-control-sm" name="field_input_type" formControlName="input_type">
                                        <option value="text">Текстовое поле</option>
                                        <option value="textarea">Многострочный текст</option>
                                        <option value="richtext">Текстовый редактор</option>
                                        <option value="number">Число</option>
                                        <option value="select">Выпадающий список</option>
                                        <option value="checkbox">Чекбокс</option>
                                        <option value="radio">Переключатель</option>
                                        <option value="table">Таблица</option>
                                        <option value="date">Дата</option>
                                        <option value="file">Файл</option>
                                        <option value="image">Картинка</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Options" (click)="displayToggle(inputTypeOptionsBlock)">
                                            <i class="icon-cog"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="formErrors.field.input_type" class="alert alert-danger">
                                    {{formErrors.field.input_type}}
                                </div>

                            </div>
                        </div>

                        <div class="card card-block mb-3" #inputTypeOptionsBlock style="display: none;">
                            <div>
                                Тут будут параметры
                            </div>
                            <div class="text-right mt-1">
                                <button type="button" class="btn btn-secondary btn-sm" (click)="inputTypeOptionsBlock.style.display = 'none';">
                                    Close
                                </button>
                            </div>
                        </div>

                        <div class="form-group row" [class.form-group-message]="formErrors.field.output_type">
                            <div class="col-md-5">
                                <label class="small">Тип вывода</label>
                            </div>
                            <div class="col-md-7">

                                <div class="input-group">
                                    <select class="form-control form-control-sm" name="field_output_type" formControlName="output_type">
                                        <option value="text">Текст</option>
                                        <option value="number">Число</option>
                                        <option value="select">Выпадающий список</option>
                                        <option value="checkbox">Чекбокс</option>
                                        <option value="radio">Переключатель</option>
                                        <option value="table">Таблица</option>
                                        <option value="image">Картинка</option>
                                        <option value="boolean">Да/Нет</option>
                                    </select>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Options" (click)="displayToggle(outputTypeOptionsBlock)">
                                            <i class="icon-cog"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="formErrors.field.output_type" class="alert alert-danger">
                                    {{formErrors.field.output_type}}
                                </div>

                            </div>
                        </div>

                        <div class="card card-block mb-3" #outputTypeOptionsBlock style="display: none;">
                            <div>
                                Тут будут параметры
                            </div>
                            <div class="text-right mt-1">
                                <button type="button" class="btn btn-secondary btn-sm" (click)="outputTypeOptionsBlock.style.display = 'none'">
                                    Close
                                </button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-5">
                                <label class="small">Группа</label>
                            </div>
                            <div class="col-md-7">

                                <div [class.form-group-message]="formErrors.field.group">
                                    <div class="input-group input-group-sm">
                                        <select class="form-control" name="field_group" formControlName="group">
                                            <option value="{{group}}" *ngFor="let group of model.groups">{{group}}</option>
                                        </select>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Add group" (click)="displayToggle(addGroupBlock); addGroupField.value = ''; addGroupField.focus()">
                                                <i class="icon-plus"></i>
                                            </button>
                                        </div>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Delete group" (click)="deleteGroup()">
                                                <i class="icon-cross"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div *ngIf="formErrors.field.group" class="alert alert-danger">
                                        {{formErrors.field.group}}
                                    </div>

                                    <div class="card p-1 mt-2" #addGroupBlock style="display: none;" [class.form-group-message]="formErrors.field.new_group">
                                        <input type="text" class="form-control form-control-sm" #addGroupField formControlName="new_group">
                                        <div *ngIf="formErrors.field.new_group" class="alert alert-danger mb-1">
                                            {{formErrors.field.new_group}}
                                        </div>
                                        <div class="text-right mt-1">
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="addGroup();">
                                                Add
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="addGroupBlock.style.display = 'none'; formErrors.field.new_group = ''">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-7 offset-md-5">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="1" name="required" formControlName="required">
                                    <span class="custom-control-indicator"></span>
                                    <span class="small">Обязательный</span>
                                </label>

                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-7 offset-md-5">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="1" name="show_in_table">
                                    <span class="custom-control-indicator"></span>
                                    <span class="small">Выводить в таблице</span>
                                </label>

                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-7 offset-md-5">

                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="1" name="is_filter" formControlName="is_filter">
                                    <span class="custom-control-indicator"></span>
                                    <span class="small">Показывать в фильтре</span>
                                </label>

                            </div>
                        </div>

                        <div class="alert alert-danger mt-3 mb-3" [hidden]="!errorFieldMessage">
                            <button type="button" class="close" (click)="errorFieldMessage = ''">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{errorFieldMessage}}
                        </div>

                        <div class="mt-3">
                            <button type="button" class="btn btn-sm btn-info btn-wide" (click)="submitField()" [hidden]="action != 'add_field'">
                                <i class="icon-plus"></i>
                                Add field
                            </button>
                            <button type="button" class="btn btn-sm btn-success btn-wide" (click)="displayToggle(fieldsBlock, true); submitField()" [hidden]="action != 'edit_field'">
                                <i class="icon-check"></i>
                                Save field
                            </button>
                            <button type="button" class="btn btn-sm btn-secondary btn-wide" (click)="displayToggle(fieldsBlock, true); editFieldCancel()">
                                Cancel
                            </button>
                        </div>

                    </div>
                </div>
                <!-- /Field form -->

            </div>
        </div>

        <div class="form-group row mt-3">
            <div class="col-12">

                <label class="label-filled">
                    Поля
                </label>

                <hr class="mt-0 mb-0">
                <div class="text-center mb-2" style="margin-top: -0.8rem;">
                    <button type="button" class="btn btn-secondary btn-sm" [ngSwitch]="fieldsBlock.style.display" (click)="displayToggle(fieldsBlock)">
                        <span *ngSwitchCase="'none'">
                            <i class="icon-plus"></i>
                            <span i18n>Expand</span>
                        </span>
                        <span *ngSwitchCase="'block'">
                            <i class="icon-minus"></i>
                            <span i18n>Collapse</span>
                        </span>
                    </button>
                </div>

                <div #fieldsBlock style="display: block;">
                    <table class="table table-striped table-hover table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Системное имя</th>
                                <th>Тип ввода</th>
                                <th>Группа</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="show-on-hover-parent" *ngFor="let item of model.fields">
                                <td>
                                    {{item.title}}
                                </td>
                                <td>
                                    {{item.name}}
                                </td>
                                <td>
                                    {{item.input_type}}
                                </td>
                                <td>
                                    <div class="relative">
                                        <div class="show-on-hover">
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="displayToggle(fieldsBlock); editField(item)" [hidden]="item.name == currentFieldName" ngbTooltip="Edit">
                                                <i class="icon-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="displayToggle(fieldsBlock); copyField(item)" ngbTooltip="Copy">
                                                <i class="icon-stack"></i>
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="deleteField(item)" [hidden]="item.name == currentFieldName" ngbTooltip="Delete">
                                                <i class="icon-cross"></i>
                                            </button>
                                        </div>
                                    </div>
                                    {{item.group}}
                                </td>
                            </tr>
                            <tr [hidden]="model.fields.length > 0" class="table-warning">
                                <td colspan="4" class="text-center">
                                    Empty
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="alert alert-danger mt-3 mb-0" [hidden]="!errorMessage">
                    <button type="button" class="close" (click)="errorMessage = ''">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{errorMessage}}
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer d-block">
        <button type="submit" class="btn btn-success btn-wide">
            Save
        </button>
        <button type="submit" class="btn btn-secondary btn-wide" (click)="activeModal.dismiss()">
            Cancel
        </button>
    </div>

</form>