<div class="modal-header d-block">
    <div class="d-block float-right">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">
            Close
        </button>
    </div>
    <h4 class="modal-title">{{modalTitle}}</h4>
</div>

<form [formGroup]="form" [class.loading]="loading">
    <div class="modal-body">

        <div class="row form-group" [class.form-group-message]="formErrors.parent_id">
            <div class="col-md-5">
                <label for="fieldCategory">Основная категория</label>
            </div>
            <div class="col-md-7">
                <select id="fieldCategory" class="form-control" name="parent_id" formControlName="parent_id" [(ngModel)]="model.parent_id" (change)="onChangeContentType()">
                    <option *ngFor="let category of categories" [value]="category.id">{{category.title}}</option>
                </select>
                <div *ngIf="formErrors.parent_id" class="alert alert-danger">
                    {{formErrors.parent_id}}
                </div>
            </div>
        </div>

        <div class="row form-group" [class.form-group-message]="formErrors.is_active">
            <div class="col-md-7 ml-md-auto">
                <div class="card card-body p-2 pl-3">

                    <label class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input" value="1" name="is_active" formControlName="is_active" [(ngModel)]="model.is_active">
                        <span class="custom-control-indicator"></span>
                        <span>Активный</span>
                    </label>

                </div>
            </div>
        </div>

        <input-field-renderer [(fields)]="currentContentType.fields" [(groups)]="currentContentType.groups" [(formErrors)]="formErrors" [(validationMessages)]="validationMessages" [(model)]="model" [(form)]="form"></input-field-renderer>

        <div class="alert alert-danger mt-3 mb-0" [hidden]="!errorMessage">
            <button type="button" class="close" (click)="errorMessage = ''">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorMessage}}
        </div>

    </div>

    <div class="modal-footer d-block">
        <button type="button" class="btn btn-success btn-wide" [disabled]="submitted" (click)="save()">
            Save
        </button>
        <button type="button" class="btn btn-secondary btn-wide" (click)="activeModal.dismiss()">
            Cancel
        </button>
    </div>

</form>