
<div class="card">

    <div class="card-block">

        <h3>
            <i class="icon-toggle"></i>
            {{title}}
        </h3>

        <hr>

        <div class="float-left">
            <a class="btn btn-secondary" [routerLink]="['/catalog']">
                <i class="icon-arrow-left"></i>
                Каталог
            </a>
        </div>

        <cmp-table [items]="items" [itemsTotal]="100" [tableFields]="tableFields" (editItemRequest)="modalItemOpen($event)"></cmp-table>

    </div>
</div>
