<div class="card">
    <div class="card-body">

        <h3>
            <i class="icon-bar-graph-2"></i>
            {{'STATISTICS' | translate}}
        </h3>

        <hr>

        <div class="float-left">

            <div class="input-group">
                <input type="text" class="form-control" name="dp" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="d.toggle()" type="button">
                        <i class="icon-date_range"></i>
                    </button>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

    </div>
    <div class="card-body border-t">

        <br>
        <br>
        <br>

    </div>
</div>