<div class="card">
    <div class="card-block">

        <div class="float-right">
            <!--a class="btn btn-primary" [routerLink]="['/settings/input_types']">
                <i class="icon-upload"></i>
                Типы ввода
            </a>
            <a class="btn btn-primary" [routerLink]="['/settings/output_types']">
                <i class="icon-download"></i>
                Типы вывода
            </a-->
        </div>

        <h3>
            <i class="icon-bar-graph-2"></i>
            {{title}}
        </h3>

        <hr>

        <div class="row">
            <div class="col-md-6">

                <!-- statuses -->
                <label class="label-filled">
                    Статусы
                </label>

                <div class="card">
                    <div class="card-block text-muted">
                        Названия статусов заказов и цвет для вывода на странице заказов в административной части.
                    </div>
                    <div class="table-responsive">

                        <table class="table table-divided mb-0">
                            <thead>
                            <tr>
                                <th>
                                    Название
                                </th>
                                <th>
                                    Шаблон письма
                                </th>
                                <th>
                                    Цвет
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control form-control-sm" name="" value="Новый">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" name="" value="userEmailStatus">
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm bg-info" style="width: 30px;">
                                        &nbsp;
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm">
                                        <i class="icon-cross"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control form-control-sm" name="" value="Принят к оплате">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" name="" value="userEmailStatus">
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm bg-success" style="width: 30px;">
                                        &nbsp;
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm">
                                        <i class="icon-cross"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control form-control-sm" name="" value="Отправлен">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" name="" value="userEmailStatus">
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm bg-warning" style="width: 30px;">
                                        &nbsp;
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm">
                                        <i class="icon-cross"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control form-control-sm" name="" value="Отменен">
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm" name="" value="userEmailStatus">
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm bg-danger" style="width: 30px;">
                                        &nbsp;
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-secondary btn-sm">
                                        <i class="icon-cross"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="bg-faded">
                                <td colspan="4" class="text-center">
                                    <button class="btn btn-secondary btn-sm">
                                        <i class="icon-plus"></i>
                                        Добавить
                                    </button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
                <!-- /statuses -->

            </div>
            <div class="col-md-6">

                <!-- delivery -->
                <label class="label-filled">
                    Методы доставки
                </label>

                <div class="card mb-3">
                    <div class="card-block text-muted">
                        Список методов доставки для вывода в форме заказа во внешней части сайта.
                    </div>
                    <div class="table-responsive">

                        <table class="table table-divided mb-0">
                            <thead>
                                <tr>
                                    <th>
                                        Название
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                    <th>
                                        Макс. цена
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="Самовывоз">
                                    </td>
                                    <td class="text-center">
                                        <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="0">
                                    </td>
                                    <td class="text-center">
                                        <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="Доставка по городу">
                                    </td>
                                    <td class="text-center">
                                        <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="0">
                                    </td>
                                    <td class="text-center">
                                        <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="Доставка по городу">
                                    </td>
                                    <td class="text-center">
                                        <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="0">
                                    </td>
                                    <td class="text-center">
                                        <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="bg-faded">
                                    <td colspan="4" class="text-center">
                                        <button class="btn btn-secondary btn-sm">
                                            <i class="icon-plus"></i>
                                            Добавить
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
                <!-- /delivery -->

            </div>
        </div>

    </div>
</div>