<div class="card">
    <div class="card-block">

        <h3>
            <i class="icon-bar-graph-2"></i>
            {{title}}
        </h3>

        <hr>

        <div class="float-left">

            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-addon" (click)="d.toggle()">
                    <i class="icon-grid"></i>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

    </div>
    <div class="card-block">

        <br>
        <br>
        <br>

    </div>
</div>