<div class="card">
    <div class="card-body">

        <h3>
            <i class="icon-cog"></i>
            {{title}}
        </h3>

        <hr>

        <div class="row">
            <div class="col-md-6">

                <!-- settings -->
                <div *ngIf="forms.SETTINGS_MAIN" [class.loading]="settings.SETTINGS_MAIN.loading">
                    <label class="label-filled">{{'SETTINGS_MAIN' | translate}}</label>

                    <div class="card mb-4">
                        <div class="table-responsive" [formGroup]="forms.SETTINGS_MAIN">

                            <table class="table table-divided mb-0">
                                <thead>
                                    <tr>
                                        <th>{{'PARAMETER' | translate}}</th>
                                        <th>{{'VALUE' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let setting of settings.SETTINGS_MAIN.values">
                                        <td>
                                            <span>{{setting.name | translate}}</span>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" [formControlName]="setting.name" [name]="setting.name">
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="settings.SETTINGS_MAIN.changed">
                                    <tr>
                                        <td colspan="2" class="text-center">

                                            <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_MAIN')">
                                                <i class="icon-check"></i>
                                                <span>{{'SAVE' | translate}}</span>
                                            </button>

                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /settings -->

            </div>
            <div class="col-md-6">

                <!-- statuses -->
                <div>
                    <label class="label-filled">
                        Статусы
                    </label>

                    <div class="card mb-4">
                        <div class="card-body text-muted">
                            Названия статусов заказов и цвет для вывода на странице заказов в административной части.
                        </div>
                        <div class="table-responsive">

                            <table class="table table-divided mb-0">
                                <thead>
                                <tr>
                                    <th>
                                        Название
                                    </th>
                                    <th>
                                        Шаблон письма
                                    </th>
                                    <th>
                                        Цвет
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="Новый">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="userEmailStatus">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm bg-info" style="width: 30px;">
                                            &nbsp;
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="Принят к оплате">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="userEmailStatus">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm bg-success" style="width: 30px;">
                                            &nbsp;
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="Отправлен">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="userEmailStatus">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm bg-warning" style="width: 30px;">
                                            &nbsp;
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="Отменен">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm" name="" value="userEmailStatus">
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm bg-danger" style="width: 30px;">
                                            &nbsp;
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="bg-faded">
                                    <td colspan="4" class="text-center">

                                        <button class="btn btn-secondary btn-sm">
                                            <i class="icon-plus"></i>
                                            Добавить
                                        </button>

                                        <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_ORDER_STATUSES')" *ngIf="settings.SETTINGS_ORDER_STATUSES.changed">
                                            <i class="icon-check"></i>
                                            <span>{{'SAVE' | translate}}</span>
                                        </button>

                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /statuses -->

                <!-- delivery -->
                <div>
                    <label class="label-filled">
                        Методы доставки
                    </label>

                    <div class="card mb-4">
                        <div class="card-body text-muted">
                            Список методов доставки для вывода в форме заказа во внешней части сайта.
                        </div>
                        <div class="table-responsive">

                            <table class="table table-divided mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            Название
                                        </th>
                                        <th>
                                            Цена
                                        </th>
                                        <th>
                                            Макс. цена
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" name="" value="Самовывоз">
                                        </td>
                                        <td class="text-center">
                                            <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="0">
                                        </td>
                                        <td class="text-center">
                                            <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="">
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-secondary btn-sm">
                                                <i class="icon-cross"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" name="" value="Доставка по городу">
                                        </td>
                                        <td class="text-center">
                                            <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="0">
                                        </td>
                                        <td class="text-center">
                                            <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="">
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-secondary btn-sm">
                                                <i class="icon-cross"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" name="" value="Доставка по городу">
                                        </td>
                                        <td class="text-center">
                                            <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="0">
                                        </td>
                                        <td class="text-center">
                                            <input type="number" class="form-control form-control-sm mwidth-80 m-auto" name="" value="">
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-secondary btn-sm">
                                                <i class="icon-cross"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="bg-faded">
                                        <td colspan="4" class="text-center">

                                            <button class="btn btn-secondary btn-sm">
                                                <i class="icon-plus"></i>
                                                Добавить
                                            </button>

                                            <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_DELIVERY')"  *ngIf="settings.SETTINGS_DELIVERY.changed">
                                                <i class="icon-check"></i>
                                                <span>{{'SAVE' | translate}}</span>
                                            </button>

                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /delivery -->

            </div>
        </div>

    </div>
</div>