<div class="card">
    <div class="card-body">

        <h3>
            <i class="icon-cog"></i>
            {{'SETTINGS' | translate}}
        </h3>

        <hr>

        <div class="row">
            <div class="col-md-6">

                <!-- settings -->
                <div [class.loading]="settings.SETTINGS_MAIN.loading">
                    <label class="label-filled">{{'SETTINGS_MAIN' | translate}}</label>

                    <div class="card mb-4">
                        <div class="table-responsive">

                            <table class="table table-divided mb-0">
                                <thead>
                                    <tr>
                                        <th>{{'PARAMETER' | translate}}</th>
                                        <th>{{'VALUE' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let setting of settings.SETTINGS_MAIN.values">
                                        <td>
                                            <span>{{setting.name | translate}}</span>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="setting.value" (ngModelChange)="onValueChanged('SETTINGS_MAIN')">
                                        </td>
                                    </tr>
                                    <tr *ngIf="settings.SETTINGS_MAIN.changed">
                                        <td colspan="2" class="text-right">

                                            <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_MAIN')">
                                                <i class="icon-check"></i>
                                                <span>{{'SAVE' | translate}}</span>
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm" (click)="resetSettingsForm('SETTINGS_MAIN')" [title]="'FORM_RESET' | translate">
                                                <i class="icon-reload"></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /settings -->

            </div>
            <div class="col-md-6">

                <!-- statuses -->
                <div [class.loading]="settings.SETTINGS_ORDER_STATUSES.loading">
                    <label class="label-filled">{{'SETTINGS_ORDER_STATUSES' | translate}}</label>

                    <div class="card mb-4 responsive" #containerStatuses>
                        <div class="card-body text-muted">
                            Названия статусов заказов и цвет для вывода на странице заказов в административной части.
                        </div>
                        <div>

                            <table class="table table-divided mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            {{'NAME' | translate}}
                                        </th>
                                        <th>
                                            {{'MAIL_TEMPLATE' | translate}}
                                        </th>
                                        <th>
                                            {{'COLOR' | translate}}
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let setting of settings.SETTINGS_ORDER_STATUSES.values; let index=index">
                                        <td>
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="setting.name" (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="setting.options.template.value" (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')">
                                        </td>
                                        <td class="text-center">
                                            <p-colorPicker [(ngModel)]="setting.options.color.value" (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')"></p-colorPicker>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-secondary btn-sm" [title]="'REMOVE' | translate" (click)="deleteSetting('SETTINGS_ORDER_STATUSES', index)">
                                                <i class="icon-cross"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="bg-faded">
                                        <td colspan="4" class="text-center">

                                            <div class="relative">
                                                <div class="pos-absolute-right" *ngIf="settings.SETTINGS_ORDER_STATUSES.changed">

                                                    <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_ORDER_STATUSES')">
                                                        <i class="icon-check"></i>
                                                        <span>{{'SAVE' | translate}}</span>
                                                    </button>
                                                    <button type="button" class="btn btn-secondary btn-sm" (click)="resetSettingsForm('SETTINGS_ORDER_STATUSES')" [title]="'FORM_RESET' | translate">
                                                        <i class="icon-reload"></i>
                                                    </button>

                                                </div>
                                            </div>

                                            <button type="button" class="btn btn-secondary btn-sm" (click)="addSetting('SETTINGS_ORDER_STATUSES')">
                                                <i class="icon-plus"></i>
                                                <span>{{'ADD' | translate}}</span>
                                            </button>

                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /statuses -->

                <!-- delivery -->
                <div [class.loading]="settings.SETTINGS_DELIVERY.loading">
                    <label class="label-filled">{{'SETTINGS_DELIVERY' | translate}}</label>

                    <div class="card mb-4">
                        <div class="card-body text-muted">
                            Список методов доставки для вывода в форме заказа во внешней части сайта.
                        </div>
                        <div class="table-responsive">

                            <table class="table table-divided mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            {{'NAME' | translate}}
                                        </th>
                                        <th>
                                            {{'PRICE' | translate}}
                                        </th>
                                        <th>
                                            {{'MAX_PRICE' | translate}}
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let setting of settings.SETTINGS_DELIVERY.values; let index=index">
                                        <td>
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="setting.name" (ngModelChange)="onValueChanged('SETTINGS_DELIVERY')">
                                        </td>
                                        <td class="text-center">
                                            <input type="number" class="form-control form-control-sm mwidth-80 m-auto" [(ngModel)]="setting.options.price.value" (ngModelChange)="onValueChanged('SETTINGS_DELIVERY')">
                                        </td>
                                        <td class="text-center">
                                            <input type="number" class="form-control form-control-sm mwidth-80 m-auto" [(ngModel)]="setting.options.priceLimit.value" (ngModelChange)="onValueChanged('SETTINGS_DELIVERY')">
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-secondary btn-sm" [title]="'REMOVE' | translate" (click)="deleteSetting('SETTINGS_DELIVERY', index)">
                                                <i class="icon-cross"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr class="bg-faded">
                                        <td colspan="4" class="text-center">

                                            <div class="relative">
                                                <div class="pos-absolute-right" *ngIf="settings.SETTINGS_DELIVERY.changed">

                                                    <button type="button" class="btn btn-info btn-sm" (click)="saveSettings('SETTINGS_DELIVERY')">
                                                        <i class="icon-check"></i>
                                                        <span>{{'SAVE' | translate}}</span>
                                                    </button>
                                                    <button type="button" class="btn btn-secondary btn-sm" (click)="resetSettingsForm('SETTINGS_DELIVERY')" [title]="'FORM_RESET' | translate">
                                                        <i class="icon-reload"></i>
                                                    </button>

                                                </div>
                                            </div>

                                            <button type="button" class="btn btn-secondary btn-sm" (click)="addSetting('SETTINGS_DELIVERY')">
                                                <i class="icon-plus"></i>
                                                <span>{{'ADD' | translate}}</span>
                                            </button>

                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /delivery -->

            </div>
        </div>

    </div>
</div>