
<div class="card">

    <div class="card-block">

        <div class="float-right">
            <a class="btn btn-primary" [routerLink]="['/catalog/content_types']">
                <i class="icon-box"></i>
                Типы товаров
            </a>
        </div>
        <h3>
            <i class="icon-layers"></i>
            {{title}}
        </h3>

        <hr>

        <div class="float-right">

            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>
                    Массовые дейсвия
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Отключить / включить</button>
                    <button class="dropdown-item">Удалить</button>
                </div>
            </div>

            <button type="button" class="btn btn-outline-success" (click)="modalProductOpen()">
                <i class="icon-plus"></i>
                Add product
            </button>

        </div>
        <div class="float-left">

            <categories-menu (changeRequest)="openCategory($event)"></categories-menu>

        </div>
    </div>

    <div class="table-responsive" [class.loading]="loading">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </th>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Цена</th>
                    <th class="text-center">Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr class="show-on-hover-parent" *ngFor="let item of items">
                    <td>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </td>
                    <th>{{item.id}}</th>
                    <td>
                        {{item.title}}
                    </td>
                    <td>
                        {{item.price}}
                    </td>
                    <td class="text-center">
                        <div class="relative">
                            <div class="show-on-hover">
                                <button class="btn btn-secondary btn-sm" ngbTooltip="Edit">
                                    <i class="icon-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="Copy">
                                    <i class="icon-stack"></i>
                                </button>
                                <button class="btn btn-secondary btn-sm" ngbTooltip="Delete">
                                    <i class="icon-cross"></i>
                                </button>
                            </div>
                        </div>
                        <i class="big text-success icon-circle-check"></i>
                    </td>
                </tr>
                <tr [hidden]="items.length > 0" class="table-warning">
                    <td colspan="5" class="text-center">
                        Empty.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">

        <div class="float-right">
            <select class="form-control">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <ngb-pagination [class]="'mb-0'" [collectionSize]="120" [page]="1" [maxSize]="8" [rotate]="true" [boundaryLinks]="false"></ngb-pagination>

    </div>
</div>
