<div [ngSwitch]="outputType">

    <div *ngSwitchCase="'boolean'" class="text-center">
        <i class="big text-success icon-circle-check" [hidden]="!value"></i>
        <i class="big text-muted icon-circle-cross" [hidden]="value"></i>
    </div>

    <div *ngSwitchCase="'number'">{{value | number: '1.2-2':'ru-RU'}}</div>

    <div *ngSwitchCase="'date'">{{value | date: options.format}}</div>

    <div *ngSwitchCase="'dateObject'">{{value | dateFromObject: options.format}}</div>

    <div *ngSwitchCase="'status'">
        <div class="d-block" ngbDropdown [placement]="'bottom'" #myDrop="ngbDropdown">
            <button class="btn btn-primary btn-xs shk-btn-status" ngbDropdownToggle [style.backgroundColor]="getStatusColor(value)">
                {{value}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownStatus">
                <ng-container *ngFor="let status of settingsStatuses">
                    <button class="dropdown-item" (click)="optionUpdate('status', status.name)" [disabled]="status.name === value">
                        {{status.name}}
                    </button>
                </ng-container>
            </div>
        </div>
    </div>

    <div *ngSwitchDefault>{{value}}</div>

</div>