
<ngb-tabset (tabChange)="onGroupChange($event)" justify="fill">
    <ngb-tab *ngFor="let groupName of groups; let i=index">
        <ng-template ngbTabTitle>{{groupName}}</ng-template>
        <ng-template ngbTabContent>
            <div class="pt-3">

                <div class="form-group"
                     [class.form-group-message]="formErrors[field.name]"
                     [formGroup]="form"
                     *ngFor="let field of fields | filterFieldByGroup: groupName">

                    <div [ngSwitch]="field.inputType">

                        <!-- system_name -->
                        <div class="row" *ngSwitchCase="'system_name'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary" ngbTooltip="{{'GENERATE' | translate}}" (click)="generateName(field)">
                                            <i class="icon-reload"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- name -->
                        <div class="row" *ngSwitchCase="'name'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]">
                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- number -->
                        <div class="row" *ngSwitchCase="'number'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                <input type="number" class="form-control" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]" [min]="field.inputProperties.min" [max]="field.inputProperties.max" [step]="field.inputProperties.step">
                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- textarea -->
                        <div class="row" *ngSwitchCase="'textarea'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                <textarea rows="6" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]" class="form-control"></textarea>
                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- file -->
                        <div class="card card-body p-2" *ngSwitchCase="'file'">
                            <div class="min-height110 show-on-hover-parent">
                                <div class="mb-1">
                                    <label for="field_{{field.name}}">
                                        {{field.title}}
                                        <span class="text-danger" *ngIf="field.required">*</span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <input type="file" id="field_{{field.name}}" [name]="field.name" [accept]="field.inputProperties.allowed_extensions" style="display:none;" (change)="fileChange($event, field, imgPreview)" #fileInput>
                                    <input type="hidden" [formControlName]="field.name" [(ngModel)]="model[field.name]">

                                    <div class="mx-auto relative" [ngClass]="{'show-on-hover-parent': field.inputProperties.has_preview_image && model[field.name]}" style="width:250px; min-height: 40px;">
                                        <div [style.display]="field.inputProperties.has_preview_image && model[field.name] ? 'block' : 'none'">
                                            <img [src]="getImageUrl(model[field.name])" alt="Preview" class="img-thumbnail" #imgPreview>
                                        </div>
                                        <div class="file-buttons show-on-hover-child-left">
                                            <button type="button" class="btn btn-secondary btn-wide mr-2" (click)="fileInput.click()">
                                                <i class="icon-upload"></i>
                                                Обзор
                                            </button>
                                            <button type="button" class="btn btn-secondary" *ngIf="model[field.name]" (click)="fileClear(field.name, imgPreview)" title="Clear">
                                                <i class="icon-cross"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pt-3 text-secondary" *ngIf="model[field.name] && model[field.name].title">
                                        <i class="icon-file"></i>
                                        {{model[field.name].title}}.{{model[field.name].extension}}
                                    </div>

                                    <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                        {{formErrors[field.name]}}
                                    </div>
                                </div>
                                <ng-container *ngIf="field.inputProperties.multiple">
                                    <div class="show-on-hover-child pos-absolute-right-bottom">
                                        <div class="mb-2">
                                            <button type="button" class="btn btn-secondary btn-sm" [ngbTooltip]="'MOVE_UP' | translate" placement="left" (click)="fieldMove(field, 'up', $event)">
                                                <i class="icon-arrow-up"></i>
                                            </button>
                                        </div>
                                        <div class="mb-2">
                                            <button type="button" class="btn btn-secondary btn-sm" [ngbTooltip]="'MOVE_DOWN' | translate" placement="left" (click)="fieldMove(field, 'down', $event)">
                                                <i class="icon-arrow-down"></i>
                                            </button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-secondary btn-sm" [ngbTooltip]="'ADD' | translate" placement="left" (click)="fieldAdd(field, $event)">
                                                <i class="icon-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <!-- color -->
                        <div class="row" *ngSwitchCase="'color'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="position-relative">
                                            <div class="position-absolute pos-absolute-right" style="right: 3px; top: 3px;">
                                                <p-colorPicker [inputId]="'field_' + field.name"
                                                               [formControlName]="field.name"
                                                               [inline]="field.inputProperties['inline']"
                                                               [(ngModel)]="model[field.name]"></p-colorPicker>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" maxlength="7" [(ngModel)]="model[field.name]" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>

                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- rich_text -->
                        <div class="row" *ngSwitchCase="'rich_text'">
                            <div class="col-12">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                                <p-editor [formControlName]="field.name"
                                          [(ngModel)]="model[field.name]"
                                          [formats]="field.inputProperties.formats"
                                          [style]="{'height':'320px'}">
                                    <p-header>
                                        <span class="ql-formats">
                                            <select class="ql-header" *ngIf="field.inputProperties.formats.indexOf('header') > -1"></select>
                                            <select class="ql-font" *ngIf="field.inputProperties.formats.indexOf('font') > -1"></select>
                                            <select class="ql-size" *ngIf="field.inputProperties.formats.indexOf('size') > -1"></select>
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-bold" aria-label="Bold" *ngIf="field.inputProperties.formats.indexOf('bold') > -1"></button>
                                            <button class="ql-italic" aria-label="Italic" *ngIf="field.inputProperties.formats.indexOf('italic') > -1"></button>
                                            <button class="ql-underline" aria-label="Underline" *ngIf="field.inputProperties.formats.indexOf('underline') > -1"></button>
                                            <button class="ql-strike" aria-label="Strike" *ngIf="field.inputProperties.formats.indexOf('strike') > -1"></button>
                                        </span>
                                        <span class="ql-formats">
                                            <select class="ql-color" *ngIf="field.inputProperties.formats.indexOf('color') > -1"></select>
                                            <select class="ql-background" *ngIf="field.inputProperties.formats.indexOf('background') > -1"></select>
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-list" value="ordered" aria-label="Ordered List" *ngIf="field.inputProperties.formats.indexOf('list') > -1"></button>
                                            <button class="ql-list" value="bullet" aria-label="Unordered List" *ngIf="field.inputProperties.formats.indexOf('list') > -1"></button>
                                            <select class="ql-align" *ngIf="field.inputProperties.formats.indexOf('align') > -1"></select>
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-link" aria-label="Insert Link" *ngIf="field.inputProperties.formats.indexOf('link') > -1"></button>
                                            <button class="ql-image" aria-label="Insert Image" *ngIf="field.inputProperties.formats.indexOf('image') > -1"></button>
                                            <button class="ql-video" aria-label="Insert Video" *ngIf="field.inputProperties.formats.indexOf('video') > -1"></button>
                                            <button class="ql-code-block" aria-label="Insert Code Block" *ngIf="field.inputProperties.formats.indexOf('code-block') > -1"></button>
                                        </span>
                                        <span class="ql-formats">
                                            <button class="ql-clean" aria-label="Remove Styles" *ngIf="field.inputProperties.formats.indexOf('clean') > -1"></button>
                                        </span>
                                    </p-header>
                                </p-editor>
                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- date -->
                        <div class="row" *ngSwitchCase="'date'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">

                                <p-calendar [formControlName]="field.name"
                                            [(ngModel)]="model[field.name]"
                                            [dateFormat]="field.inputProperties.format"
                                            [showTime]="field.inputProperties.show_time"
                                            [hourFormat]="field.inputProperties.hour_format"
                                            [locale]="calendarLocale[field.inputProperties.locale]"
                                            [showButtonBar]="true"
                                            [showIcon]="true"
                                            [icon]="'icon-date_range'"></p-calendar>

                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- select -->
                        <div class="row" *ngSwitchCase="'select'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                <select id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]" class="form-control">
                                    <option *ngFor="let opt of field.options" [value]="opt.value">{{opt.title}}</option>
                                </select>
                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- radio -->
                        <div class="row" *ngSwitchCase="'radio'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                <label class="mr-3" *ngFor="let opt of field.options">
                                    <input type="radio" [name]="field.name" [value]="opt.value" [formControlName]="field.name" [(ngModel)]="model[field.name]">
                                    {{opt.title}}
                                </label>
                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- checkbox -->
                        <div class="row" *ngSwitchCase="'checkbox'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                <label class="mr-3" *ngFor="let opt of field.options; let index=index">
                                    <input type="checkbox" [name]="field.name + index" [value]="opt.value" (change)="selectValue($event, field.name, opt.value)" [checked]="fieldsMultivalues[field.name].checked[index]">
                                    {{opt.title}}
                                </label>
                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- tags -->
                        <div class="row" *ngSwitchCase="'tags'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">

                                <p-chips [formControlName]="field.name" [(ngModel)]="model[field.name]"></p-chips>

                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                        <!-- categories -->
                        <div class="row" *ngSwitchCase="'categories'">
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                <p-tree selectionMode="checkbox"
                                        [value]="categories"
                                        [(selection)]="categoriesSelection[field.name]"
                                        [loading]="loadingCategories"
                                        [layout]="field.inputProperties.layout"
                                        [loadingIcon]="'icon-loader'"
                                        (onNodeSelect)="categorySelect(field.name)"
                                        (onNodeUnselect)="categorySelect(field.name)"></p-tree>
                            </div>
                        </div>

                        <!-- parameters -->
                        <div class="row" *ngSwitchCase="'parameters'">
                            <div class="col-12">
                                <div class="card card-body p-2">
                                    <label for="field_{{field.name}}">
                                        {{field.title}}
                                        <span class="text-danger" *ngIf="field.required">*</span>
                                    </label>

                                    <table class="table table-divided mb-0">
                                        <thead>
                                            <tr>
                                                <th>
                                                    {{'NAME' | translate}}
                                                </th>
                                                <th>
                                                    {{'VALUE' | translate}}
                                                </th>
                                                <th>
                                                    {{'PRICE' | translate}}
                                                </th>
                                                <th>
                                                    {{'IMAGE_NUMBER' | translate}}
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of model[field.name]; index as index">
                                                <td>
                                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td class="text-center">
                                                    <input type="number" class="form-control form-control-sm" min="0" [(ngModel)]="item.price" [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td class="text-center">
                                                    <input type="number" class="form-control form-control-sm" min="0" [(ngModel)]="item.imageNum" [ngModelOptions]="{standalone: true}">
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="{{'DELETE' | translate}}" (click)="parametersRemove(field.name, index)">
                                                        <i class="icon-cross"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="bg-faded">
                                                <td colspan="4" class="text-center pb-2">
                                                    <button type="button" class="btn btn-secondary btn-sm" (click)="parametersAdd(field.name)">
                                                        <i class="icon-plus"></i>
                                                        &nbsp;
                                                        <span>{{'ADD' | translate}}</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngSwitchDefault>
                            <div class="col-md-5">
                                <label for="field_{{field.name}}">
                                    {{field.title}}
                                    <span class="text-danger" *ngIf="field.required">*</span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" id="field_{{field.name}}" [name]="field.name" [formControlName]="field.name" [(ngModel)]="model[field.name]" class="form-control">
                                <div *ngIf="formErrors[field.name]" class="alert alert-danger">
                                    {{formErrors[field.name]}}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
