{% if data is not empty %}
<select class="form-select form-select-sm d-inline-block border-secondary" id="shk-currency" style="width: 80px;">
    {% for currency in data %}
        <option value="{{ currency.name }}" data-rate="{{ currency.options.value.value }}">{{ currency.name }}</option>
    {% endfor %}
</select>
{% endif %}
