{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{% if type == 'errors' %}danger{% else %}info{% endif %}">
            {{ message | trans }}
        </div>
    {% endfor %}
{% endfor %}