{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <main role="main" class="container">
        <div class="min-height400">

            {{ shopCart('shop_cart_edit', shoppingCartContentType) }}

        </div>
    </main>
    <script>
        var shoppingCart;
        document.addEventListener('DOMContentLoaded', function() {
            shoppingCart = new ShoppingCart({
                baseUrl: '{{ app.request.baseUrl }}',
                connectorUrl: '{{ path('shop_cart_action') }}',
                selector: '#shoppingCartContainer',
                templateName: 'shop_cart_edit'
            });
        });
    </script>
{% endblock %}