<div class="mb-3">
    <div class="float-right">

        <div ngbDropdown class="d-inline-block mr-1">
            <button class="btn btn-info" ngbDropdownToggle>
                <span>{{'BATCH_ACTIONS' | translate}}</span>
            </button>
            <div ngbDropdownMenu>
                <button class="dropdown-item" (click)="blockSelected()">{{'DISABLE_ENABLE' | translate}}</button>
                <button class="dropdown-item" (click)="deleteSelected()">{{'DELETE' | translate}}</button>
            </div>
        </div>

        <button type="button" class="btn btn-success d-inline-block btn-wide" (click)="modalOpen()">
            <i class="icon-plus"></i>
            <span>{{'ADD' | translate}}</span>
        </button>

    </div>
    <div class="float-left">
        <a class="btn btn-outline-secondary" [routerLink]="['/catalog']">
            <i class="icon-arrow-left"></i>
            <span>{{'CATALOG' | translate}}</span>
        </a>
    </div>
    <div class="clearfix"></div>
</div>

<app-table
        [items]="items"
        [(selectedIds)]="selectedIds"
        [collectionSize]="collectionSize"
        [queryOptions]="queryOptions"
        [tableFields]="tableFields"
        [(loading)]="loading"
        (actionRequest)="actionRequest($event)" #table></app-table>
