{% if data is not empty %}
<select class="form-control form-control-sm" id="shk-currency">
    {% for currency in data %}
        <option value="{{ currency.name }}" data-rate="{{ currency.options.value.value }}">{{ currency.name }}</option>
    {% endfor %}
</select>
{% endif %}