<!-- filters -->
<div class="catalog-filters" id="catalog-filters">

    <form action="" method="get">

        <div class="d-block d-md-none">
            <button class="btn btn-secondary btn-block shk-button-filters-hide" type="button">
                <i class="icon-keyboard_arrow_left"></i>
                Hide Filters
            </button>
            <hr>
        </div>

        {% for filter in filters %}
            <div class="filter-block">
                <h4>
                    {{ filter.title }}
                </h4>
                <div class="my-2">
                    {#<input class="form-control" type="range" min="0" max="100000" value="0">#}
                </div>
            </div>
            <hr>
        {% endfor %}

    </form>

</div>
<!-- /filters -->