<div class="shop_cart">
    <div class="container">
        <div class="float-right">
            <a href="" class="btn btn-outline-light">
                {{ 'Proceed to checkout' | trans }}
            </a>
        </div>
        Выбрано
        <span class="badge badge-pill badge-light big mx-2">
            {{ countTotal }}
        </span>
        товар(ов) на сумму
        <span class="badge badge-light big mx-2">
            {{ priceTotal }}
        </span>
        руб.
        <div class="clearfix"></div>
    </div>
</div>