<div class="mb-3">
    <a href="{{ catalogPath(currentCategoryUri, systemName) }}">
        <img src="uploads/{{ data.dirPath }}/{{ data.fileName }}.{{ data.extension }}" alt="" style="max-width: 100%;">
    </a>
</div>