<div class="image-wrapper mb-3">
    <a href="{{ catalogPath(currentCategoryUri, systemName) }}">
        <img src="uploads/{{ data.dirPath }}/{{ data.fileName }}.{{ data.extension }}" alt="">
    </a>
</div>