<div class="layout-topbar">
    <button type="button" class="menu-button" (click)="navBarToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <span class="layout-topbar-header text-3xl text-600">
        <i class="fi fi-br-settings vertical-align-middle mr-2"></i>
        <span class="vertical-align-middle">{{ 'SETTINGS' | translate }}</span>
    </span>
</div>

<div class="layout-content">
    <div class="content-section">
        
        <div class="grid grid-nogutter">
            <div class="col-12 md:col-6">

                <!-- settings -->
                <div class="p-datatable-table-w-full">
                    <p-table [value]="settings.SETTINGS_MAIN.values"
                             [loading]="settings.SETTINGS_MAIN.loading"
                             dataKey="name"
                             editMode="row"
                             responsiveLayout="fixed"
                             [scrollable]="true"
                             [scrollHeight]="scrollHeight + 'px'">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{'PARAMETER' | translate}}</th>
                                <th>{{'VALUE' | translate}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-setting let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="setting">
                                <td style="width: 50%;">
                                    <div class="show-on-hover-parent w-full">
                                        <div class="show-on-hover relative">
                                            <div class="absolute pos-right pos-top">
                                                <span class="badge bg-secondary">{{ setting.name }}</span>
                                            </div>
                                        </div>
                                        <div class="text-overflow" [title]="setting.name | translate">
                                            {{ setting.name | translate }}
                                        </div>
                                    </div>
                                </td>
                                <td class="show-on-hover-parent" style="width: 50%;">
                                    <div class="min-height20 w-full">
                                        <div class="show-on-hover absolute pos-right10" [class.pos-top10]="!editing">
                                            <button *ngIf="!editing" pButton pRipple type="button"
                                                    pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(setting)"
                                                    [pTooltip]="'EDIT' | translate"
                                                    tooltipPosition="bottom"
                                                    class="p-button-raised p-button-rounded p-button-sm"></button>
                                            <button *ngIf="editing" pButton pRipple type="button"
                                                    pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(setting)"
                                                    [pTooltip]="'SAVE' | translate"
                                                    tooltipPosition="bottom"
                                                    class="p-button-raised p-button-rounded p-button-success p-button-sm ml-2"></button>
                                            <button *ngIf="editing" pButton pRipple type="button"
                                                    pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(setting, ri)"
                                                    [pTooltip]="'CANCEL' | translate"
                                                    tooltipPosition="bottom"
                                                    class="p-button-raised p-button-rounded p-button-danger p-button-sm ml-2"></button>
                                        </div>
                                        <p-cellEditor style="display: block; width: 100%;">
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" class="p-inputtext-sm w-full" [(ngModel)]="setting.value">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                <div class="text-overflow" [title]="setting.value" [ngClass]="{'text-password': getFieldTypeByName(setting) == 'password'}">
                                                    {{ setting.value }}
                                                </div>
                                            </ng-template>
                                        </p-cellEditor>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <!-- /settings -->
                
            </div>
            <div class="col-12 md:col-6">
                <div class="p-2 bg-white" [style.minHeight]="scrollHeight + 'px'">

                    <p-accordion>
                        <p-accordionTab [header]="'SETTINGS_ORDER_STATUSES' | translate" [selected]="true">
                            <div [class.loading]="settings.SETTINGS_PAYMENT.loading">
                                <div class="pb-3 text-600">
                                    {{'SETTINGS_STATUSES_DESCRIPTION' | translate}}
                                </div>
                                <p-table styleClass="p-datatable-sm" responsiveLayout="scroll"
                                         [value]="settings.SETTINGS_ORDER_STATUSES.values"
                                         [loading]="settings.SETTINGS_ORDER_STATUSES.loading">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th width="40%">{{'NAME' | translate}}</th>
                                            <th width="40%">{{'MAIL_TEMPLATE' | translate}}</th>
                                            <th width="10%">{{'COLOR' | translate}}</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                        <tr>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.name"
                                                       (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')">
                                            </td>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.options.template.value"
                                                       (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')">
                                            </td>
                                            <td>
                                                <p-colorPicker
                                                    [appendTo]="'body'"
                                                    [(ngModel)]="setting.options.color.value"
                                                    (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')"></p-colorPicker>
                                            </td>
                                            <td>
                                                <button pButton pRipple type="button" icon="pi pi-times"
                                                        class="p-button-raised p-button-rounded p-button-secondary p-button-sm ms-2"
                                                        (click)="deleteSetting('SETTINGS_ORDER_STATUSES', index)"
                                                        [pTooltip]="'DELETE' | translate"
                                                        tooltipPosition="bottom"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="text-center pt-2 pb-2 pb-md-0">
                                    <div class="relative">
                                        <div class="absolute pos-right pos-top" *ngIf="settings.SETTINGS_ORDER_STATUSES.changed">
                                            <button type="button" pButton pRipple icon="pi pi-check" class="p-button-success p-button-sm"
                                                    (click)="saveSettings('SETTINGS_ORDER_STATUSES')"
                                                    pTooltip="{{'SAVE' | translate}}"
                                                    tooltipPosition="bottom"></button>
                                            &nbsp;
                                            <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm"
                                                    (click)="resetSettingsForm('SETTINGS_ORDER_STATUSES')"
                                                    pTooltip="{{'FORM_RESET' | translate}}"
                                                    tooltipPosition="bottom"></button>
                                        </div>
                                    </div>
                                    <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-secondary p-button-sm"
                                            [label]="'ADD' | translate"
                                            (click)="addSetting('SETTINGS_ORDER_STATUSES')"></button>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab [header]="'SETTINGS_DELIVERY' | translate">
                            <div class="pb-3 text-600">
                                {{'SETTINGS_DELIVERY_DESCRIPTION' | translate}}
                            </div>
                        </p-accordionTab>
                        <p-accordionTab [header]="'SETTINGS_PAYMENT' | translate">
                            <div class="pb-3 text-600">
                                {{'SETTINGS_PAYMENT_DESCRIPTION' | translate}}
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>
