<div class="layout-topbar justify-content-between">
    <button type="button" class="menu-button" (click)="navBarToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <div class="layout-topbar-header text-3xl text-600">
        <i class="fi fi-br-settings vertical-align-middle mr-2"></i>
        <span class="vertical-align-middle">{{ 'SETTINGS' | translate }}</span>
    </div>
    <div class="layout-topbar-right">
        <button type="button" pButton pRipple
                class="w-full lg:w-auto"
                icon="pi pi-chevron-down"
                iconPos="right"
                [label]="'ACTIONS' | translate"
                (click)="menu.toggle($event)"></button>
    </div>
</div>

<div class="layout-content">
    <div class="content-section">
        
        <div class="grid grid-nogutter">
            <div class="col-12 md:col-6">

                <!-- settings -->
                <div class="p-datatable-table-w-full">
                    <p-table [value]="settings.SETTINGS_MAIN.values"
                             [loading]="settings.SETTINGS_MAIN.loading"
                             dataKey="name"
                             editMode="row"
                             responsiveLayout="fixed"
                             [scrollable]="true"
                             [scrollHeight]="scrollHeight + 'px'">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{'PARAMETER' | translate}}</th>
                                <th>{{'VALUE' | translate}}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-setting let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="setting">
                                <td style="width: 50%;">
                                    <div class="show-on-hover-parent w-full">
                                        <div class="show-on-hover relative">
                                            <div class="absolute pos-right pos-top">
                                                <span class="badge bg-secondary">{{ setting.name }}</span>
                                            </div>
                                        </div>
                                        <div class="text-overflow" [title]="setting.name | translate">
                                            {{ setting.name | translate }}
                                        </div>
                                    </div>
                                </td>
                                <td class="show-on-hover-parent" style="width: 50%;">
                                    <div class="min-height20 w-full">
                                        <div class="show-on-hover absolute pos-right10" [class.pos-top10]="!editing">
                                            <button *ngIf="!editing" pButton pRipple type="button"
                                                    pInitEditableRow
                                                    icon="pi pi-pencil"
                                                    (click)="onRowEditInit(setting)"
                                                    [pTooltip]="'EDIT' | translate"
                                                    tooltipPosition="bottom"
                                                    class="p-button-raised p-button-rounded p-button-sm"></button>
                                            <button *ngIf="editing" pButton pRipple type="button"
                                                    pSaveEditableRow
                                                    icon="pi pi-check"
                                                    (click)="onRowEditSave(setting)"
                                                    [pTooltip]="'SAVE' | translate"
                                                    tooltipPosition="bottom"
                                                    class="p-button-raised p-button-rounded p-button-success p-button-sm ml-2"></button>
                                            <button *ngIf="editing" pButton pRipple type="button"
                                                    pCancelEditableRow
                                                    icon="pi pi-times"
                                                    (click)="onRowEditCancel(setting, ri)"
                                                    [pTooltip]="'CANCEL' | translate"
                                                    tooltipPosition="bottom"
                                                    class="p-button-raised p-button-rounded p-button-danger p-button-sm ml-2"></button>
                                        </div>
                                        <p-cellEditor style="display: block; width: 100%;">
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" class="p-inputtext-sm w-full" [(ngModel)]="setting.value">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                <div class="text-overflow" [title]="setting.value" [ngClass]="{'text-password': getFieldTypeByName(setting) == 'password'}">
                                                    {{ setting.value }}
                                                </div>
                                            </ng-template>
                                        </p-cellEditor>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <!-- /settings -->
                
            </div>
            <div class="col-12 md:col-6">
                <div class="p-2 bg-white" [style.minHeight]="scrollHeight + 'px'">

                    <p-accordion>

                        <!-- order statuses -->
                        <p-accordionTab [header]="'SETTINGS_ORDER_STATUSES' | translate">
                            <div [class.loading]="settings.SETTINGS_PAYMENT.loading">
                                <div class="pb-3 text-600">
                                    {{'SETTINGS_STATUSES_DESCRIPTION' | translate}}
                                </div>
                                <div class="p-datatable-table-w-full">
                                    <p-table styleClass="p-datatable-sm" responsiveLayout="scroll"
                                             [value]="settings.SETTINGS_ORDER_STATUSES.values"
                                             [loading]="settings.SETTINGS_ORDER_STATUSES.loading">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th width="40%">{{ 'NAME' | translate }}</th>
                                                <th width="40%">{{ 'MAIL_TEMPLATE' | translate }}</th>
                                                <th width="10%">{{ 'COLOR' | translate }}</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                            <tr>
                                                <td>
                                                    <input type="text" pInputText class="p-inputtext-sm w-full"
                                                           [(ngModel)]="setting.name"
                                                           (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')">
                                                </td>
                                                <td>
                                                    <input type="text" pInputText class="p-inputtext-sm w-full"
                                                           [(ngModel)]="setting.options.template.value"
                                                           (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')">
                                                </td>
                                                <td>
                                                    <p-colorPicker
                                                        [appendTo]="'body'"
                                                        [(ngModel)]="setting.options.color.value"
                                                        (ngModelChange)="onValueChanged('SETTINGS_ORDER_STATUSES')"></p-colorPicker>
                                                </td>
                                                <td>
                                                    <button pButton pRipple type="button" icon="pi pi-times"
                                                            class="p-button-raised p-button-rounded p-button-secondary p-button-sm ms-2"
                                                            (click)="deleteSetting('SETTINGS_ORDER_STATUSES', index)"
                                                            [pTooltip]="'DELETE' | translate"
                                                            tooltipPosition="bottom"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="footer">
                                            <tr>
                                                <td colspan="4" class="text-center">
                                                    <div class="relative">
                                                        <div class="absolute pos-right pos-top" *ngIf="settings.SETTINGS_ORDER_STATUSES.changed">
                                                            <button type="button" pButton pRipple icon="pi pi-check" class="p-button-success p-button-sm"
                                                                    (click)="saveSettings('SETTINGS_ORDER_STATUSES')"
                                                                    pTooltip="{{ 'SAVE' | translate }}"
                                                                    tooltipPosition="bottom"></button>
                                                            &nbsp;
                                                            <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm"
                                                                    (click)="resetSettingsForm('SETTINGS_ORDER_STATUSES')"
                                                                    pTooltip="{{ 'FORM_RESET' | translate }}"
                                                                    tooltipPosition="bottom"></button>
                                                        </div>
                                                    </div>
                                                    <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-secondary p-button-sm"
                                                            [label]="'ADD' | translate"
                                                            (click)="addSetting('SETTINGS_ORDER_STATUSES')"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </p-accordionTab>
                        <!-- /order statuses -->

                        <!-- delivery methods -->
                        <p-accordionTab [header]="'SETTINGS_DELIVERY' | translate">
                            <div class="pb-3 text-600">
                                {{'SETTINGS_DELIVERY_DESCRIPTION' | translate}}
                            </div>
                            <div class="p-datatable-table-w-full">
                                <p-table styleClass="p-datatable-sm" responsiveLayout="scroll"
                                         [value]="settings.SETTINGS_DELIVERY.values"
                                         [loading]="settings.SETTINGS_DELIVERY.loading">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th width="40%">{{ 'NAME' | translate }}</th>
                                            <th width="25%">{{ 'PRICE' | translate }}</th>
                                            <th width="25%">{{ 'MAX_PRICE' | translate }}</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                        <tr>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.name"
                                                       (ngModelChange)="onValueChanged('SETTINGS_DELIVERY')">
                                            </td>
                                            <td class="text-center">
                                                <input type="number" pInputText class="p-inputtext-sm w-full" step="1" min="0"
                                                               [(ngModel)]="setting.options.price.value"
                                                               (ngModelChange)="onValueChanged('SETTINGS_DELIVERY')">
                                            </td>
                                            <td class="text-center">
                                                <input type="number" pInputText class="p-inputtext-sm w-full" step="1" min="0"
                                                               [(ngModel)]="setting.options.priceLimit.value"
                                                               (ngModelChange)="onValueChanged('SETTINGS_DELIVERY')">
                                            </td>
                                            <td>
                                                <button pButton pRipple type="button" icon="pi pi-times"
                                                        class="p-button-raised p-button-rounded p-button-secondary p-button-sm ms-2"
                                                        (click)="deleteSetting('SETTINGS_DELIVERY', index)"
                                                        [pTooltip]="'DELETE' | translate"
                                                        tooltipPosition="bottom"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td colspan="4" class="text-center">
                                                <div class="relative">
                                                    <div class="absolute pos-right pos-top" *ngIf="settings.SETTINGS_DELIVERY.changed">
                                                        <button type="button" pButton pRipple icon="pi pi-check" class="p-button-success p-button-sm"
                                                                (click)="saveSettings('SETTINGS_DELIVERY')"
                                                                pTooltip="{{ 'SAVE' | translate }}"
                                                                tooltipPosition="bottom"></button>
                                                        &nbsp;
                                                        <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm"
                                                                (click)="resetSettingsForm('SETTINGS_DELIVERY')"
                                                                pTooltip="{{ 'FORM_RESET' | translate }}"
                                                                tooltipPosition="bottom"></button>
                                                    </div>
                                                </div>
                                                <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-secondary p-button-sm"
                                                        [label]="'ADD' | translate"
                                                        (click)="addSetting('SETTINGS_DELIVERY')"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-accordionTab>
                        <!-- /delivery methods -->

                        <!-- payments methods -->
                        <p-accordionTab [header]="'SETTINGS_PAYMENT' | translate">
                            <div class="pb-3 text-600">
                                {{ 'SETTINGS_PAYMENT_DESCRIPTION' | translate }}
                            </div>
                            <div class="p-datatable-table-w-full">
                                <p-table styleClass="p-datatable-sm" responsiveLayout="scroll"
                                         [value]="settings.SETTINGS_PAYMENT.values"
                                         [loading]="settings.SETTINGS_PAYMENT.loading">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th width="45%">{{ 'NAME' | translate }}</th>
                                            <th width="45%">{{ 'VALUE' | translate }}</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                        <tr>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.name"
                                                       (ngModelChange)="onValueChanged('SETTINGS_PAYMENT')">
                                            </td>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.options.value.value"
                                                       (ngModelChange)="onValueChanged('SETTINGS_PAYMENT')">
                                            </td>
                                            <td>
                                                <button pButton pRipple type="button" icon="pi pi-times"
                                                        class="p-button-raised p-button-rounded p-button-secondary p-button-sm ms-2"
                                                        (click)="deleteSetting('SETTINGS_PAYMENT', index)"
                                                        [pTooltip]="'DELETE' | translate"
                                                        tooltipPosition="bottom"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                <div class="relative">
                                                    <div class="absolute pos-right pos-top" *ngIf="settings.SETTINGS_PAYMENT.changed">
                                                        <button type="button" pButton pRipple icon="pi pi-check" class="p-button-success p-button-sm"
                                                                (click)="saveSettings('SETTINGS_PAYMENT')"
                                                                pTooltip="{{'SAVE' | translate}}"
                                                                tooltipPosition="bottom"></button>
                                                        &nbsp;
                                                        <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm"
                                                                (click)="resetSettingsForm('SETTINGS_PAYMENT')"
                                                                pTooltip="{{'FORM_RESET' | translate}}"
                                                                tooltipPosition="bottom"></button>
                                                    </div>
                                                </div>
                                                <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-secondary p-button-sm"
                                                        [label]="'ADD' | translate"
                                                        (click)="addSetting('SETTINGS_PAYMENT')"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-accordionTab>
                        <!-- /payments methods -->

                        <!-- currencies -->
                        <p-accordionTab [header]="'SETTINGS_CURRENCY' | translate">
                            <div class="pb-3 text-600">
                                {{'SETTINGS_CURRENCY_RATE_DESCRIPTION' | translate}}
                            </div>
                            <div class="p-datatable-table-w-full">
                                <p-table styleClass="p-datatable-sm" responsiveLayout="scroll"
                                         [value]="settings.SETTINGS_CURRENCY.values"
                                         [loading]="settings.SETTINGS_CURRENCY.loading">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th width="45%">{{ 'CURRENCY' | translate }}</th>
                                            <th width="45%">{{ 'VALUE' | translate }}</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                        <tr>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.name"
                                                       (ngModelChange)="onValueChanged('SETTINGS_CURRENCY')">
                                            </td>
                                            <td>
                                                <input type="number" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.options.value.value"
                                                       (ngModelChange)="onValueChanged('SETTINGS_CURRENCY')">
                                            </td>
                                            <td>
                                                <button pButton pRipple type="button" icon="pi pi-times"
                                                        class="p-button-raised p-button-rounded p-button-secondary p-button-sm ms-2"
                                                        (click)="deleteSetting('SETTINGS_CURRENCY', index)"
                                                        [pTooltip]="'DELETE' | translate"
                                                        tooltipPosition="bottom"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                <div class="relative">
                                                    <div class="absolute pos-right pos-top" *ngIf="settings.SETTINGS_CURRENCY.changed">
                                                        <button type="button" pButton pRipple icon="pi pi-check" class="p-button-success p-button-sm"
                                                                (click)="saveSettings('SETTINGS_CURRENCY')"
                                                                pTooltip="{{'SAVE' | translate}}"
                                                                tooltipPosition="bottom"></button>
                                                        &nbsp;
                                                        <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm"
                                                                (click)="resetSettingsForm('SETTINGS_CURRENCY')"
                                                                pTooltip="{{'FORM_RESET' | translate}}"
                                                                tooltipPosition="bottom"></button>
                                                    </div>
                                                </div>
                                                <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-secondary p-button-sm"
                                                        [label]="'ADD' | translate"
                                                        (click)="addSetting('SETTINGS_CURRENCY')"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-accordionTab>
                        <!-- /currencies -->

                        <!-- promo_codes -->
                        <p-accordionTab [header]="'SETTINGS_PROMOCODES' | translate">
                            <div class="pb-3 text-600">
                                {{'SETTINGS_PROMOCODES_DESCRIPTION' | translate}}
                            </div>
                            <div class="p-datatable-table-w-full">
                                <p-table styleClass="p-datatable-sm" responsiveLayout="scroll"
                                         [value]="settings.SETTINGS_PROMOCODES.values"
                                         [loading]="settings.SETTINGS_PROMOCODES.loading">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th width="30%">{{ 'PROMO_CODE' | translate }}</th>
                                            <th width="30%">{{ 'VALUE' | translate }}</th>
                                            <th width="30%">{{ 'QUANTITY' | translate }}</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                        <tr>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.name"
                                                       (ngModelChange)="onValueChanged('SETTINGS_PROMOCODES')">
                                            </td>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.options.value.value"
                                                       (ngModelChange)="onValueChanged('SETTINGS_PROMOCODES')">
                                            </td>
                                            <td>
                                                <input type="number" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.options.quantity.value"
                                                       (ngModelChange)="onValueChanged('SETTINGS_PROMOCODES')">
                                            </td>
                                            <td>
                                                <button pButton pRipple type="button" icon="pi pi-times"
                                                        class="p-button-raised p-button-rounded p-button-secondary p-button-sm ms-2"
                                                        (click)="deleteSetting('SETTINGS_PROMOCODES', index)"
                                                        [pTooltip]="'DELETE' | translate"
                                                        tooltipPosition="bottom"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td colspan="4" class="text-center">
                                                <div class="relative">
                                                    <div class="absolute pos-right pos-top" *ngIf="settings.SETTINGS_PROMOCODES.changed">
                                                        <button type="button" pButton pRipple icon="pi pi-check" class="p-button-success p-button-sm"
                                                                (click)="saveSettings('SETTINGS_PROMOCODES')"
                                                                pTooltip="{{'SAVE' | translate}}"
                                                                tooltipPosition="bottom"></button>
                                                        &nbsp;
                                                        <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm"
                                                                (click)="resetSettingsForm('SETTINGS_PROMOCODES')"
                                                                pTooltip="{{'FORM_RESET' | translate}}"
                                                                tooltipPosition="bottom"></button>
                                                    </div>
                                                </div>
                                                <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-secondary p-button-sm"
                                                        [label]="'ADD' | translate"
                                                        (click)="addSetting('SETTINGS_PROMOCODES')"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-accordionTab>
                        <!-- /promo_codes -->

                        <!-- languages -->
                        <p-accordionTab [header]="'SETTINGS_LANGUAGES' | translate">
                            <div class="pb-3 text-600">
                                {{ 'SETTINGS_LANGUAGES_DESCRIPTION' | translate }}
                            </div>
                            <div class="p-datatable-table-w-full">
                                <p-table styleClass="p-datatable-sm" responsiveLayout="scroll"
                                         [value]="settings.SETTINGS_LANGUAGES.values"
                                         [loading]="settings.SETTINGS_LANGUAGES.loading">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th width="45%">{{ 'LANGUAGE' | translate }}</th>
                                            <th width="45%">{{ 'LOCALE' | translate }}</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                        <tr>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.name"
                                                       (ngModelChange)="onValueChanged('SETTINGS_LANGUAGES')">
                                            </td>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.options.value.value"
                                                       (ngModelChange)="onValueChanged('SETTINGS_LANGUAGES')">
                                            </td>
                                            <td>
                                                <button pButton pRipple type="button" icon="pi pi-times"
                                                        class="p-button-raised p-button-rounded p-button-secondary p-button-sm ms-2"
                                                        (click)="deleteSetting('SETTINGS_LANGUAGES', index)"
                                                        [pTooltip]="'DELETE' | translate"
                                                        tooltipPosition="bottom"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                <div class="relative">
                                                    <div class="absolute pos-right pos-top" *ngIf="settings.SETTINGS_LANGUAGES.changed">
                                                        <button type="button" pButton pRipple icon="pi pi-check" class="p-button-success p-button-sm"
                                                                (click)="saveSettings('SETTINGS_LANGUAGES')"
                                                                pTooltip="{{'SAVE' | translate}}"
                                                                tooltipPosition="bottom"></button>
                                                        &nbsp;
                                                        <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm"
                                                                (click)="resetSettingsForm('SETTINGS_LANGUAGES')"
                                                                pTooltip="{{'FORM_RESET' | translate}}"
                                                                tooltipPosition="bottom"></button>
                                                    </div>
                                                </div>
                                                <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-secondary p-button-sm"
                                                        [label]="'ADD' | translate"
                                                        (click)="addSetting('SETTINGS_LANGUAGES')"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-accordionTab>
                        <!-- /languages -->

                        <!-- user groups -->
                        <p-accordionTab [header]="'SETTINGS_USER_GROUPS' | translate">
                            <div class="pb-3 text-600">
                                {{ 'SETTINGS_USER_GROUPS_DESCRIPTION' | translate }}
                            </div>
                            <div class="p-datatable-table-w-full">
                                <p-table styleClass="p-datatable-sm" responsiveLayout="scroll"
                                         [value]="settings.SETTINGS_USER_GROUPS.values"
                                         [loading]="settings.SETTINGS_USER_GROUPS.loading">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th width="45%">{{ 'SYSTEM_NAME' | translate }}</th>
                                            <th width="45%">{{ 'NAME' | translate }}</th>
                                            <th width="10%"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-setting let-index="rowIndex">
                                        <tr>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.name"
                                                       (ngModelChange)="onValueChanged('SETTINGS_USER_GROUPS')">
                                            </td>
                                            <td>
                                                <input type="text" pInputText class="p-inputtext-sm w-full"
                                                       [(ngModel)]="setting.options.value.value"
                                                       (ngModelChange)="onValueChanged('SETTINGS_USER_GROUPS')">
                                            </td>
                                            <td>
                                                <button pButton pRipple type="button" icon="pi pi-times"
                                                        class="p-button-raised p-button-rounded p-button-secondary p-button-sm ms-2"
                                                        (click)="deleteSetting('SETTINGS_USER_GROUPS', index)"
                                                        [pTooltip]="'DELETE' | translate"
                                                        tooltipPosition="bottom"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                <div class="relative">
                                                    <div class="absolute pos-right pos-top" *ngIf="settings.SETTINGS_USER_GROUPS.changed">
                                                        <button type="button" pButton pRipple icon="pi pi-check" class="p-button-success p-button-sm"
                                                                (click)="saveSettings('SETTINGS_USER_GROUPS')"
                                                                pTooltip="{{'SAVE' | translate}}"
                                                                tooltipPosition="bottom"></button>
                                                        &nbsp;
                                                        <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm"
                                                                (click)="resetSettingsForm('SETTINGS_USER_GROUPS')"
                                                                pTooltip="{{'FORM_RESET' | translate}}"
                                                                tooltipPosition="bottom"></button>
                                                    </div>
                                                </div>
                                                <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-secondary p-button-sm"
                                                        [label]="'ADD' | translate"
                                                        (click)="addSetting('SETTINGS_USER_GROUPS')"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-accordionTab>
                        <!-- /user groups -->

                        <!-- composer packages -->
                        <p-accordionTab [header]="'SETTINGS_COMPOSER_PACKAGES' | translate">
                            <div class="pb-3 text-600">
                                <div class="flex">
                                    <div class="flex-grow-1">
                                        {{ 'SETTINGS_COMPOSER_PACKAGES_DESCRIPTION' | translate }}
                                    </div>
                                    <div class="flex-none">
                                        <button type="button" pButton pRipple class="p-button-sm" (click)="modalSystemUpdate($event)">
                                            <i class="pi pi-download mr-2"></i>
                                            {{ 'SYSTEM_UPDATE' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="p-input-icon-left w-full">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                           class="w-full"
                                           [(ngModel)]="composerPackageNameFilter"
                                           placeholder="{{ 'SEARCH' | translate }}...">
                                </div>
                            </div>
                            <div class="p-datatable-table-w-full">
                                <div class="alert alert-info py-1 px-3"
                                     *ngIf="(composerPackages | filter: {name: composerPackageNameFilter}).length === 0; else composerPackagesTable">
                                    {{ 'NOTHING_FOUND' | translate }}.
                                </div>
                                <ng-template #composerPackagesTable>
                                    <div>
                                        <div class="table-responsive">
                                            <p-table styleClass="p-datatable-sm" responsiveLayout="scroll"
                                                     [value]="composerPackages | filter: {name: composerPackageNameFilter}"
                                                     [scrollable]="true"
                                                     [loading]="settings.SETTINGS_COMPOSER_PACKAGES.loading"
                                                     scrollHeight="400px">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th width="60%">{{ 'NAME' | translate }}</th>
                                                        <th width="40%">{{ 'VERSION' | translate }}</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-package let-index="rowIndex">
                                                    <tr>
                                                        <td>
                                                            {{ package.name }}
                                                        </td>
                                                        <td>
                                                            {{ package.version }}
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </p-accordionTab>
                        <!-- /composer packages -->
                        
                    </p-accordion>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>

<p-menu #menu [popup]="true" [model]="menuItems" styleClass="p-menu-nowrap"></p-menu>

<div class="loading-overlay" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
