<div>

    <div class="card-navbar">
        <div class="btn-group" role="group" aria-label="First group">
            <a class="btn btn-outline-primary" [routerLink]="['/orders']" routerLinkActive="active">
                <i class="icon-bag"></i>
                <span class="hidden-xs-down" i18n>Orders</span>
            </a>
            <a class="btn btn-outline-primary" [routerLink]="['/statistics']" routerLinkActive="active">
                <i class="icon-bar-graph-2"></i>
                <span class="hidden-xs-down" i18n>Statistics</span>
            </a>
            <a class="btn btn-outline-primary" [routerLink]="['/catalog']" routerLinkActive="active">
                <i class="icon-layers"></i>
                <span class="hidden-xs-down" i18n>Catalog</span>
            </a>
            <a class="btn btn-outline-primary" [routerLink]="['/settings']" routerLinkActive="active">
                <i class="icon-cog"></i>
                <span class="hidden-xs-down" i18n>Settings</span>
            </a>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>