<div class="position-relative">
    <div class="tabs-top">
        <a class="btn btn-outline-primary d-block d-md-inline-block ml-md-2" href="" [routerLink]="['field_types']" routerLinkActive="active">
            <i class="icon-toggle"></i>
            &nbsp;
            <span>{{'FIELD_TYPES' | translate}}</span>
        </a>
        <a class="btn btn-outline-primary d-block d-md-inline-block mb-2 mb-md-0" href="" [routerLink]="['content_types']" routerLinkActive="active">
            <i class="icon-box"></i>
            &nbsp;
            <span>{{'CONTENT_TYPES' | translate}}</span>
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">

        <div class="float-md-left mt-4 mt-md-0">
            <h3>
                <i class="icon-layers"></i>
                &nbsp;
                <span>{{'CATALOG' | translate}}</span>
            </h3>
        </div>
        <div class="clearfix"></div>
        <hr>

        <div class="min-height400">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
