<div class="d-block d-md-inline-block dropdown">
    <button class="btn btn-secondary dropdown-toggle dropdown-toggle-hover d-block d-md-inline-block width-100 width-md-auto mb-2 mb-md-0">
        <i class="icon-folder mr-1"></i>
        {{currentCategory.title}}
    </button>
    <div class="dropdown-menu shadow" #categoriesDropdown>
        <div [class.loading]="loading">

            <div class="dropdown-header">
                <button type="button" class="btn btn-sm btn-secondary mr-2" ngbTooltip="{{'OPEN_ROOT_CATEGORY' | translate}}" (click)="goToRootCategory()" *ngIf="currentCategory.id > 0">
                    <i class="icon-home"></i>
                </button>
                <button type="button" class="btn btn-sm btn-secondary mr-2" ngbTooltip="{{'ADD_NEW_CATEGORY' | translate}}" (click)="openModalCategory()">
                    <i class="icon-plus"></i>
                </button>
                <button type="button" class="btn btn-sm btn-secondary mr-2" ngbTooltip="{{'EDIT_CATEGORY' | translate}}" (click)="openModalCategory(currentCategory.id)">
                    <i class="icon-pencil"></i>
                </button>
                <button type="button" class="btn btn-sm btn-secondary mr-2" ngbTooltip="{{'COPY_CATEGORY' | translate}}" (click)="copyCategory()" [hidden]="!currentCategory.id">
                    <i class="icon-stack"></i>
                </button>
                <button type="button" class="btn btn-sm btn-secondary mr-2" ngbTooltip="{{'DELETE_CATEGORY' | translate}}" (click)="deleteCategoryItemConfirm(currentCategory.id)" [hidden]="!currentCategory.id">
                    <i class="icon-cross"></i>
                </button>
            </div>
            <div class="dropdown-divider"></div>

            <ng-container *ngIf="categoriesTree[0].children">
                <div class="dropdown-footer px-4 pt-1">
                    <button type="button" class="btn btn-sm btn-secondary mr-2" (click)="expandAll($event)">
                        {{ 'EXPAND_ALL' | translate }}
                    </button>
                    <button type="button" class="btn btn-sm btn-secondary" (click)="collapseAll($event)">
                        {{ 'COLLAPSE_ALL' | translate }}
                    </button>
                </div>
            </ng-container>

            <div class="px-1">
                <p-tree [value]="categoriesTree[0].children"
                        [emptyMessage]="'NO_CATEGORIES' | translate"
                        [selectionMode]="'single'"
                        [selection]="currentCategoryNode"
                        [filter]="!!categoriesTree[0].children"
                        (onNodeSelect)="openCategory($event)"></p-tree>
            </div>

        </div>
    </div>
</div>
