<div class="position-relative modal-on-maximized">
    <div class="tabs-top">
        <button type="button" class="btn btn-outline-primary btn-sm d-block"
                [disabled]="submitted"
                (click)="closeModal($event)">
            <i class="icon-cross mr-1"></i>
            <span>{{'CLOSE' | translate}}</span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-sm d-block"
                [disabled]="submitted"
                (click)="minimize($event)">
            <i class="icon-minimize mr-1"></i>
            <span>{{'MINIMIZE' | translate}}</span>
        </button>
    </div>
</div>
<div class="modal-header d-block">
    <div class="position-relative modal-on-minimized">
        <div class="pos-absolute-right">
            <button type="button" class="btn btn-no-border btn-sm-sm" [title]="'EXPAND' | translate" (click)="maximize($event)">
                <i class="icon-maximize"></i>
            </button>
            <button type="button" class="btn btn-no-border btn-sm-sm ml-1" [title]="'CLOSE' | translate" (click)="closeModal($event)">
                <i class="icon-cross"></i>
            </button>
        </div>
    </div>
    <h4 class="modal-title text-overflow mr-5">{{modalTitle}}</h4>
</div>

<form [formGroup]="form" method="post" (ngSubmit)="onSubmit()" [ngClass]="{'no-events': submitted}" #formEl>

    <div class="modal-body py-0" [class.loading]="loading">

        <div class="row form-group form-group-message" *ngIf="!isRoot">
            <div class="col-md-5">
                <label for="fieldContentType">{{'PARENT_FOLDER' | translate}}</label>
            </div>
            <div class="col-md-7">
                <app-select-parent-dropdown
                        formControlName="parentId"
                        [filterId]="model.id"
                        [class.is-invalid]="formErrors.parentId"></app-select-parent-dropdown>

                <div *ngIf="formErrors.parentId" class="alert alert-danger">
                    {{formErrors.parentId}}
                </div>
            </div>
        </div>

        <div class="row form-group show-on-hover-parent form-group-message">
            <div class="col-md-5">
                <label for="fieldTitle">
                    {{'TITLE' | translate}}
                </label>
            </div>
            <div class="col-md-7">
                <input type="text" class="form-control" id="fieldTitle"
                       formControlName="title"
                       [ngClass]="{'is-invalid': form.controls.title.touched && !form.controls.title.valid, 'border-success': localeCurrent != localeDefault}">
                <div *ngIf="formErrors.title" class="alert alert-danger">
                    {{formErrors.title}}
                </div>
            </div>
        </div>

        <div class="row form-group form-group-message">
            <div class="col-md-5">
                <label for="fieldName">
                    {{'SYSTEM_NAME' | translate}}
                </label>
            </div>
            <div class="col-md-7">
                <div class="input-group" [ngClass]="{'is-invalid': form.controls.name.touched && !form.controls.name.valid}">
                    <input type="text" class="form-control" id="fieldName"
                           formControlName="name"
                           [ngClass]="{'is-invalid': form.controls.name.touched && !form.controls.name.valid}">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary" ngbTooltip="{{'GENERATE' | translate}}"
                                (click)="generateName(model)"
                                [disabled]="form.controls.name.disabled">
                            <i class="icon-reload"></i>
                        </button>
                    </div>
                </div>
                <div *ngIf="formErrors.name" class="alert alert-danger">
                    {{formErrors.name}}
                </div>
            </div>
        </div>

        <div class="row form-group show-on-hover-parent">
            <div class="col-md-5">
                <label for="fieldDescription">
                    {{'DESCRIPTION' | translate}}
                </label>
            </div>
            <div class="col-md-7">
                <textarea type="text" id="fieldDescription" rows="4" class="form-control" name="description" formControlName="description"
                          [ngClass]="{'border-success': localeCurrent != localeDefault}"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-5">
                <label>
                    {{'IMAGE' | translate}}
                </label>
            </div>
            <div class="col-md-7">

                <app-file-widget
                        formControlName="image"
                        [hasPreviewImage]="true"
                        [allowedExtensions]="'image/*'"
                        [(files)]="files"></app-file-widget>

            </div>
        </div>

        <div class="row form-group form-group-message">
            <div class="col-md-5">
                <label for="fieldContentType">
                    {{'CONTENT_TYPE' | translate}}
                </label>
            </div>
            <div class="col-md-7">
                <select id="fieldContentType" class="custom-select" name="contentTypeName"
                        formControlName="contentTypeName"
                        [class.is-invalid]="formErrors.contentTypeName">
                    <option value="1" *ngFor="let contentType of contentTypes" [value]="contentType.name">{{contentType.title}}</option>
                </select>
                <div *ngIf="formErrors.contentTypeName" class="alert alert-danger">
                    {{formErrors.contentTypeName}}
                </div>
            </div>
        </div>

        <div class="row form-group form-group-message" *ngIf="!isRoot">
            <div class="col-md-5">
                <label for="fieldMenuIndex">
                    {{'MENU_INDEX' | translate}}
                </label>
            </div>
            <div class="col-md-7">
                <input type="number" id="fieldMenuIndex" class="form-control" name="menuIndex"
                       formControlName="menuIndex"
                       [class.is-invalid]="formErrors.menuIndex">
                <div *ngIf="formErrors.menuIndex" class="alert alert-danger">
                    {{formErrors.menuIndex}}
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-7 ml-md-auto">

                <div class="card card-body p-2 pl-3">

                    <div class="custom-control custom-checkbox mb-2">
                        <input type="checkbox" class="custom-control-input" id="fieldIsActive" value="1" name="isActive" formControlName="isActive">
                        <label class="custom-control-label" for="fieldIsActive">{{'ACTIVE' | translate}}</label>
                    </div>

                    <div class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input" id="fieldClearCache" value="1" name="clearCache" formControlName="clearCache">
                        <label class="custom-control-label" for="fieldClearCache">{{'CLEAR_FILE_CACHE' | translate}}</label>
                    </div>

                </div>

            </div>
        </div>

        <div class="alert alert-danger mt-3 mb-0" *ngIf="errorMessage">
            <button type="button" class="close" (click)="errorMessage = ''">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorMessage}}
        </div>

    </div>

    <div class="modal-footer d-block">
        <div class="float-right" *ngIf="localeList.length > 1">
            <button type="button" class="btn btn-success mr-2" ngbTooltip="{{'SAVE' | translate}}" placement="left"
                    [hidden]="localeCurrent == localeDefault"
                    (click)="saveTranslations($event)">
                <i class="icon-check"></i>
            </button>
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
                 [(ngModel)]="localeCurrent"
                 (ngModelChange)="onLocaleSwitch()"
                 [ngModelOptions]="{standalone: true}">
                <label ngbButtonLabel class="btn-secondary" *ngFor="let localeName of localeList">
                    <input ngbButton type="radio" [value]="localeName">
                    {{localeName}}
                </label>
            </div>
        </div>
        <div class="btn-group mr-1">
            <button type="button" class="btn btn-success btn-wide"
                    [disabled]="submitted || isSaveButtonDisabled"
                    (click)="save(true, $event)">
                <span>{{'SAVE_AND_CLOSE' | translate}}</span>
            </button>
            <div class="btn-group" ngbDropdown role="group" placement="top-right">
                <button type="button" class="btn btn-success dropdown-toggle-split" ngbDropdownToggle [disabled]="submitted || isSaveButtonDisabled"></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button type="button" ngbDropdownItem
                            [disabled]="submitted || isSaveButtonDisabled"
                            (click)="save(false, $event)">
                        {{'SAVE' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary btn-wide" (click)="closeModal($event)">
            <span>{{'CLOSE' | translate}}</span>
        </button>
    </div>

</form>
