<div class="position-relative modal-on-maximized">
    <div class="tabs-top">
        <button type="button" class="btn btn-outline-primary btn-sm d-block"
                [disabled]="submitted"
                (click)="closeModal($event)">
            <i class="icon-cross me-1"></i>
            <span>{{'CLOSE' | translate}}</span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-sm d-block"
                [disabled]="submitted"
                (click)="minimize($event)">
            <i class="icon-minimize me-1"></i>
            <span>{{'MINIMIZE' | translate}}</span>
        </button>
    </div>
</div>
<div class="modal-header d-block">
    <div class="position-relative modal-on-minimized">
        <div class="pos-absolute-right">
            <button type="button" class="btn btn-no-border btn-sm-sm" [title]="'EXPAND' | translate" (click)="maximize($event)">
                <i class="icon-maximize"></i>
            </button>
            <button type="button" class="btn btn-no-border btn-sm-sm ms-1" [title]="'CLOSE' | translate" (click)="closeModal($event)">
                <i class="icon-cross"></i>
            </button>
        </div>
    </div>
    <h4 class="modal-title text-overflow me-5">{{modalTitle}}</h4>
</div>

<ng-template #confirmPopover let-confirm="confirm" let-p="p" let-msg="message">
    <p class="text-center">{{ 'YOU_SURE_YOU_WANT_DELETE' | translate }}</p>
    <div class="alert alert-danger p-2" *ngIf="msg">{{msg}}</div>
    <div class="text-center">
        <button type="button" class="btn btn-success btn-sm" (click)="confirm()">{{ 'YES' | translate }}</button>
        &nbsp;
        <button type="button" class="btn btn-secondary btn-sm" (click)="p.close()">{{ 'NO' | translate }}</button>
    </div>
</ng-template>

<div class="modal-body py-0">

    <div class="row mb-3">
    
        <!-- ContentType form -->
        <div class="col-lg-4" [formGroup]="form">

            <form [formGroup]="form" method="post" (ngSubmit)="onSubmit()" [ngClass]="{'no-events': submitted}" #formEl>

                <div class="form-group form-group-message">
                    <label class="label-filled" for="fieldTitle">
                        {{'TITLE' | translate}}
                    </label>
                    <input type="text" class="form-control" name="title"
                           id="fieldTitle"
                           formControlName="title"
                           [ngClass]="{'is-invalid': form.controls.title.touched && !form.controls.title.valid}">
                    <div class="alert alert-danger">
                        {{formErrors.title}}
                    </div>
                </div>
    
                <div class="form-group form-group-message">
                    <label class="label-filled" for="fieldName">
                        {{'SYSTEM_NAME' | translate}}
                    </label>
                    <div class="input-group" [ngClass]="{'is-invalid': form.controls.name.touched && !form.controls.name.valid}">
                        <input type="text" class="form-control" name="name"
                               id="fieldName"
                               formControlName="name"
                               [ngClass]="{'is-invalid': form.controls.name.touched && !form.controls.name.valid}">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" ngbTooltip="{{'GENERATE' | translate}}" (click)="generateName(model)">
                                <i class="icon-reload"></i>
                            </button>
                        </div>
                    </div>
                    <div class="alert alert-danger">
                        {{formErrors.name}}
                    </div>
                </div>
    
                <div class="form-group">
                    <label class="label-filled" for="fieldDescription">
                        {{'DESCRIPTION' | translate}}
                    </label>
                    <textarea type="text" class="form-control" rows="3" name="description" id="fieldDescription"
                              formControlName="description"></textarea>
                </div>
    
                <div class="form-group row form-group-message">
                    <div class="col-12">
    
                        <div class="form-group mb-0">
                            <label class="label-filled" for="fieldCollectionName">{{'COLLECTION' | translate}}</label>
    
                            <div class="input-group" [ngClass]="{'is-invalid': form.controls.collection.touched && !form.controls.collection.valid}">
                                <select class="custom-select custom-select-sm"
                                        id="fieldCollectionName"
                                        name="collection"
                                        formControlName="collection"
                                        [(ngModel)]="model.collection"
                                        [ngClass]="{'is-invalid': form.controls.collection.touched && !form.controls.collection.valid}">
                                    <option value="{{collection}}" *ngFor="let collection of collections">{{collection}}</option>
                                </select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="{{'ADD_COLLECTION' | translate}}" (click)="addCollectionToggle(addCollectionField, $event)">
                                        <i class="icon-plus"></i>
                                    </button>
                                </div>
                                <div class="input-group-append" [ngbPopover]="confirmPopover" #buttonDeleteCollection="ngbPopover" triggers="manual">
                                    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="{{'DELETE' | translate}}" (click)="deleteCollection(buttonDeleteCollection)">
                                        <i class="icon-cross"></i>
                                    </button>
                                </div>
                            </div>
    
                            <div class="card p-1 mt-2 form-group-message" #addCollectionBlock style="display: none;">
                                <input type="text" class="form-control form-control-sm"
                                       formControlName="newCollection"
                                       #addCollectionField
                                       [ngClass]="{'is-invalid': form.controls.newCollection.touched && !form.controls.newCollection.valid}">
                                <div *ngIf="formErrors.newCollection" class="alert alert-danger mb-1">
                                    {{formErrors.newCollection}}
                                </div>
    
                                <div class="text-right mt-1">
                                    <button type="button" class="btn btn-secondary btn-sm" (click)="addCollection($event)">
                                        {{'ADD' | translate}}
                                    </button>
                                    &nbsp;
                                    <button type="button" class="btn btn-secondary btn-sm" (click)="addCollectionBlock.style.display = 'none'; formErrors.newCollection = ''">
                                        {{'CANCEL' | translate}}
                                    </button>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input" id="fieldIsCreateByUsersAllowed{{ uniqueId }}" value="1"
                               name="isCreateByUsersAllowed"
                               formControlName="isCreateByUsersAllowed">
                        <label class="custom-control-label" for="fieldIsCreateByUsersAllowed{{ uniqueId }}">
                            {{'CREATE_BY_USERS_ALLOWED' | translate}}
                        </label>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="card card-body p-2 pl-3">
    
                        <div class="custom-control custom-checkbox m-0">
                            <input type="checkbox" class="custom-control-input" id="fieldIsActive{{ uniqueId }}" value="1"
                                   name="isActive"
                                   formControlName="isActive">
                            <label class="custom-control-label" for="fieldIsActive{{ uniqueId }}">{{'ACTIVE' | translate}}</label>
                        </div>
    
                    </div>
                </div>

            </form>
        </div>
        <!-- /ContentType form -->

        <!-- Field form -->
        <div class="col-lg-8" [formGroup]="secondForm">

            <label class="label-filled" [hidden]="action != 'add_field'">
                {{'ADD_FIELD' | translate}}
            </label>
            <label class="label-filled" [hidden]="action != 'edit_field'">
                {{'EDIT_FIELD' | translate}}
            </label>

            <div class="card">
                <div class="card-body">

                    <div class="form-group row form-group-message">
                        <div class="col-md-5">
                            <label for="field_fieldTitle{{ uniqueId }}">{{'TITLE' | translate}}</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="form-control form-control-sm"
                                   id="field_fieldTitle{{ uniqueId }}"
                                   name="field_title"
                                   formControlName="title"
                                   [ngClass]="{'is-invalid': secondForm.controls.title.touched && !secondForm.controls.title.valid}">
                            <div class="alert alert-danger">{{secondFormErrors.title}}</div>
                        </div>
                    </div>

                    <div class="form-group row form-group-message">
                        <div class="col-md-5">
                            <label for="field_fieldName{{ uniqueId }}">{{'SYSTEM_NAME' | translate}}</label>
                        </div>
                        <div class="col-md-7">

                            <div class="input-group" [ngClass]="{'is-invalid': secondForm.controls.name.touched && !secondForm.controls.name.valid}">
                                <input type="text" class="form-control form-control-sm"
                                       id="field_fieldName{{ uniqueId }}"
                                       name="field_name"
                                       formControlName="name"
                                       [ngClass]="{'is-invalid': secondForm.controls.name.touched && !secondForm.controls.name.valid}">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="{{'GENERATE' | translate}}" (click)="generateName(fieldModel, $event, secondForm)">
                                        <i class="icon-reload"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="alert alert-danger">{{secondFormErrors.name}}</div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-5">
                            <label for="field_fieldDescription{{ uniqueId }}">{{'DESCRIPTION' | translate}}</label>
                        </div>
                        <div class="col-md-7">
                            <textarea type="text" class="form-control form-control-sm" rows="3"
                                      id="field_fieldDescription{{ uniqueId }}"
                                      name="field_description"
                                      formControlName="description"
                                      [ngClass]="{'is-invalid': secondForm.controls.description.touched && !secondForm.controls.description.valid}"></textarea>
                        </div>
                    </div>

                    <div class="form-group row form-group-message">
                        <div class="col-md-5">
                            <label for="field_fieldInputType{{ uniqueId }}">{{'INPUT_TYPE' | translate}}</label>
                        </div>
                        <div class="col-md-7">

                            <div class="input-group" [ngClass]="{'is-invalid': secondForm.controls.inputType.touched && !secondForm.controls.inputType.valid}">
                                <select class="custom-select custom-select-sm"
                                        id="field_fieldInputType{{ uniqueId }}"
                                        name="field_inputType"
                                        formControlName="inputType"
                                        (change)="selectFieldTypeProperties('input')"
                                        [ngbTooltip]="getFieldTypeProperty(fieldModel.inputType, 'description')"
                                        placement="left"
                                        [class.is-invalid]="secondFormErrors.fld_inputType">
                                    <option value=""></option>
                                    <option value="{{fieldType.name}}" *ngFor="let fieldType of fieldTypes">{{fieldType.title}}</option>
                                </select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="{{'OPTIONS' | translate}}" (click)="displayToggle(inputTypeOptionsBlock)">
                                        <i class="icon-cog"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="alert alert-danger">{{secondFormErrors.inputType}}</div>

                        </div>
                    </div>

                    <div class="card card-body bg-light mb-3" #inputTypeOptionsBlock style="display: none;" [hidden]="!fieldModel.inputType">
                        <div>
                            <div class="alert alert-secondary small" [hidden]="fieldTypeProperties.input.length > 0">
                                {{ 'THERE_NO_PARAMETERS' | translate }}
                            </div>
                            <div class="row form-group" *ngFor="let property of fieldTypeProperties.input">
                                <div class="col-md-5">
                                    <label for="parameterInputField{{ property.name }}{{ uniqueId }}">{{property.title}}</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control form-control-sm"
                                           id="parameterInputField{{ property.name }}{{ uniqueId }}"
                                           [(ngModel)]="fieldModel.inputProperties[property.name]"
                                           [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                        <div class="text-right mt-1">
                            <button type="button" class="btn btn-secondary btn-sm" (click)="inputTypeOptionsBlock.style.display = 'none';">
                                {{'CLOSE' | translate}}
                            </button>
                        </div>
                    </div>

                    <div class="form-group row form-group-message">
                        <div class="col-md-5">
                            <label for="field_fieldOutputType{{ uniqueId }}">{{'OUTPUT_TYPE' | translate}}</label>
                        </div>
                        <div class="col-md-7">

                            <div class="input-group" [ngClass]="{'is-invalid': secondForm.controls.outputType.touched && !secondForm.controls.outputType.valid}">
                                <select class="custom-select custom-select-sm"
                                        id="field_fieldOutputType{{ uniqueId }}"
                                        name="field_outputType"
                                        formControlName="outputType"
                                        (change)="selectFieldTypeProperties('output')"
                                        [ngbTooltip]="getFieldTypeProperty(fieldModel.outputType, 'description')"
                                        placement="left"
                                        [ngClass]="{'is-invalid': secondForm.controls.outputType.touched && !secondForm.controls.outputType.valid}">
                                    <option value=""></option>
                                    <option value="{{fieldType.name}}" *ngFor="let fieldType of fieldTypes">{{fieldType.title}}</option>
                                </select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="{{'OPTIONS' | translate}}" (click)="displayToggle(outputTypeOptionsBlock)">
                                        <i class="icon-cog"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="alert alert-danger">{{secondFormErrors.outputType}}</div>

                        </div>
                    </div>

                    <div class="card card-body bg-light mb-3" #outputTypeOptionsBlock style="display: none;" [hidden]="!fieldModel.outputType">
                        <div class="alert alert-secondary small" [hidden]="fieldTypeProperties.output.length > 0">
                            {{ 'THERE_NO_PARAMETERS' | translate }}
                        </div>
                        <div class="row form-group" *ngFor="let property of fieldTypeProperties.output">
                            <div class="col-md-5">
                                <label for="parameterOutputField{{ property.name }}{{ uniqueId }}">{{property.title}}</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control form-control-sm"
                                       id="parameterOutputField{{ property.name }}{{ uniqueId }}"
                                       [(ngModel)]="fieldModel.outputProperties[property.name]"
                                       [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="text-right mt-1">
                            <button type="button" class="btn btn-secondary btn-sm" (click)="outputTypeOptionsBlock.style.display = 'none'">
                                {{'CLOSE' | translate}}
                            </button>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-5">
                            <label for="field_fieldGroup">{{'GROUP' | translate}}</label>
                        </div>
                        <div class="col-md-7">

                            <div class="form-group-message">
                                <div class="input-group input-group-sm" [ngClass]="{'is-invalid': secondForm.controls.group.touched && !secondForm.controls.group.valid}">
                                    <select class="custom-select" 
                                            id="field_fieldGroup"
                                            name="field_group"
                                            formControlName="group"
                                            [ngClass]="{'is-invalid': secondForm.controls.group.touched && !secondForm.controls.group.valid}">
                                        <option value=""></option>
                                        <option [value]="groupName" *ngFor="let groupName of model.groups">{{groupName}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="{{'ADD_GROUP' | translate}}" (click)="displayToggle(addGroupBlock); addGroupField.value = ''; addGroupField.focus()">
                                            <i class="icon-plus"></i>
                                        </button>
                                    </div>
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-secondary btn-sm" ngbTooltip="{{'DELETE_GROUP' | translate}}" (click)="deleteGroup()">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="secondFormErrors.group" class="alert alert-danger">
                                    {{secondFormErrors.group}}
                                </div>

                                <div class="card p-1 mt-2 form-group-message" #addGroupBlock style="display: none;">
                                    <input type="text" class="form-control form-control-sm" #addGroupField
                                           formControlName="newGroup"
                                           [ngClass]="{'is-invalid': secondForm.controls.newGroup.touched && !secondForm.controls.newGroup.valid}">
                                    <div *ngIf="secondFormErrors.newGroup" class="alert alert-danger mb-1">
                                        {{secondFormErrors.newGroup}}
                                    </div>
                                    <div class="text-right mt-1">
                                        <button type="button" class="btn btn-secondary btn-sm" (click)="addGroup($event);">
                                            {{'ADD' | translate}}
                                        </button>
                                        &nbsp;
                                        <button type="button" class="btn btn-secondary btn-sm" (click)="addGroupBlock.style.display = 'none'; secondFormErrors.fld_newGroup = ''">
                                            {{'CANCEL' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <div class="col-md-7 offset-md-5">

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="fieldRequired{{ uniqueId }}" value="1"
                                       name="required"
                                       formControlName="required">
                                <label class="custom-control-label" for="fieldRequired{{ uniqueId }}">{{'REQUIRED' | translate}}</label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <div class="col-md-7 offset-md-5">

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="fieldShowInTable{{ uniqueId }}" value="1"
                                       name="showInTable"
                                       formControlName="showInTable">
                                <label class="custom-control-label" for="fieldShowInTable{{ uniqueId }}">{{'SHOW_IN_TABLE' | translate}}</label>
                            </div>

                        </div>
                    </div>
    
                    <div class="form-group row mb-0">
                        <div class="col-md-7 offset-md-5">
            
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="fieldShowOnPage{{ uniqueId }}" value="1"
                                       name="showOnPage"
                                       formControlName="showOnPage">
                                <label class="custom-control-label" for="fieldShowOnPage{{ uniqueId }}">{{'SHOW_ON_PAGE' | translate}}</label>
                            </div>
        
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <div class="col-md-7 offset-md-5">

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="fieldShowInList{{ uniqueId }}" value="1"
                                       name="showInList"
                                       formControlName="showInList">
                                <label class="custom-control-label" for="fieldShowInList{{ uniqueId }}">{{'SHOW_IN_LIST' | translate}}</label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <div class="col-md-7 offset-md-5">

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="fieldIsFilter{{ uniqueId }}" value="1"
                                       name="isFilter"
                                       formControlName="isFilter">
                                <label class="custom-control-label" for="fieldIsFilter{{ uniqueId }}">{{'SHOW_IN_FILTER' | translate}}</label>
                            </div>

                        </div>
                    </div>

                    <div class="alert alert-danger mt-3 mb-3" [hidden]="!errorFieldMessage">
                        <button type="button" class="close" (click)="errorFieldMessage = ''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{errorFieldMessage}}
                    </div>

                    <div class="mt-3">
                        <button type="button" class="btn btn-sm btn-info btn-wide" (click)="submitField($event)" [hidden]="action != 'add_field'">
                            <i class="icon-plus"></i>
                            {{'ADD_FIELD' | translate}}
                        </button>
                        <button type="button" class="btn btn-sm btn-success btn-wide" (click)="submitField($event)" [hidden]="action != 'edit_field'">
                            <i class="icon-check"></i>
                            {{'SAVE_FIELD' | translate}}
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-sm btn-secondary btn-wide" (click)="editFieldCancel($event)">
                            {{'CANCEL' | translate}}
                        </button>
                    </div>

                </div>
            </div>

        </div>
        <!-- /Field form -->

    </div>

    <!-- Fields -->
    <ngb-accordion [closeOthers]="true" activeIds="accordion-content-type-fields" class="ngb-accordion" #accordion="ngbAccordion">
        <ngb-panel id="accordion-content-type-fields" [title]="'FIELDS' | translate">
            <ng-template ngbPanelContent>

                <div #blockFieldList>
                    <div>
                        <div class="text-right mb-2" [hidden]="model.fields.length < 2">
                            <select class="custom-select custom-select-sm d-block d-md-inline-block width-100 width-md-auto mb-2 mb-md-0" #sortTypeSelect>
                                <option value="">{{'SORT_FIELDS' | translate}}</option>
                                <option value="listOrder-showInList">{{'SORT_FIELDS_LIST' | translate}}</option>
                                <option value="pageOrder-showOnPage">{{'SORT_FIELDS_PAGE' | translate}}</option>
                                <option value="filterOrder-isFilter">{{'SORT_FILTERS' | translate}}</option>
                            </select>
                            <button type="button" class="btn btn-sm btn-secondary d-block d-md-inline-block width-100 width-md-auto ms-md-2" (click)="sortingStart(sortTypeSelect.value, $event)">
                                <i class="icon-shuffle"></i>
                                {{'SORT' | translate}}
                            </button>
                        </div>

                        <div>
                            <table class="table table-striped table-divided mb-0">
                                <thead>
                                <tr>
                                    <th>{{'TITLE' | translate}}</th>
                                    <th>{{'INPUT_TYPE' | translate}}</th>
                                    <th class="d-none d-lg-table-cell">{{'GROUP' | translate}}</th>
                                    <th class="d-none d-lg-table-cell">{{'REQUIRED' | translate}}?</th>
                                    <th>{{'SHOW_IN_TABLE' | translate}}?</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="show-on-hover-parent" *ngFor="let field of model.fields; let index=index">
                                    <td>
                                        {{field.title}}
                                        <span class="text-muted">({{field.name}})</span>
                                    </td>
                                    <td>
                                        {{field.inputType}}
                                    </td>
                                    <td class="d-none d-lg-table-cell">
                                        {{field.group}}
                                    </td>
                                    <td class="d-none d-lg-table-cell">
                                        <app-output-field [value]="field.required" outputType="boolean"></app-output-field>
                                    </td>
                                    <td>
                                        <div class="relative">
                                            <div class="show-on-hover-right">
                                                <button type="button" class="btn btn-secondary btn-sm ms-2" (click)="editField(field, $event)" [hidden]="field.name == currentFieldName" ngbTooltip="{{'EDIT' | translate}}">
                                                    <i class="icon-pencil"></i>
                                                </button>
                                                <button type="button" class="btn btn-secondary btn-sm ms-2" (click)="copyField(field, $event)" ngbTooltip="{{'COPY' | translate}}">
                                                    <i class="icon-stack"></i>
                                                </button>
                                                <button type="button" class="btn btn-secondary btn-sm ms-2" (click)="deleteField(field, $event)" [hidden]="field.name == currentFieldName" ngbTooltip="{{'DELETE' | translate}}">
                                                    <i class="icon-cross"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <app-output-field [value]="field.showInTable" outputType="boolean"></app-output-field>
                                    </td>
                                </tr>
                                <tr [hidden]="model.fields.length > 0" class="table-active">
                                    <td colspan="5" class="text-center p-3">
                                        {{'EMPTY' | translate}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <app-sorting-dnd
                        [(items)]="sortData"
                        (save)="sortingApply($event)"
                        (cancel)="sortingReset()"></app-sorting-dnd>

            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <!-- /Fields -->

    <div class="alert alert-danger mt-3 mb-0" *ngIf="errorMessage">
        <button type="button" class="close" (click)="errorMessage = ''">
            <span aria-hidden="true">&times;</span>
        </button>
        {{errorMessage}}
    </div>

</div>

<div class="modal-footer d-block">
    <div class="btn-group me-1">
        <button type="button" class="btn btn-success btn-wide" [disabled]="submitted" (click)="save(true, $event)">
            <span>{{'SAVE_AND_CLOSE' | translate}}</span>
        </button>
        <div class="btn-group" ngbDropdown role="group" placement="top-right">
            <button type="button" class="btn btn-success dropdown-toggle-split" ngbDropdownToggle [disabled]="submitted"></button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button type="button" ngbDropdownItem (click)="save(false, $event)">{{'SAVE' | translate}}</button>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary btn-wide" (click)="closeModal($event)">
        <span>{{'CLOSE' | translate}}</span>
    </button>
</div>
