<div class="position-relative modal-on-maximized">
    <div class="tabs-top">
        <button type="button" class="btn btn-outline-primary btn-sm d-block"
                [disabled]="submitted"
                (click)="closeModal($event)">
            <i class="icon-cross mr-1"></i>
            <span>{{'CLOSE' | translate}}</span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-sm d-block"
                [disabled]="submitted"
                (click)="minimize($event)">
            <i class="icon-minimize mr-1"></i>
            <span>{{'MINIMIZE' | translate}}</span>
        </button>
    </div>
</div>
<div class="modal-header d-block">
    <div class="position-relative modal-on-minimized">
        <div class="pos-absolute-right">
            <button type="button" class="btn btn-no-border btn-sm-sm" [title]="'EXPAND' | translate" (click)="maximize($event)">
                <i class="icon-maximize"></i>
            </button>
            <button type="button" class="btn btn-no-border btn-sm-sm ml-1" [title]="'CLOSE' | translate" (click)="closeModal($event)">
                <i class="icon-cross"></i>
            </button>
        </div>
    </div>
    <h4 class="modal-title text-overflow mr-5">{{modalTitle}}</h4>
</div>

<form [formGroup]="form" method="post" (ngSubmit)="onSubmit()" [ngClass]="{'no-events': submitted}" #formEl>

    <div class="modal-body py-0" [class.loading]="loading">

        <div class="row">
            <div class="col-md-6">

                <div class="form-group form-group-message form-group-message">
                    <label for="fieldTitle" class="label-filled">{{'TITLE' | translate}}</label>
                    <input type="text" class="form-control" name="title"
                           formControlName="title"
                           id="fieldTitle"
                           [ngClass]="{'is-invalid': form.controls.title.touched && !form.controls.title.valid}">
                    <div *ngIf="formErrors.title" class="alert alert-danger">
                        {{formErrors.title}}
                    </div>
                </div>

                <div class="form-group form-group-message">
                    <label for="fieldName" class="label-filled">{{'SYSTEM_NAME' | translate}}</label>
                    <div class="input-group" [ngClass]="{'is-invalid': form.controls.name.touched && !form.controls.name.valid}">
                        <input type="text" class="form-control" name="name"
                               formControlName="name"
                               id="fieldName"
                               [ngClass]="{'is-invalid': form.controls.name.touched && !form.controls.name.valid}">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary" ngbTooltip="{{'GENERATE' | translate}}" (click)="generateName(model)">
                                <i class="icon-reload"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="formErrors.name" class="alert alert-danger">
                        {{formErrors.name}}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">

                        <div class="card card-body p-2 pl-3">

                            <div class="custom-control custom-checkbox m-0">
                                <input type="checkbox" class="custom-control-input" id="fieldIsActive{{ uniqueId }}" value="1" name="isActive" formControlName="isActive">
                                <label class="custom-control-label" for="fieldIsActive{{ uniqueId }}">{{'ACTIVE' | translate}}</label>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fieldDescription" class="label-filled">{{'DESCRIPTION' | translate}}</label>
                    <textarea class="form-control" rows="5" name="description" formControlName="description" id="fieldDescription"></textarea>
                </div>
            </div>
        </div>

        <ngb-accordion [closeOthers]="false" activeIds="accordion-input-options" class="ngb-accordion" #accordion="ngbAccordion">

            <!-- Input -->
            <ngb-panel id="accordion-input-options" [title]="'INPUT_OPTIONS' | translate">
                <ng-template ngbPanelContent>

                    <div formArrayName="inputProperties">
                        <table class="table table-bordered table-divided mb-0">
                            <thead>
                                <tr>
                                    <th>
                                        {{'SYSTEM_NAME' | translate}}
                                    </th>
                                    <th>
                                        {{'TITLE' | translate}}
                                    </th>
                                    <th>
                                        {{'DEFAULT_VALUE' | translate}}
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="arrayFields.inputProperties">
                                <tr [formGroupName]="i + ''" *ngFor="let option of arrayFields.inputProperties.controls; let i=index">
                                    <td>
                                        <input type="text" class="form-control"
                                               formControlName="name"
                                               [ngClass]="{'is-invalid': option.controls.name.touched && !option.controls.name.valid}">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control"
                                               formControlName="title"
                                               [ngClass]="{'is-invalid': option.controls.title.touched && !option.controls.title.valid}">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control"
                                               formControlName="default_value"
                                               [ngClass]="{'is-invalid': option.controls.default_value.touched && !option.controls.default_value.valid}">
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                                ngbTooltip="{{'DELETE' | translate}}"
                                                (click)="arrayFieldDelete('inputProperties', i, $event)">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="bg-faded">
                                    <td colspan="4" class="text-center">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                                (click)="arrayFieldAdd('inputProperties', $event)">
                                            <i class="icon-plus"></i>
                                            &nbsp;
                                            <span>{{'ADD' | translate}}</span>
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </ng-template>
            </ngb-panel>
            <!-- /Input -->
            <!-- Output -->
            <ngb-panel id="accordion-output-options" [title]="'OUTPUT_OPTIONS' | translate">
                <ng-template ngbPanelContent>

                    <div formArrayName="outputProperties">
                        <table class="table table-bordered table-divided mb-0">
                            <thead>
                            <tr>
                                <th>
                                    {{'SYSTEM_NAME' | translate}}
                                </th>
                                <th>
                                    {{'TITLE' | translate}}
                                </th>
                                <th>
                                    {{'DEFAULT_VALUE' | translate}}
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody *ngIf="arrayFields.outputProperties">
                                <tr [formGroupName]="i + ''" *ngFor="let option of arrayFields.outputProperties.controls; let i=index">
                                    <td>
                                        <input type="text" class="form-control"
                                               formControlName="name"
                                               [ngClass]="{'is-invalid': option.controls.name.touched && !option.controls.name.valid}">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control"
                                               formControlName="title"
                                               [ngClass]="{'is-invalid': option.controls.title.touched && !option.controls.title.valid}">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control"
                                               formControlName="default_value"
                                               [ngClass]="{'is-invalid': option.controls.default_value.touched && !option.controls.default_value.valid}">
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                                ngbTooltip="{{'DELETE' | translate}}"
                                                (click)="arrayFieldDelete('outputProperties', i, $event)">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            <tr class="bg-faded">
                                <td colspan="4" class="text-center">
                                    <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="arrayFieldAdd('outputProperties', $event)">
                                        <i class="icon-plus"></i>
                                        &nbsp;
                                        <span>{{'ADD' | translate}}</span>
                                    </button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </ng-template>
            </ngb-panel>
            <!-- /Output -->
        </ngb-accordion>

        <div class="alert alert-danger mt-3 mb-0" *ngIf="errorMessage">
            <button type="button" class="close" (click)="errorMessage = ''">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorMessage}}
        </div>

    </div>
    <div class="modal-footer display-block">
        <div class="btn-group mr-1">
            <button type="button" class="btn btn-success btn-wide" [disabled]="submitted" (click)="save(true, $event)">
                <span>{{'SAVE_AND_CLOSE' | translate}}</span>
            </button>
            <div class="btn-group" ngbDropdown role="group" placement="top-right">
                <button type="button" class="btn btn-success dropdown-toggle-split" ngbDropdownToggle [disabled]="submitted"></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button type="button" ngbDropdownItem (click)="save(false, $event)">{{'SAVE' | translate}}</button>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary btn-wide" (click)="closeModal($event)">
            <span>{{'CLOSE' | translate}}</span>
        </button>
    </div>

</form>
