{% if filter.values | length > 1 %}
    <div class="filter-block">
        <h4>
            {{ filter.title | trans }}
        </h4>
        <div class="my-2">
            <div data-name="{{ filter.name }}">
                <input class="form-control mb-2"
                       name="filter[{{ filter.name }}][from]"
                       type="date"
                       value="">
                <input class="form-control"
                       name="filter[{{ filter.name }}][to]"
                       type="date"
                       value="">
            </div>
        </div>
    </div>
    <hr>
{% endif %}
