<div>
    <form [formGroup]="form" #formEl>
        
        <div class="grid align-content-start mb-3 mt-0 border-round border-1 surface-200 border-400">
            <div class="col-6">
                <div class="p-2">
                    {{model.createdDate | date: 'dd/MM/y HH:mm:ss'}}
                </div>
            </div>
            <div class="col-6 text-right">
                <a pButton class="no-underline" href="{{baseUrl}}orders/print/{{model.id}}" target="_blank">
                    <i class="pi pi-print mr-2"></i>
                    {{'PRINT' | translate}}
                </a>
            </div>
        </div>

        <div class="grid">
            <div class="col-12 md:col-6">
                <label class="block mb-2" for="fieldId">
                    {{'ID' | translate}}
                </label>
                <input type="text" id="fieldId" class="w-full" pInputText formControlName="id" readonly>
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2" for="fieldEmail">
                    {{'EMAIL' | translate}}
                </label>
                <input type="text" id="fieldEmail" class="w-full" pInputText formControlName="email">
            </div>
        </div>

        <div class="grid">
            <div class="col-12 md:col-6">
                <div class="mb-3">
                    <label class="block mb-2" for="fieldFullName">
                        {{'FULL_NAME' | translate}}
                    </label>
                    <input type="text" id="fieldFullName" class="w-full" pInputText formControlName="fullName">
                </div>
                <div>
                    <label class="block mb-2" for="fieldPhone">
                        {{'PHONE' | translate}}
                    </label>
                    <input type="text" id="fieldPhone" class="w-full" pInputText formControlName="phone">
                </div>
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2" for="fieldComment">
                    {{'COMMENT' | translate}}
                </label>
                <textarea id="fieldComment" class="w-full" rows="5" pInputTextarea formControlName="comment"></textarea>
            </div>
        </div>

        <div class="grid mb-2" *ngIf="settings">
            <div class="col-12 md:col-6">
                <label class="block mb-2" for="fieldDeliveryName">
                    {{'DELIVERY_METHOD' | translate}}
                </label>
                <p-dropdown [options]="settings.SETTINGS_DELIVERY" inputId="fieldDeliveryName"
                            styleClass="w-full"
                            optionLabel="name"
                            optionValue="name"
                            formControlName="deliveryName"></p-dropdown>
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2" for="fieldPaymentName">
                    {{'PAYMENT_METHOD' | translate}}
                </label>
                <p-dropdown [options]="settings.SETTINGS_PAYMENT" inputId="fieldPaymentName"
                            styleClass="w-full"
                            optionLabel="name"
                            optionValue="name"
                            formControlName="paymentName"></p-dropdown>
            </div>
        </div>
        
        <p-accordion>
            <p-accordionTab [header]="'OPTIONS' | translate">
                <div formArrayName="options">
                    <p-table [value]="arrayFields.options.controls" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{ 'SYSTEM_NAME' | translate }}</th>
                                <th>{{ 'NAME' | translate }}</th>
                                <th>{{ 'VALUE' | translate }}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-option let-rowIndex="rowIndex">
                            <tr [formGroupName]="rowIndex + ''">
                                <td>
                                    <input type="text" class="p-inputtext-sm w-full" pInputText formControlName="name">
                                </td>
                                <td>
                                    <input type="text" class="p-inputtext-sm w-full" pInputText formControlName="title">
                                </td>
                                <td>
                                    <input type="text" class="p-inputtext-sm w-full" pInputText formControlName="value">
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-accordionTab>
            <p-accordionTab [header]="'ORDER_CONTENT' | translate" [selected]="true">
                <p-table [value]="model.content">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{ 'ID' | translate }}</th>
                            <th>{{ 'NAME' | translate }}</th>
                            <th class="text-center">{{ 'PRICE' | translate }}</th>
                            <th class="text-center">{{ 'QUANTITY' | translate }}</th>
                            <th class="text-center">{{ 'PRICE_TOTAL' | translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-content let-rowIndex="rowIndex">
                        <tr>
                            <td>
                                {{ content.id }}
                            </td>
                            <td>
                                <ng-container *ngIf="!content.uri; else productLink">
                                    {{ content.title }}
                                </ng-container>
                                <ng-template #productLink>
                                    <a href="/{{ baseUrl }}{{ content.uri }}" target="_blank">
                                        {{ content.title }}
                                    </a>
                                </ng-template>
                            </td>
                            <td>
                                {{ content.price | number: '1.2-2':'en-EN' }}
                            </td>
                            <td class="text-center">
                                {{ content.count }}
                            </td>
                            <td class="text-center">
                                {{ content.priceTotal | number: '1.2-2':'en-EN' }}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer" let-columns>
                        <ng-container *ngIf="model.discount || model.discountPercent">
                            <tr>
                                <td colspan="4">{{ 'DISCOUNT' | translate }}</td>
                                <td class="text-center">
                                    <span *ngIf="model.discount">{{ model.discount | number: '1.2-2':'ru-RU' }}</span>
                                    <span *ngIf="model.discountPercent">{{ model.discountPercent }}%</span>
                                </td>
                            </tr>
                        </ng-container>
                        <tr>
                            <td colspan="4">{{ 'DELIVERY' | translate }}</td>
                            <td class="text-center" [style.textDecoration]="deliveryLimitApplied ? 'line-through' : 'none'">
                                {{ model.deliveryPrice | number: '1.2-2':'ru-RU' }}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-end" colspan="4">
                                {{ 'PRICE_TOTAL' | translate }}:
                            </td>
                            <td class="text-center big">
                                <b>{{ model.price | number: '1.2-2':'ru-RU' }}</b>
                                &nbsp;
                                <span class="small">{{ model.currency }}</span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>
        </p-accordion>

        <div role="separator" class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left">
            <div class="p-divider-content"></div>
        </div>

        <p-message styleClass="block w-full text-left mb-3" severity="error"
                   [text]="errorMessage"
                   *ngIf="errorMessage"></p-message>

        <div class="text-right pt-2">
            <button pButton pRipple type="button" [label]="'SAVE_AND_CLOSE' | translate" icon="pi pi-check"
                    class="p-button-success p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="saveData(true, $event)"></button>
            <button pButton pRipple type="button" [label]="'SAVE' | translate" icon="pi pi-check"
                    class="p-button-warning p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="saveData(false, $event)"></button>
            <button pButton pRipple type="button" [label]="'CLOSE' | translate"
                    class="p-button-secondary p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="dismissModal($event)"></button>
        </div>
    </form>
    
</div>
