<div class="layout-topbar">
    <button type="button" class="menu-button" (click)="navBarToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <span class="layout-topbar-header text-3xl text-600">
        <i class="fi fi-br-shopping-bag vertical-align-middle mr-2"></i>
        <span class="vertical-align-middle">{{ 'ORDERS' | translate }}</span>
    </span>
    <ul class="topbar-menu">
        <li class="active">
            <a href="#">Section 1</a>
        </li>
        <li>
            <a href="#">Section 2</a>
        </li>
    </ul>
</div>

<div class="layout-content">
    <div class="content-section">

        <p-table styleClass="p-datatable-striped"
                 [(selection)]="itemSelected"
                 [sortField]="queryOptions.sort_by"
                 dataKey="id"
                 [lazy]="true"
                 (onLazyLoad)="getData($event)"
                 [paginator]="true"
                 [value]="items"
                 [columns]="cols"
                 [rows]="queryOptions.limit"
                 [totalRecords]="itemsTotal"
                 [loading]="loading">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header | translate }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-columns="columns">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns">
                        {{ item[col.field] }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
        

    </div>
</div>
