<div>
    <form [formGroup]="form" #formEl>

        <div class="grid">
            <div class="col-12 md:col-6">
                <label class="block mb-2" for="fieldEmail">
                    {{ 'EMAIL' | translate }}
                </label>
                <input type="text" id="fieldEmail" class="w-full mb-2" pInputText formControlName="email">
            </div>
            <div class="col-12 md:col-6">
                <label class="block mb-2" for="fieldFullName">
                    {{ 'FULL_NAME' | translate }}
                </label>
                <input type="text" id="fieldFullName" class="w-full mb-2" pInputText formControlName="fullName">
            </div>
        </div>

        <div class="grid">
            <div class="col-12 md:col-6">
                <div class="mb-2">
                    <label class="block mb-2" for="fieldPhone">
                        {{ 'PHONE' | translate }}
                    </label>
                    <input type="text" id="fieldPhone" class="w-full mb-2" pInputText formControlName="phone">
                </div>
                <div>
                    <label class="block mb-2" for="fieldApiToken">
                        {{ 'API_TOKEN' | translate }}
                    </label>
                    <div class="p-inputgroup w-full">
                        <button type="button" pButton pRipple class="p-button-secondary"
                                icon="pi pi-refresh"
                                [pTooltip]="'GENERATE' | translate"
                                tooltipPosition="bottom"
                                (click)="generateApiToken($event)"></button>
                        <input type="text" id="fieldApiToken" class="w-full" pInputText formControlName="apiToken">
                        <button type="button" pButton pRipple class="p-button-secondary"
                                icon="pi pi-times"
                                [pTooltip]="'CLEAR' | translate"
                                tooltipPosition="bottom"
                                (click)="clearApiToken($event)"></button>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <div class="mb-2">
                    <label class="block mb-2" for="fieldRole">
                        {{ 'ROLE' | translate }}
                    </label>
                    <p-dropdown inputId="fieldRole" styleClass="w-full mb-2"
                                formControlName="role"
                                [options]="userRoles"
                                optionLabel="title"
                                optionValue="name"></p-dropdown>
                </div>
                <div>
                    <label class="block mb-2" for="fieldGroups">
                        {{ 'GROUPS' | translate }}
                    </label>
                    <p-multiSelect inputId="fieldGroups" styleClass="w-full mb-2"
                                   [options]="userGroups"
                                   [filter]="false"
                                   optionLabel="value"
                                   optionValue="name"
                                   formControlName="groups"></p-multiSelect>
                </div>
            </div>
        </div>

        <div class="border-1 border-solid border-400 border-round p-3 mb-3">
            <div class="grid">
                <div class="col-12 md:col-6">
                    <label class="block mb-2" for="fieldPassword">
                        {{ 'PASSWORD' | translate }}
                    </label>
                    <input type="text" id="fieldPassword" class="w-full mb-2" pInputText formControlName="password">
                </div>
                <div class="col-12 md:col-6">
                    <label class="block mb-2" for="fieldConfirmPassword">
                        {{ 'CONFIRM_PASSWORD' | translate }}
                    </label>
                    <input type="text" id="fieldConfirmPassword" class="w-full mb-2" pInputText formControlName="confirmPassword">
                </div>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-12 md:col-6">
                <div class="pt-2">
                    <p-inputSwitch inputId="fieldActive" styleClass="mr-2 vertical-align-middle" formControlName="isActive"></p-inputSwitch>
                    <label class="vertical-align-middle" for="fieldActive">
                        {{ 'ACTIVE' | translate }}
                    </label>
                </div>
            </div>
            <div class="col-12 md:col-6 text-center" *ngIf="allowImpersonation">
                <a pButton pRipple
                   class="p-button-raised p-button-rounded no-underline w-full md:w-auto"
                   icon="pi pi-user"
                   [label]="'IMPERSONATION' | translate"
                   href="{{ baseUrl }}?_switch_user={{ model.email }}"></a>
            </div>
        </div>

        <p-accordion>
            <p-accordionTab [header]="'OPTIONS' | translate">
                <div formArrayName="options">
                    <p-table [value]="arrayFields.options.controls" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>{{ 'SYSTEM_NAME' | translate }}</th>
                                <th>{{ 'NAME' | translate }}</th>
                                <th>{{ 'VALUE' | translate }}</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-option let-rowIndex="rowIndex">
                            <tr [formGroupName]="rowIndex + ''">
                                <td>
                                    <input type="text" class="p-inputtext-sm w-full" pInputText formControlName="name">
                                </td>
                                <td>
                                    <input type="text" class="p-inputtext-sm w-full" pInputText formControlName="title">
                                </td>
                                <td>
                                    <input type="text" class="p-inputtext-sm w-full" pInputText formControlName="value">
                                </td>
                                <td>
                                    <button pButton pRipple type="button"
                                            icon="pi pi-times"
                                            (click)="arrayFieldDelete('options', rowIndex)"
                                            [pTooltip]="'DELETE' | translate"
                                            tooltipPosition="bottom"
                                            class="p-button-raised p-button-rounded p-button-secondary p-button-sm"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="4" class="text-center">
                                    <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-secondary p-button-sm"
                                            [label]="'ADD' | translate"
                                            (click)="arrayFieldAdd('options')"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-accordionTab>
        </p-accordion>

        <div role="separator" class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left">
            <div class="p-divider-content"></div>
        </div>

        <p-message styleClass="block w-full text-left mb-3" severity="error"
                   [text]="errorMessage"
                    *ngIf="errorMessage"></p-message>

        <div class="text-right pt-2">
            <button pButton pRipple type="button" [label]="'SAVE_AND_CLOSE' | translate" icon="pi pi-check"
                    class="p-button-success p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="saveData(true, $event)"></button>
            <button pButton pRipple type="button" [label]="'SAVE' | translate" icon="pi pi-check"
                    class="p-button-warning p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="saveData(false, $event)"></button>
            <button pButton pRipple type="button" [label]="'CLOSE' | translate"
                    class="p-button-secondary p-button-raised w-full md:w-auto mb-2 md:mb-0 md:ml-2"
                    (click)="dismissModal($event)"></button>
        </div>
    </form>
    
</div>
<div class="loading-overlay" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>

