<!-- breadcrumbs -->
{% if breadcrumbs | length > 0 %}
    <div class="btn-group btn-breadcrumb mb-3">
        <a href="{{ app.request.get('locale_url_prefix') }}" class="btn btn-secondary">
            <i class="icon-home"></i>
        </a>
        {% for crumb in breadcrumbs %}
            <a href="{{ catalogPath(crumb.uri) }}" class="btn btn-secondary">{{ crumb.title }}</a>
        {% endfor %}
    </div>
{% endif %}
<!-- /breadcrumbs -->