<ul>
    {% for category in children %}
        <li class="nav-item active{{ category.id }}-{% if category.children|length > 0 %} parent{% endif %}">
            <a href="{{ catalogPath(category.uri, '', category) }}" class="nav-link">
                {{ category.title }}
            </a>
            {{ categoriesTree(category.id, 'menu_dropdown_child', category) }}
        </li>
    {%  endfor %}
</ul>