<div [ngSwitch]="outputType">
    <ng-container *ngSwitchCase="'checkbox'">
        <ng-container *ngTemplateOutlet="checkbox"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'boolean'">
        <ng-container *ngTemplateOutlet="checkbox"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'number'">
        {{ value | number: '1.2-2':'ru-RU' }}
    </ng-container>
    <ng-container *ngSwitchCase="'date'">
        {{ value | date: options.format }}
    </ng-container>
    <ng-container *ngSwitchCase="'dateObject'">
        {{ value | dateFromObject: options.format }}
    </ng-container>
    <ng-container *ngSwitchCase="'userRole'">
        <span class="p-tag" [style.backgroundColor]="value | userRoleColor">
            {{ value | userRoleName }}
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="'userEmail'">
        <ng-container *ngIf="!object.userId; else emailLink">
            {{ value }}
        </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'text-center'">
        <div class="text-center">{{ value }}</div>
    </ng-container>
    <ng-container *ngSwitchCase="'status'">
        <p-dropdown styleClass="p-dropdown-sm width160 p-dropdown-white-trigger"
            [options]="settingsStatuses"
            [(ngModel)]="value"
            optionLabel="name"
            optionValue="name"
            (onChange)="optionUpdate(key, value)"
            [style]="{backgroundColor: getStatusColor(value)}">
            <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="value">
                    <div class="text-overflow text-white text-shadow">
                        {{ value }}
                    </div>
                </div>
            </ng-template>
            <ng-template let-status pTemplate="item">
                <span class="p-badge p-component p-badge-dot mr-1" [style.backgroundColor]="status.options.color"></span>
                {{ status.name }}
            </ng-template>
        </p-dropdown>
    </ng-container>
    <ng-container *ngSwitchDefault>
        {{ value }}
    </ng-container>
</div>
<ng-template #emailLink>
    <a href="#/users/{{ value }}">
        <i class="icon-user"></i>
        {{ value }}
    </a>
</ng-template>
<ng-template #checkbox>
    <div class="text-center">
        <i class="pi pi-check text-2xl text-green-400" [hidden]="!value"></i>
        <i class="pi pi-times text-2xl text-400" [hidden]="value"></i>
    </div>
</ng-template>
