<p-tabView [scrollable]="true">
    <p-tabPanel [header]="groupName" *ngFor="let groupName of groups">

        <div class="min-height200 pt-2">

            <div class="mb-2"
                 [formGroup]="form"
                 *ngFor="let field of fields | filterFieldByGroup: groupName">

                <div class="show-on-hover-parent" [ngSwitch]="field.inputType" [ngClass]="{'pe-5': field.inputProperties.multiple}">

                    <!-- text-->
                    <div class="grid" *ngSwitchDefault>
                        <div class="col-12 md:col-5">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <input pInputText type="text" id="field_{{ field.name }}" class="w-full"
                                   [formControlName]="field.name">
                        </div>
                    </div>
                    <!-- /text-->
                    
                    <!-- system_name -->
                    <div class="grid" *ngSwitchCase="'system_name'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <div class="p-inputgroup">
                                <input pInputText type="text" id="field_{{ field.name }}" class="w-full"
                                       [formControlName]="field.name">
                                <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-info"
                                        [pTooltip]="'GENERATE' | translate"
                                        tooltipPosition="bottom"
                                        (click)="generateName(field, $event)"></button>
                            </div>
                        </div>
                    </div>
                    <!-- /system_name -->

                    <!-- textarea -->
                    <div *ngSwitchCase="'textarea'" [class.grid]="field.inputProperties.rows < 7">
                        <div [ngClass]="{'col-12 md:col-5': field.inputProperties.rows < 7, 'pb-2': field.inputProperties.rows >= 7}">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div [ngClass]="{'col-12 md:col-7': field.inputProperties.rows < 7}">
                            <textarea pInputTextarea id="field_{{ field.name }}" class="w-full mb-2" rows="8"
                                      [rows]="field.inputProperties.rows" [formControlName]="field.name"></textarea>
                        </div>
                    </div>
                    <!-- /textarea -->

                    <!-- rich_text -->
                    <div *ngSwitchCase="'rich_text'">
                        <div class="mb-2">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="border-round" *ngIf="field.inputProperties.formats" [ngClass]="{'border-solid border-green-500 border-2': isLocalizationActive}">
                            <p-editor [formControlName]="field.name"
                                      [formats]="field.inputProperties.formats"
                                      [style]="{'height':'320px'}"
                                      (onInit)="onInitTextEditor($event)">
                                <p-header>
                                    <select class="ql-header" *ngIf="field.inputProperties.formats.indexOf('header') > -1"></select>
                                    <select class="ql-font" *ngIf="field.inputProperties.formats.indexOf('font') > -1"></select>
                                    <select class="ql-size" *ngIf="field.inputProperties.formats.indexOf('size') > -1"></select>
                                    <button class="ql-bold" aria-label="Bold" *ngIf="field.inputProperties.formats.indexOf('bold') > -1"></button>
                                    <button class="ql-italic" aria-label="Italic" *ngIf="field.inputProperties.formats.indexOf('italic') > -1"></button>
                                    <button class="ql-underline" aria-label="Underline" *ngIf="field.inputProperties.formats.indexOf('underline') > -1"></button>
                                    <button class="ql-strike" aria-label="Strike" *ngIf="field.inputProperties.formats.indexOf('strike') > -1"></button>
                                    <select class="ql-color" *ngIf="field.inputProperties.formats.indexOf('color') > -1"></select>
                                    <select class="ql-background" *ngIf="field.inputProperties.formats.indexOf('background') > -1"></select>
                                    <button class="ql-list" value="ordered" aria-label="Ordered List" *ngIf="field.inputProperties.formats.indexOf('list') > -1"></button>
                                    <button class="ql-list" value="bullet" aria-label="Unordered List" *ngIf="field.inputProperties.formats.indexOf('list') > -1"></button>
                                    <select class="ql-align" *ngIf="field.inputProperties.formats.indexOf('align') > -1"></select>
                                    <button class="ql-link" aria-label="Insert Link" *ngIf="field.inputProperties.formats.indexOf('link') > -1"></button>
                                    <button class="ql-image" aria-label="Insert Image" *ngIf="field.inputProperties.formats.indexOf('image') > -1"></button>
                                    <button class="ql-video" aria-label="Insert Video" *ngIf="field.inputProperties.formats.indexOf('video') > -1"></button>
                                    <button class="ql-code-block" aria-label="Insert Code Block" *ngIf="field.inputProperties.formats.indexOf('code-block') > -1"></button>
                                    <button class="ql-clean" aria-label="Remove Styles" *ngIf="field.inputProperties.formats.indexOf('clean') > -1"></button>
                                </p-header>
                            </p-editor>
                        </div>
                    </div>
                    <!-- /rich_text -->

                    <!-- number -->
                    <div class="grid" *ngSwitchCase="'number'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{field.name}}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <input pInputText type="number" id="field_{{ field.name }}" class="w-full"
                                   [formControlName]="field.name">
                        </div>
                    </div>
                    <!-- /number -->

                    <!-- color -->
                    <div class="grid" *ngSwitchCase="'color'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <div class="grid">
                                <div class="col-12 md:col-6">
                                    <div class="relative">
                                        <div class="absolute pos-absolute-right" style="right: 6px; top: 6px;">
                                            <p-colorPicker [inline]="field.inputProperties['inline']"
                                                           [(ngModel)]="model[field.name]"
                                                           [ngModelOptions]="{standalone: true}"></p-colorPicker>
                                        </div>
                                    </div>
                                    <input pInputText type="text" maxlength="7" class="w-full" id="field_{{ field.name }}"
                                           [formControlName]="field.name"
                                           [(ngModel)]="model[field.name]"
                                           [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /color -->

                    <!-- file -->
                    <ng-container *ngSwitchCase="'file'">
                        <app-file-widget
                            [formControlName]="field.name"
                            [fieldTitle]="field.title"
                            [fieldName]="field.name"
                            [hasPreviewImage]="field.inputProperties.has_preview_image"
                            [allowedExtensions]="field.inputProperties.allowed_extensions"
                            [(files)]="files"></app-file-widget>
                    </ng-container>
                    <!-- /file -->

                    <!-- date -->
                    <div class="grid" *ngSwitchCase="'date'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{field.name}}">
                                {{field.title}}
                                <span class="text-500">({{field.name}})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <div class="ui-fluid">
                                <p-calendar inputId="field_{{field.name}}"
                                            [formControlName]="field.name"
                                            [dateFormat]="field.inputProperties.format"
                                            [showTime]="field.inputProperties.show_time"
                                            [hourFormat]="field.inputProperties.hour_format"
                                            [firstDayOfWeek]="field.inputProperties.first_day_of_week"
                                            [showButtonBar]="true"
                                            [showIcon]="true"
                                            [icon]="'pi pi-calendar'"></p-calendar>
                            </div>
                        </div>
                    </div>
                    <!-- /date -->

                    <!-- select -->
                    <div class="grid" *ngSwitchCase="'select'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{field.name}}">
                                {{field.title}}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <p-dropdown inputId="field_{{ field.name }}" styleClass="w-full"
                                        [options]="field.options"
                                        [formControlName]="field.name"
                                        optionLabel="title"
                                        optionValue="value"></p-dropdown>
                        </div>
                    </div>
                    <!-- /select -->

                    <!-- radio -->
                    <div class="grid" *ngSwitchCase="'radio'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <div *ngFor="let opt of field.options; index as index" class="field-checkbox">
                                <p-radioButton [inputId]="'radio-field-' + field.name + index"
                                               [formControlName]="field.name"
                                               [name]="field.name"
                                               [value]="opt.value"></p-radioButton>
                                <label [for]="'radio-field-' + field.name + index">{{ opt.title }}</label>
                            </div>
                        </div>
                    </div>
                    <!-- /radio -->

                    <!-- checkbox -->
                    <div class="grid" *ngSwitchCase="'checkbox'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <div *ngFor="let opt of field.options; index as index" class="field-checkbox">
                                <p-checkbox [inputId]="'radio-field-' + field.name + index"
                                               [formControl]="form.controls[field.name]"
                                               [name]="field.name"
                                               [value]="opt.value"></p-checkbox>
                                <label [for]="'radio-field-' + field.name + index">{{ opt.title }}</label>
                            </div>
                        </div>
                    </div>
                    <!-- /checkbox -->

                    <!-- tags -->
                    <div class="grid" *ngSwitchCase="'tags'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <p-chips [inputId]="'field_' + field.name"
                                     styleClass="w-full"
                                     inputStyleClass="w-full"
                                     [formControlName]="field.name"></p-chips>
                        </div>
                    </div>
                    <!-- /tags -->

                    <!-- categories -->
                    <div *ngSwitchCase="'categories'">
                        <div class="mb-2">
                            <label for="field_{{ field.name }}">
                                {{field.title}}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div>
                            <p-tree selectionMode="checkbox"
                                    scrollHeight="300px"
                                    [value]="categoriesTree"
                                    [(selection)]="categoriesSelection[field.name]"
                                    [loading]="loadingCategories"
                                    [layout]="field.inputProperties.layout"
                                    [loadingIcon]="'icon-loader'"
                                    (onNodeSelect)="categorySelect(field.name)"
                                    (onNodeUnselect)="categorySelect(field.name)"></p-tree>
                        </div>
                    </div>
                    <!-- /categories -->

                    <!-- parameters -->
                    <ng-container *ngSwitchCase="'parameters'">
                        <div class="mb-2">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div [formArrayName]="field.name">
                            <p-table styleClass="p-datatable-sm" [value]="arrayFields[field.name].controls">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{ field.inputProperties.names[0] | translate }}
                                        </th>
                                        <th>
                                            {{ field.inputProperties.names[1] | translate }}
                                        </th>
                                        <th>
                                            {{ field.inputProperties.names[2] | translate }}
                                        </th>
                                        <th>
                                            {{ field.inputProperties.names[3] | translate }}
                                        </th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-option let-rowIndex="rowIndex">
                                    <tr [formGroupName]="rowIndex + ''">
                                        <td>
                                            <input [type]="field.inputProperties.types[0]" class="p-inputtext-sm w-full" pInputText
                                                   [formControlName]="field.inputProperties.keys[0]">
                                        </td>
                                        <td>
                                            <input [type]="field.inputProperties.types[1]" class="p-inputtext-sm w-full" pInputText
                                                   [formControlName]="field.inputProperties.keys[1]">
                                        </td>
                                        <td>
                                            <input [type]="field.inputProperties.types[2]" class="p-inputtext-sm w-full" pInputText
                                                   [formControlName]="field.inputProperties.keys[2]">
                                        </td>
                                        <td>
                                            <input [type]="field.inputProperties.types[3]" class="p-inputtext-sm w-full" pInputText
                                                   [formControlName]="field.inputProperties.keys[3]">
                                        </td>
                                        <td>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-times"
                                                    [pTooltip]="'DELETE' | translate"
                                                    tooltipPosition="bottom"
                                                    class="p-button-raised p-button-rounded p-button-secondary p-button-sm"
                                                    (click)="parametersRemove(field.name, rowIndex, $event)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <button type="button" pButton pRipple icon="pi pi-plus"
                                                    class="p-button-secondary p-button-sm"
                                                    [label]="'ADD' | translate"
                                                    (click)="parametersAdd(field.name, $event)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-container>
                    <!-- /parameters -->
                    
                </div>
            </div>
        </div>

    </p-tabPanel>
</p-tabView>
