<p-tabView [scrollable]="true">
    <p-tabPanel [header]="groupName" *ngFor="let groupName of groups">

        <div class="min-height200 pt-2">

            <div class="mb-2"
                 [formGroup]="form"
                 *ngFor="let field of fields | filterFieldByGroup: groupName">

                <div class="show-on-hover-parent" [ngSwitch]="field.inputType" [ngClass]="{'pe-5': field.inputProperties.multiple}">

                    <!-- text-->
                    <div class="grid" *ngSwitchCase="'text'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <input pInputText type="text" id="field_{{ field.name }}" class="w-full"
                                   [formControlName]="field.name">
                        </div>
                    </div>
                    <!-- /text-->
                    
                    <!-- system_name -->
                    <div class="grid" *ngSwitchCase="'system_name'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <div class="p-inputgroup">
                                <input pInputText type="text" id="field_{{ field.name }}" class="w-full"
                                       [formControlName]="field.name">
                                <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-info"
                                        [pTooltip]="'GENERATE' | translate"
                                        tooltipPosition="bottom"></button>
                            </div>
                        </div>
                    </div>
                    <!-- /system_name -->

                    <!-- textarea -->
                    <div *ngSwitchCase="'textarea'" [class.grid]="field.inputProperties.rows < 7">
                        <div [ngClass]="{'col-12 md:col-5': field.inputProperties.rows < 7, 'pb-2': field.inputProperties.rows >= 7}">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div [ngClass]="{'col-12 md:col-7': field.inputProperties.rows < 7}">
                            <textarea pInputTextarea id="field_{{ field.name }}" class="w-full mb-2" rows="8"
                                      [rows]="field.inputProperties.rows" [formControlName]="field.name"></textarea>
                        </div>
                    </div>
                    <!-- /textarea -->

                    <!-- rich_text -->
                    <div *ngSwitchCase="'rich_text'" [class.grid]="field.inputProperties.rows < 7">
                        <div [class.col-md-5]="field.inputProperties.rows < 7">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div [class.col-md-7]="field.inputProperties.rows < 7">
                            <textarea pInputTextarea id="field_{{ field.name }}" class="w-full mb-2" rows="8"
                                      [rows]="field.inputProperties.rows" [formControlName]="field.name"></textarea>
                        </div>
                    </div>
                    <!-- /rich_text -->

                    <!-- number -->
                    <div class="grid" *ngSwitchCase="'number'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{field.name}}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <input pInputText type="number" id="field_{{ field.name }}" class="w-full"
                                   [formControlName]="field.name">
                        </div>
                    </div>
                    <!-- /number -->

                    <!-- color -->
                    <div class="grid" *ngSwitchCase="'color'">
                        <div class="col-12 md:col-5">
                            <label for="field_{{ field.name }}">
                                {{ field.title }}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div class="col-12 md:col-7">
                            <div class="grid">
                                <div class="col-12 md:col-6">
                                    <div class="relative">
                                        <div class="absolute pos-absolute-right" style="right: 3px; top: 3px;">
                                            <p-colorPicker [inputId]="'field_' + field.name"
                                                           [inline]="field.inputProperties['inline']"></p-colorPicker>
                                        </div>
                                    </div>
                                    <input pInputText type="text" maxlength="7" class="w-full" id="field_{{ field.name }}"
                                           [formControlName]="field.name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /color -->

                    <!-- file -->
                    <ng-container *ngSwitchCase="'file'">
                        <app-file-widget
                            [formControlName]="field.name"
                            [fieldTitle]="field.title"
                            [fieldName]="field.name"
                            [hasPreviewImage]="field.inputProperties.has_preview_image"
                            [allowedExtensions]="field.inputProperties.allowed_extensions"
                            [(files)]="files"></app-file-widget>
                    </ng-container>
                    <!-- /file -->

                    <!-- categories -->
                    <div *ngSwitchCase="'categories'">
                        <div class="mb-2">
                            <label for="field_{{ field.name }}">
                                {{field.title}}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div>
                            <p-tree selectionMode="checkbox"
                                    scrollHeight="300px"
                                    [value]="categoriesTree"
                                    [(selection)]="categoriesSelection[field.name]"
                                    [loading]="loadingCategories"
                                    [layout]="field.inputProperties.layout"
                                    [loadingIcon]="'icon-loader'"
                                    (onNodeSelect)="categorySelect(field.name)"
                                    (onNodeUnselect)="categorySelect(field.name)"></p-tree>
                        </div>
                    </div>
                    <!-- /categories -->

                    <!-- parameters -->
                    <ng-container *ngSwitchCase="'parameters'">
                        <div class="mb-2">
                            <label for="field_{{field.name}}">
                                {{field.title}}
                                <span class="text-500">({{ field.name }})</span>
                                <span class="text-orange-500" *ngIf="field.required">*</span>
                            </label>
                        </div>
                        <div [formArrayName]="field.name">
                            <p-table styleClass="p-datatable-sm" [value]="arrayFields[field.name].controls">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            {{ field.inputProperties.names[0] | translate }}
                                        </th>
                                        <th>
                                            {{ field.inputProperties.names[1] | translate }}
                                        </th>
                                        <th>
                                            {{ field.inputProperties.names[2] | translate }}
                                        </th>
                                        <th>
                                            {{ field.inputProperties.names[3] | translate }}
                                        </th>
                                        <th></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-option let-rowIndex="rowIndex">
                                    <tr [formGroupName]="rowIndex + ''">
                                        <td>
                                            <input type="text" class="p-inputtext-sm w-full" pInputText>
                                        </td>
                                        <td>
                                            <input type="text" class="p-inputtext-sm w-full" pInputText>
                                        </td>
                                        <td>
                                            <input type="text" class="p-inputtext-sm w-full" pInputText>
                                        </td>
                                        <td>
                                            <input type="text" class="p-inputtext-sm w-full" pInputText>
                                        </td>
                                        <td>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-times"
                                                    [pTooltip]="'DELETE' | translate"
                                                    tooltipPosition="bottom"
                                                    class="p-button-raised p-button-rounded p-button-secondary p-button-sm"
                                                    (click)="parametersRemove(field.name, rowIndex, $event)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <button type="button" pButton pRipple icon="pi pi-plus"
                                                    class="p-button-secondary p-button-sm"
                                                    [label]="'ADD' | translate"
                                                    (click)="parametersAdd(field.name, $event)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </ng-container>
                    <!-- /parameters -->
                    
                </div>
            </div>
        </div>

    </p-tabPanel>
</p-tabView>
