<div class="border-1 border-400 border-round" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event);">
    <div [ngClass]="{'min-height110': largeFieldMode}">
        <div [style.minHeight]="largeFieldMode ? '35px': 0">
            <div class="text-600 p-2" *ngIf="fieldTitle">
                <label for="field_{{ fieldName }}">
                    {{ fieldTitle }}
                    <span class="text-500" *ngIf="fieldName">({{ fieldName }})</span>
                    <span class="text-orange-500" *ngIf="required">*</span>
                </label>
            </div>
        </div>
        <div class="text-center">
            <ng-container *ngIf="allowMultiple; else fileInputTemplate">
                <input type="file" id="field_{{ fieldName }}"
                       [name]="fieldName"
                       [accept]="allowedExtensions"
                       multiple
                       style="display:none;"
                       (change)="fileChange($event)" #fileInput>
            </ng-container>
            <ng-template #fileInputTemplate>
                <input type="file" id="field_{{ fieldName }}"
                       [name]="fieldName"
                       [accept]="allowedExtensions"
                       style="display:none;"
                       (change)="fileChange($event)" #fileInput>
            </ng-template>
            <div class="mx-auto relative" [ngClass]="{'show-on-hover-parent': hasPreviewImage && fileName}" style="width: 265px; min-height: 40px;">
                <div class="text-center" [style.display]="hasPreviewImage && fileName ? 'block' : 'none'">
                    <img [src]="imageUrl" alt="Preview" class="img-thumbnail" style="width: 265px;" #imgPreview>
                </div>
                <div class="file-buttons w-full text-center show-on-hover-child">
                    <button type="button" pButton pRipple
                            class="p-button-secondary"
                            icon="pi pi-upload"
                            [label]="'CHOOSE_FILE' | translate"
                            (click)="buttonHandler($event)"
                            (drop)="dropHandler($event)"
                            (dragover)="dragOverHandler($event)"></button>
                    <button type="button" pButton pRipple
                            class="p-button-secondary ml-2"
                            icon="pi pi-times"
                            *ngIf="fileName" [title]="'CLEAR' | translate"
                            (click)="fileClear()"></button>
                </div>
            </div>
            <div style="min-height: 35px;">
                <div class="text-600 py-3 text-overflow" *ngIf="fileName">
                    <i class="pi pi-file"></i>
                    {{ fileName }}
                </div>
            </div>
        </div>
    </div>
</div>
