<div class="layout-sidebar">
    <div class="layout-menu">
        <ul class="menu-items">
            <li *ngFor="let menuItem of menuItems" [class]="menuItem.styleClass">
                <a pRipple class="router-link-exact-active"
                    [ngClass]="{'active': menuItem.isActive}"
                    href="#{{ menuItem.route | ifEmpty: menuItem.href }}"
                    (click)="navigateRoute(menuItem, $event)"
                    *ngIf="!menuItem.isSeparator; else separatorTemplate">
                        <i [class]="menuItem.icon">
                            <i class="text-gradient-blue" [ngClass]="menuItem.icon"></i>
                        </i>
                        {{ menuItem.title | translate }}
                </a>
            </li>
        </ul>
        <div class="layout-menu-footer">
            v{{ appVersion }}
        </div>
    </div>
</div>
<div class="layout-mask" (click)="navBarToggle()"></div>

<ng-template #separatorTemplate>
    <div role="separator" class="p-divider p-divider-horizontal p-divider-solid p-divider-dark my-0">
        <div class="p-divider-content"></div>
    </div>
</ng-template>
