<div class="flex justify-content-between flex-wrap mb-3">
    <div class="flex align-items-center justify-content-center">
        <button pButton pRipple type="button" icon="pi pi-home" class="p-button-sm p-button-warning mr-2"
                [pTooltip]="'OPEN_ROOT_CATEGORY' | translate"
                tooltipPosition="bottom"
                (click)="goToRootCategory()" *ngIf="categoryId > 0"></button>
        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-sm mr-2"
                [pTooltip]="'ADD_NEW_CATEGORY' | translate"
                tooltipPosition="bottom"
                (click)="callAction('new', currentCategory)"></button>
        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-sm mr-2"
                [pTooltip]="'EDIT_CATEGORY' | translate"
                tooltipPosition="bottom"
                (click)="callAction('edit', currentCategory)"></button>
        <button pButton pRipple type="button" icon="pi pi-clone" class="p-button-sm mr-2"
                [pTooltip]="'COPY_CATEGORY' | translate"
                tooltipPosition="bottom"
                (click)="callAction('clone', currentCategory)" [hidden]="!categoryId"></button>
        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-sm mr-2"
                [pTooltip]="'DELETE_CATEGORY' | translate"
                tooltipPosition="bottom"
                (click)="deleteCategoryItemConfirm(currentCategory)" [hidden]="!categoryId"></button>
    </div>
    <div class="flex align-items-center justify-content-center">
        <ng-container *ngIf="categoriesTree[0].children">
            <button pButton pRipple type="button" icon="pi pi-angle-double-down" class="p-button-sm p-button-secondary"
                    [pTooltip]="'EXPAND_ALL' | translate"
                    tooltipPosition="bottom"
                    (click)="expandAll($event)"></button>
            <button pButton pRipple type="button" icon="pi pi-angle-double-up" class="p-button-sm p-button-secondary ml-2"
                    [pTooltip]="'COLLAPSE_ALL' | translate"
                    tooltipPosition="bottom"
                    (click)="collapseAll($event)"></button>
        </ng-container>
    </div>
</div>

<div>
    <p-tree scrollHeight="350px"
            [value]="categoriesTree[0].children"
            [loading]="loading"
            [emptyMessage]="'NO_CATEGORIES' | translate"
            [selectionMode]="'single'"
            [(selection)]="currentCategoryNode"
            [filter]="true"
            (onNodeSelect)="openCategory($event)"></p-tree>
</div>
