<div>
    <div class="mb-3">
        <div class="border" id="editor-json"></div>
    </div>

    <p-message styleClass="block w-full text-left mb-3" severity="error"
               [text]="errorMessage"
               *ngIf="errorMessage"></p-message>

    <div class="grid mt-2">
        <div class="col-12 md:col-6">
            <button pButton pRipple type="button" [label]="'SAVE' | translate" icon="pi pi-check"
                    class="p-button-success p-button-raised w-full"
                    (click)="saveData($event)"></button>
        </div>
        <div class="col-12 md:col-6">
            <button pButton pRipple type="button" [label]="'CLOSE' | translate"
                    class="p-button-secondary p-button-raised w-full"
                    (click)="closeModal($event)"></button>
        </div>
    </div>
</div>
