<div class="mb-3">
    <app-file-widget
        fieldName="files"
        [allowMultiple]="true"
        [allowedExtensions]="'.jpg,.jpeg,.png,.gif'"
        #filesWidget></app-file-widget>
</div>

<p-message styleClass="block w-full text-left mb-3" severity="info"
           [text]="messageText | translate"
           *ngIf="messageText"></p-message>

<p-message styleClass="block w-full text-left mb-3" severity="error"
           [text]="errorMessage"
           *ngIf="errorMessage"></p-message>

<div class="text-center pt-3">
    <div class="grid">
        <div class="col-12 md:col-6 pb-0">
            <button pButton pRipple type="button" [label]="'UPLOAD' | translate" icon="pi pi-check"
                    class="p-button-success p-button-raised w-full mb-2 md:mb-0"
                    (click)="submitHandler($event)"></button>
        </div>
        <div class="col-12 md:col-6 pb-0">
            <button pButton pRipple type="button" [label]="'CLOSE' | translate"
                    class="p-button-secondary p-button-raised w-full"
                    (click)="dismissModal($event)"></button>
        </div>
    </div>
</div>

<div class="loading-overlay" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
