<div class="mb-3">
    <label class="mb-2 hidden" for="fieldTextValue">
        {{ labelText | translate }}
    </label>
    <div class="p-inputgroup mb-3">
        <input type="text" pInputText class="w-full" id="fieldTextValue" #inputElement [(ngModel)]="textValue">
        <span class="p-inputgroup-addon" *ngIf="fileExtension">.{{ fileExtension }}</span>
    </div>
</div>

<p-message styleClass="block w-full text-left mb-3" severity="error"
           [text]="errorMessage"
           *ngIf="errorMessage"></p-message>

<div class="text-center pt-3">
    <div class="grid">
        <div class="col-12 md:col-6 pb-0">
            <button pButton pRipple type="button" [label]="'SAVE' | translate" icon="pi pi-check"
                    class="p-button-success p-button-raised w-full mb-2 md:mb-0"
                    (click)="saveHandler($event)"></button>
        </div>
        <div class="col-12 md:col-6 pb-0">
            <button pButton pRipple type="button" [label]="'CLOSE' | translate"
                    class="p-button-secondary p-button-raised w-full"
                    (click)="dismissModal($event)"></button>
        </div>
    </div>
</div>

<div class="loading-overlay" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
