<p-treeSelect
    [inputId]="inputId"
    [(ngModel)]="currentCategoryNode"
    (ngModelChange)="onCategorySelect()"
    [options]="categoriesTree"
    [filter]="true"
    [placeholder]="'PARENT_FOLDER' | translate">
    <ng-template pTemplate="header" *ngIf="showHeaderButtons">
        <div class="surface-50 width420 pt-3 px-3">
            <div class="flex justify-content-between flex-wrap">
                <div class="flex align-items-center justify-content-center">
                    <button pButton pRipple type="button" icon="pi pi-home" class="p-button-sm p-button-warning mr-2"
                            [pTooltip]="'OPEN_ROOT_CATEGORY' | translate"
                            tooltipPosition="bottom"
                            (click)="goToRootCategory()" *ngIf="currentId > 0"></button>
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-sm mr-2"
                            [pTooltip]="'ADD_NEW_CATEGORY' | translate"
                            tooltipPosition="bottom"
                            (click)="callAction('new')"></button>
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-sm mr-2"
                            [pTooltip]="'EDIT_CATEGORY' | translate"
                            tooltipPosition="bottom"
                            (click)="callAction('edit')"></button>
                    <button pButton pRipple type="button" icon="pi pi-clone" class="p-button-sm mr-2"
                            [pTooltip]="'COPY_CATEGORY' | translate"
                            tooltipPosition="bottom"
                            (click)="callAction('clone')" [hidden]="!currentId"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-sm p-button-danger mr-2"
                            [pTooltip]="'DELETE_CATEGORY' | translate"
                            tooltipPosition="bottom"
                            (click)="deleteCategoryItemConfirm()" [hidden]="!currentId"></button>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <ng-container *ngIf="categoriesTree[0].children">
                        <button pButton pRipple type="button" icon="pi pi-angle-double-down" class="p-button-sm p-button-secondary"
                                [pTooltip]="'EXPAND_ALL' | translate"
                                tooltipPosition="bottom"
                                (click)="expandAll($event)"></button>
                        <button pButton pRipple type="button" icon="pi pi-angle-double-up" class="p-button-sm p-button-secondary ml-2"
                                [pTooltip]="'COLLAPSE_ALL' | translate"
                                tooltipPosition="bottom"
                                (click)="collapseAll($event)"></button>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="value" let-placeholder>
        <div class="text-overflow">
            <i class="pi pi-folder mr-2"></i>
            <span *ngIf="placeholder">{{ placeholder.label }}</span>
        </div>
    </ng-template>
</p-treeSelect>
