<div class="card mb-3">
    <div class="p-2">
        <form action="" method="get">
            <div class="float-right">
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-secondary active">
                        <input type="radio" name="list" value="1" autocomplete="off" checked>
                        <i class="icon-grid2"></i>
                    </label>
                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="list" value="2" autocomplete="off">
                        <i class="icon-list"></i>
                    </label>
                </div>
            </div>
            <div class="form-inline">
                <label for="catalogSortBy">Сортировать по</label>
                &nbsp;
                <select class="form-control form-control-sm" id="catalogSortBy" name="sortby">
                    <option value="new" selected="selected">Новизне</option>
                    <option value="price_asc">Увеличению цены</option>
                    <option value="price_desc">Уменьшению цены</option>
                    <option value="name">Названию</option>
                </select>
            </div>
        </form>
    </div>
</div>