<div class="position-relative modal-on-maximized">
    <div class="tabs-top">
        <button type="button" class="btn btn-outline-primary btn-sm d-block"
                [disabled]="submitted"
                (click)="closeModal($event)">
            <i class="icon-cross mr-1"></i>
            <span>{{'CLOSE' | translate}}</span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-sm d-block"
                [disabled]="submitted"
                (click)="minimize($event)">
            <i class="icon-minimize mr-1"></i>
            <span>{{'MINIMIZE' | translate}}</span>
        </button>
    </div>
</div>
<div class="modal-header d-block">
    <div class="position-relative modal-on-minimized">
        <div class="pos-absolute-right">
            <button type="button" class="btn btn-no-border btn-sm-sm" [title]="'EXPAND' | translate" (click)="maximize($event)">
                <i class="icon-maximize"></i>
            </button>
            <button type="button" class="btn btn-no-border btn-sm-sm ml-1" [title]="'CLOSE' | translate" (click)="closeModal($event)">
                <i class="icon-cross"></i>
            </button>
        </div>
    </div>
    <h4 class="modal-title text-overflow mr-5">{{modalTitle}}</h4>
</div>

<form [formGroup]="form" method="post" (ngSubmit)="onSubmit()" [ngClass]="{'no-events': submitted}" #formEl>

    <div class="modal-body py-0" [class.loading]="loading">

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group form-group-message">
                    <label class="label-filled">
                        {{'EMAIL' | translate}}
                    </label>
                    <input type="text" class="form-control" autocomplete="off"
                            formControlName="email"
                            [ngClass]="{'is-invalid': form.controls.email.touched && !form.controls.email.valid}">
                    <div *ngIf="formErrors.email" class="alert alert-danger">
                        {{formErrors.email}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group form-group-message">
                    <label class="label-filled">
                        {{'FULL_NAME' | translate}}
                    </label>
                    <input type="text" class="form-control" autocomplete="off"
                            formControlName="fullName"
                            [ngClass]="{'is-invalid': form.controls.fullName.touched && !form.controls.fullName.valid}">
                    <div *ngIf="formErrors.fullName" class="alert alert-danger">
                        {{formErrors.fullName}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group form-group-message">
                    <label class="label-filled">
                        {{'PHONE' | translate}}
                    </label>
                    <input type="text" class="form-control" formControlName="phone" autocomplete="off">
                    <div *ngIf="formErrors.phone" class="alert alert-danger">
                        {{formErrors.phone}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group form-group-message">
                    <label class="label-filled">
                        {{'ROLE' | translate}}
                    </label>
                    <select class="custom-select"
                            formControlName="role"
                            [ngClass]="{'is-invalid': form.controls.role.touched && !form.controls.role.valid}">
                        <ng-container *ngFor="let role of userRoles$ | async">
                            <option [value]="role.name">{{role.title}}</option>
                        </ng-container>
                    </select>
                    <div *ngIf="formErrors.password" class="alert alert-danger">
                        {{formErrors.password}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group form-group-message">
                    <label class="label-filled">
                        {{'PASSWORD' | translate}}
                    </label>
                    <input type="password" class="form-control" autocomplete="off"
                           formControlName="password"
                           [ngClass]="{'is-invalid': form.controls.password.touched && !form.controls.password.valid}">
                    <div *ngIf="formErrors.password" class="alert alert-danger">
                        {{formErrors.password}}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group form-group-message">
                    <label class="label-filled">
                        {{'CONFIRM_PASSWORD' | translate}}
                    </label>
                    <input type="password" class="form-control" autocomplete="off"
                           formControlName="confirmPassword"
                           [ngClass]="{'is-invalid': form.controls.confirmPassword.touched && !form.controls.confirmPassword.valid}">
                    <div *ngIf="formErrors.confirmPassword" class="alert alert-danger">
                        {{formErrors.confirmPassword}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="card card-body p-2 pl-3">
                        <div class="custom-control custom-checkbox m-0">
                            <input type="checkbox" class="custom-control-input" id="fieldIsActive{{ model.id }}" value="1" formControlName="isActive">
                            <label class="custom-control-label" for="fieldIsActive{{ model.id }}">{{'ACTIVE' | translate}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ngb-accordion [closeOthers]="true" activeIds="accordion-user-options" class="ngb-accordion">
            <ngb-panel id="accordion-user-options" [title]="'OPTIONS' | translate">
                <ng-template ngbPanelContent>

                    <div formArrayName="options">
                        <table class="table table-bordered mb-0">
                            <colgroup>
                                <col width="27%">
                                <col width="27%">
                                <col width="39%">
                                <col width="7%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>{{ 'SYSTEM_NAME' | translate }}</th>
                                    <th>{{ 'NAME' | translate }}</th>
                                    <th>{{ 'VALUE' | translate }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="arrayFields.options">
                                <tr [formGroupName]="i + ''" *ngFor="let option of arrayFields.options.controls; let i=index">
                                    <td>
                                        <input type="text" class="form-control form-control-sm"
                                               formControlName="name"
                                               [ngClass]="{'is-invalid': option.controls.name.touched && !option.controls.name.valid}">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm"
                                               formControlName="title"
                                               [ngClass]="{'is-invalid': option.controls.title.touched && !option.controls.title.valid}">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" class="form-control form-control-sm"
                                               formControlName="value"
                                               [ngClass]="{'is-invalid': option.controls.value.touched && !option.controls.value.valid}">
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                                ngbTooltip="{{'DELETE' | translate}}"
                                                (click)="arrayFieldDelete('options', i, $event)">
                                            <i class="icon-cross"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr class="bg-faded">
                                    <td colspan="4" class="text-center">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                                (click)="arrayFieldAdd('options', $event)">
                                            <i class="icon-plus"></i>
                                            &nbsp;
                                            <span>{{'ADD' | translate}}</span>
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </ng-template>
            </ngb-panel>
        </ngb-accordion>

        <div class="alert alert-danger mt-3 mb-0" *ngIf="errorMessage">
            <button type="button" class="close" (click)="errorMessage = ''">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorMessage}}
        </div>

    </div>
    <div class="modal-footer display-block">
        <div class="float-right" *ngIf="allowImpersonation">
            <a class="btn btn-primary" href="{{baseUrl}}?_switch_user={{model.email}}">
                <span>{{'IMPERSONATION' | translate}}</span>
            </a>
        </div>
        <div class="btn-group mr-1">
            <button type="button" class="btn btn-success btn-wide" [disabled]="submitted" (click)="save(true, $event)">
                <span>{{'SAVE_AND_CLOSE' | translate}}</span>
            </button>
            <div class="btn-group" ngbDropdown role="group" placement="top-right">
                <button type="button" class="btn btn-success dropdown-toggle-split" ngbDropdownToggle [disabled]="submitted"></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button type="button" ngbDropdownItem (click)="save(false, $event)">{{'SAVE' | translate}}</button>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary btn-wide" (click)="closeModal($event)">
            <span>{{'CLOSE' | translate}}</span>
        </button>
    </div>

</form>
