<div class="card">
    <div class="card-body">

        <h3>
            <i class="icon-head"></i>
            {{'USERS' | translate}}
        </h3>
        <hr>

        <div class="mb-3">
            <div class="float-md-left">

                <div class="form-control-search mb-2 mb-md-0" [ngClass]="{'form-control-search-clear': !!queryOptions.search_word}">
                    <input type="text" class="form-control min-width250" placeholder="{{ 'SEARCH' | translate }}..." [(ngModel)]="queryOptions.search_word" (ngModelChange)="onSearchWordUpdate()">
                    <span (click)="onSearchWordUpdate('')"></span>
                </div>

            </div>
            <div class="float-md-right">

                <div ngbDropdown class="d-block d-md-inline-block mb-2 mb-md-0" placement="bottom-right">
                    <button class="btn btn-info d-block d-md-inline-block width-100 width-md-auto" ngbDropdownToggle>
                        <span>{{'BATCH_ACTIONS' | translate}}</span>
                    </button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item" (click)="blockSelected()">{{'DISABLE_ENABLE' | translate}}</button>
                        <button class="dropdown-item" (click)="deleteSelected()">{{'DELETE' | translate}}</button>
                    </div>
                </div>

                <button type="button" class="btn btn-success btn-wide d-block d-md-inline-block width-100 width-md-auto ml-md-2 mb-2 mb-md-0" (click)="modalOpen()">
                    <i class="icon-plus"></i>
                    &nbsp;
                    <span>{{'ADD' | translate}}</span>
                </button>

            </div>
            <div class="float-left">



            </div>
            <div class="clearfix"></div>
        </div>

        <div class="min-height400">
            <app-table [items]="items"
                       [(selectedIds)]="selectedIds"
                       [collectionSize]="collectionSize"
                       [queryOptions]="queryOptions"
                       [tableFields]="tableFields"
                       [(loading)]="loading"
                       [isCloneAllowed]="false"
                       (actionRequest)="actionRequest($event)"
                       (changeRequest)="changeRequest($event)" #table></app-table>
        </div>

    </div>
</div>