<div id="carouselImageGallery" class="carousel slide mb-3" data-ride="false" data-interval="false">

    {% if fileFields | length > 1 %}
        <ol class="carousel-indicators carousel-indicators-inverted">
            {% for fieldName in fileFields|keys %}
                <li data-target="#carouselImageGallery" data-slide-to="{{ loop.index0 }}"{% if fieldName == fieldBaseName %} class="active"{% endif %}></li>
            {% endfor %}
        </ol>
    {% endif %}

    <div class="carousel-inner border">

        {% if fileFields | length > 0 %}
            {% for fieldName in fileFields|keys %}
                <div class="carousel-item{% if fieldName == fieldBaseName %} active{% endif %}">
                    {% if fileFields[fieldName] is not empty %}
                        <a data-toggle="modal" data-target="#imageModal" href="{{ imageUrl(fileFields[fieldName]) }}" target="_blank">
                            <img class="d-block w-100" src="{{ imageUrl(fileFields[fieldName]) | imagine_filter('thumb_medium') }}" alt="">
                        </a>
                    {% else %}
                        <img src="/img/nofoto.png" alt="" style="width: 100%;">
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <img src="/img/nofoto.png" alt="" style="width: 100%;">
        {% endif %}

    </div>

    {% if fileFields | length > 1 %}
        <a class="carousel-control-prev carousel-control-icon" href="#carouselImageGallery" role="button" data-slide="prev">
            <i class="icon-keyboard_arrow_left"></i>
        </a>
        <a class="carousel-control-next carousel-control-icon" href="#carouselImageGallery" role="button" data-slide="next">
            <i class="icon-keyboard_arrow_right"></i>
        </a>
    {% endif %}
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="imageModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img class="d-block w-100" src="" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close' | trans }}</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        jQuery('#imageModal')
            .on('show.bs.modal', function (e) {
                var $modal = jQuery('#imageModal'),
                    currentImageUrl = jQuery('#carouselImageGallery')
                        .find('.carousel-item.active a').attr('href');

                $modal
                    .find('.modal-dialog').css({maxWidth: '990px'})
                    .find('img').attr('src', currentImageUrl);
            });
    });
</script>