<div class="image-wrapper mb-2">
    <a class="d-block" href="{{ catalogPath(currentCategoryUri, systemName, itemData, 'categories') }}">
        <img class="d-block w-100" src="{{ imageUrl(data) | imagine_filter('thumb_small') }}" alt="">
    </a>
</div>