<div class="image-wrapper mb-2">
    <a href="{{ catalogPath(currentCategoryUri, systemName, itemData, 'categories') }}">
        <img src="/img/nofoto.png" alt="No photo" class="w-100 rounded-big" style="max-width: 100%;">
    </a>
</div>
