{% if value is not empty %}
<div class="mb-1">
    <span class="star-rating-value{{ value | round }}" title="{{ 'Product rating: %rating% of 5' | trans({'%rating%': value}) }}"></span>
</div>
{% endif %}