<div class="modal-header d-block">
    <div class="d-block float-right">
        <button type="button" class="btn btn-secondary" [disabled]="submitted" (click)="activeModal.dismiss()">
            <span>{{'CLOSE' | translate}}</span>
        </button>
    </div>
    <h4 class="modal-title">{{ modalTitle }}</h4>
</div>

<div class="modal-body py-0" [class.loading]="loading">

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-filled">
                    {{'NAME' | translate}}
                </label>
                <input type="text" class="form-control" name="name" [(ngModel)]="model.name">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-filled">
                    {{'PATH' | translate}}
                </label>
                <input type="text" class="form-control" name="path" [(ngModel)]="model.path" [readonly]="isPathReadOnly">
            </div>
            <div class="form-group">
                <div class="card card-body p-2 pl-3">
                    <div class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input" id="fieldClearCache" name="clearCache" [(ngModel)]="model.clearCache">
                        <label class="custom-control-label" for="fieldClearCache">{{'CLEAR_SYSTEM_CACHE' | translate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group mb-0">
        <label class="label-filled">
            {{'CODE' | translate}}
        </label>
        <div class="border" id="editor" #editor></div>
    </div>

    <div class="alert alert-danger mt-3 mb-0" [hidden]="!errorMessage">
        <button type="button" class="close" (click)="errorMessage = ''">
            <span aria-hidden="true">&times;</span>
        </button>
        {{errorMessage}}
    </div>

</div>
<div class="modal-footer d-block">
    <button type="button" class="btn btn-success btn-wide" [disabled]="submitted" (click)="save()">
        <span>{{'SAVE' | translate}}</span>
    </button>
    <button type="button" class="btn btn-secondary btn-wide" [disabled]="submitted" (click)="activeModal.dismiss()">
        <span>{{'CANCEL' | translate}}</span>
    </button>
</div>
